[2018-11-12 21:41] #405 closed, assigned to nobody

[2018-11-12 22:03] rowild opened #406 "General question about utility classes and mobile-first approach"
I would love to read your opinion about the following (which is most likely not new to you and probably was already discussed here somewhere - I did search, but not correctly it seems...)

In a recent question, posted here: https://github.com/inuitcss/inuitcss/issues/405, I tried to find out, how to restrict certain utility classes (mainly the u-padding and u-margin classes, to one state only - th

[2018-11-15 13:38] rowild commented on #406
nobody?

[2018-11-15 15:34] florianbouvot commented on #406
@rowild sorry, I will give you my opinion soon (not enough time now).

[2018-11-15 23:08] rowild opened #407 "Question: o-ratio has no overflow: hidden - why?"
It's the first time that I use `.o-ratio`. What a great idea you had here - awesome!!! Congrats!

Is there a reason, why the `.o-ratio` does not have an `overflow:hidden` attribute? In my test, I put a 16:9 image into a 16:10 frame. The result: the complete image ist shown. My expectation was that the image gets cropped, though...

(I know: I can always write my own objects. But I would just like

[2018-11-15 23:20] #407 closed, assigned to nobody

[2018-12-05 17:53] herzinger commented on #404
I don't know what to say... You can use it with postCSS (in fact, you should use it, or something similar), so the title question's answer is a simple "yes". Now the how, it's well... The same way you would use it for any sass project. The framework affects exactly nothing of the process.

[2018-12-05 17:58] herzinger commented on #405
Yeah, stackoverflow is the place for this kind of thing, even more when it has nothing to do with inuitcss.

[2018-12-05 18:13] herzinger commented on #406
My opinion on this is based on my own experience designing and developing on the wild. If I came across a situation similar to the one you described (in which I had to reset a property for the next breakpoint) five or so times in my entire career, it's more than I remember. But let's think about it:

Not that I'm aware, no.

Your approach doesn't reduce css at all. It can, in some edge cases, redu

[2018-12-05 18:16] herzinger commented on #407
The behavior you are expecting is what the crop object exists for, not the ratio one. Crop object crops the content, ratio enforces aspect ratio only.

[2018-12-05 18:24] rowild commented on #404
This postCSS topic confused me because of the autoprefixer topic. I was of the assumption that SCSS is already taking care of that and therefore thought that postCSS is adding another such step, which isn't needed. I guess it just happens after many years of SCSS usage and a working gulp setup that one forgets the one or other detail :-)
Thanks for responding! Closing the issue.

[2018-12-05 18:24] #404 closed, assigned to nobody

[2018-12-05 19:19] rowild commented on #406
@herzinger You almost never have the situation, where you needed to clear a `u-margin-bottom-small@mobile`-like class? Like a one-col-footer that turns into a 3-col on desktop?

Maybe an example helps for discussion (usual abbreviations: "mb" = "margin-bottom", n = none, m = mobile, d = desktop...):

[code]

This example demonstrates that the 3 columns need a bottom margin when they are in mobile

[2018-12-05 19:19] rowild commented on #407
Got it! Thanks for the clarification!

[2018-12-06 17:38] herzinger commented on #406
Okay, lets go with your example. First of all, I rarely ever use `@mobile` classes. Those are mostly for little hard to do adjustments for mobile only, and even then only if you can't avoid it. In mobile-first, the mobile layout is the norm. Also, what I call lazy is using utilities everywhere just to not have to write css. So I would write this code something like this:

[code]

[code]

[2018-12-06 19:12] florianbouvot commented on #407
For performance reasons, I think crop of images must be done with another tools 😉
But ratio with lazy loading looks good to "reserve" space.

[2018-12-06 19:26] florianbouvot commented on #404
For years I work with Gulp and use `gulp-sass` for SCSS things and `gulp-postcss` + some plugins for optimisations (vendor prefix, minify, ...).

I think you can use a full PostCSS workflow and work with SASS via `postcss-node-sass`.

_You can take a look to [my Gulp setup](https://github.com/florianbouvot/aperitif)_

[2018-12-06 19:45] florianbouvot commented on #406
Unlike @herzinger, I use a lot of utilities in some project _(and I like that)_ but I agree with him about mobile first approach.

I tried the "one state only" some years ago but I need to add lot of class to inherit style.
So I prefer to inherit by default and reset when needed (simple for my mind).

About you example, for basic use case I'ill only remove the bottom margin on `c-footer` and I thi

[2018-12-06 22:48] rowild commented on #407
@florianbouvot I prepared my scissors already... ;-)

[2018-12-06 22:51] rowild commented on #404
@florianbouvot Awesome! Thanks so much for sharing! I switched to webpack, but every once in a while a good gulp is just irreplaceable.

[2018-12-06 23:23] rowild commented on #406
Great feedback here! Thank you so much for taking the time!!!

@herzinger

You say `mobile only` - which is not the case with those classes discussed here. They are not mobile-only, instead, they affect every breakpoint.
To me it seems, that, what you are saying here, is actually just one more reason, why responsive utility classes should be constrained to the breakpoint they are intended for. Cur

[2018-12-07 00:11] herzinger commented on #404
I fucking hate gulp.

[2018-12-07 06:28] rowild commented on #404
@herzinger Why? And what do you use as a taskmanager / module builder?

[2018-12-07 15:00] herzinger commented on #404
There's nothing you would do with gulp or something similar that you can't do with pure npm scripts, which are faster and easier to maintain. If the project is complex enough that I need something, I use webpack.

[2018-12-07 22:10] rowild commented on #404
Ah... well... you sounded so serious... :-)

[2018-12-28 13:43] rowild commented on #406
I guess there will not be anymore feedback on this topic here. I therefore close this issue.

[2018-12-28 13:43] #406 closed, assigned to nobody

[2018-12-28 13:47] rowild commented on #372
@florianbouvot How do you think about changing all padding/Margin values to em in v7?

[2018-12-28 14:05] florianbouvot commented on #372
@rowild I think it's not a good idea, I think it's better to px or rem unit for padding and margin : easier to manage, predict...

[2018-12-28 14:14] rowild commented on #372
Yes, rem of course. But currently inuitcss does not generate rem values for padding and margin, right? Or am I overseeing something?

[2018-12-28 16:39] kkalvaa commented on #380
Layout should be using grid, not flexbox by now. With 88.35% global support according to Can I Use (https://caniuse.com/#search=grid) grid is now mature enough to be the preferred method for laying out content in 2 dimensions. Flex is great for 1 dimension, but comes up short in 2.

Then again I'd argue grid has removed the need for a grid system in a css framework.

[2018-12-28 18:18] solleer commented on #380
Layout does not specify how many rows there are while the grid property requires that to be set ahead of time. They fulfill different uses.

[2018-12-31 21:44] kkalvaa commented on #380
No, you do not. The browser will create as many implicit rows as necessary. Ref.: https://gridbyexample.com/examples/example10/

If you define a 4 column grid and put 12 children in there the browser will then automatically create 3 rows. If one of those children is set to span 4 columns the grid will now have 4 rows without you setting anything. You can also set a child to span X rows, something

[2018-12-31 22:09] kkalvaa commented on #395
Late to the discussion here, but: I do not think inuit.css should be fixed on one predefined baseline grid over another, especially when the baseline already is configurable.

Baseline grid is an old typographic principle, same with vertical rhythm. Having them is a GOOD thing in your design as it make everything more harmonious, however: no designer ever have enjoyed getting locked in to one pred

[2019-01-10 16:06] herzinger commented on #380
As you said, there's no need for a framework structure to use css grids. Inuitcss is fully modular, if you feel comfortable using grid for everything, simply don't import the layout object.

[2019-01-28 10:26] ajshortt opened #408 "Responsive vertical spacing object"
Over the last year or so, I keep adding a useful object of my own which helps utilise the spacing variables in the form of vertical padding. Much like the `o-box`, the proposed object applies padding to the desired element.

I know this might be another custom extension of inuit that won't be included in the package but as I keep using it, I felt I would share anyway.

**The Problem**
I often get

[2019-01-28 10:34] rowild commented on #408
Sound exactly like the situations I find myself in very often. Would like to know you solution. Do you have any code to share?

[2019-01-28 11:26] ajshortt commented on #408
@rowild I've just posted a PR. You're probably like me and hate trying to remember and putting...
[code]
So this instead allows the developer to map out common spacing patterns. I typically add these settings during the design to dev handover where we identify these patterns together. Unless there are edge-cases, this helps iron-out any inconsistencies.

So the above would look like
[code]

What a

[2019-01-28 13:20] herzinger commented on #408
Maybe I didn't understand it right, and I did just take a quick look, but I fail to see how this would be better or simpler than adding you own classes in the components - or even objects - level, or a custom mixim, even... I have to look at what code this generates later, but on a gut level, it sounds quite roundabout.

[2019-01-28 13:35] ajshortt commented on #408
@herzinger I agree that it is simple to add these to own components but the point here is that you can abstract shared values and define patterns of spacings. So instead of `c-component-x`, `c-component-y`, `c-component-z` all having their own styles **and** their spacing, they would instead focus on their respective component self whilst leaving the vertical spacing the `o-vertical-spacer` object

[2019-01-28 13:38] herzinger commented on #395
Making it fixed was never part of this discussion. When I introduced the current vertical flow system a while back, with the font-size and settings core refactoring, I made sure to make it easy to change, with the baseline factor and multipliers variables. As I said before, in the long running project I work with at my job, I myself use a different scale following a design decision.

That being sa

[2019-01-28 13:51] herzinger commented on #408
Yes, abstracting patterns is a good thing, and I did add the objects layer to the options because that is what it's for. The concept is solid, my issue is with the implementation and whether it should be a part of the framework or a per project addition. Maybe it would be better as a pure mixim instead of an object? I'm on my phone right now, going to work. I'll be able to form a better opinion by

[2019-01-28 14:02] ajshortt commented on #408
Sure thing @herzinger. I can have another crack at making it a mixin for you and also look at making the setting a little more ingrained into the framework as an option instead of a partial settings file.

[2019-01-28 14:08] ajshortt commented on #395
I do feel that as it is customisable then this isn't really an issue as all projects are different. I do, however, agree that 8px is the most popular within designers, and has its benefits over a 6px or 10px.

Firstly, 8px is the most divisible out of the three baselines on the most popular device sizes. I've extended a diagram and added the 6px to illustrate.

![baseline-resolution-table](https:/

[2019-01-28 15:06] herzinger commented on #395
The divisibility of screen sizes is just a math factoid. It doesn't matter at all, even if you ignore the fact you shouldn't really design for specific screen sizes, as one of the main principles of responsive design. To begin with, your workspace is defined by the browser, not the screen, so your baseline is not garanted to align with the "fold" no matter what. The same goes for the font size: it

[2019-01-28 18:56] ajshortt commented on #408
Ok, so this has been changed a little. The vertical spacer object has been removed and the spacing settings variable is now within the global.settings.scss file.

Instead, a mixin has been made which applies the same concept as the vertical spacer but allows the developer to use in objects and components where they see fit.

@herzinger Let me know your thoughts. Cheers

[2019-01-28 22:57] herzinger commented on #408
Okay, this is definitely better. There's some room for improvement still. Some things:

1. the name `$inuit-responsive-spacing-sizes` is alteady used, in `_utilities.responsive-spacings.scss`. Overall, that solution has some similarities with what you're trying to do, so I would look into merging both somehow, maybe. I'm not sure it's possible, but I would try.

2. You should so some verifications

[2019-01-28 23:01] ajshortt commented on #408
Thanks for the feedback @herzinger. I'm just powering my machine down for the evening but I'll pick this up tomorrow and tackle your points 👍.

Cheers!

[2019-01-28 23:05] ajshortt commented on #408
...and I completely agree with all the improving points e.g incorporating margins for example. I'll have another fresh look tomorrow then get back to you.

[2019-01-29 15:46] ajshortt commented on #408
@herzinger I've had a little blast at your points above. Here's a list of what I've done to help you review the code. Also, please point out any issues etc.

- Abstracted the values of `$inuit-spacing-directions` `$inuit-spacing-properties` and `$inuit-spacing-sizes` from `_utilities.spacings.scss` to `default` variables in  `settings.core` - Reason is so you can use these `normal` defaults in `se

[2019-01-29 16:01] ajshortt commented on #408
I'm also thinking of extending the use of these changes into other areas e.g the `o-box` with a setting allowing a developer to use the new `$inuit-responsive-spacing-maps` values for the padding of the box

[2019-01-30 14:02] herzinger commented on #408
I'm a bit strapped for time this week, but I'll take a look and get back to you as soon as I can (might have to be over the weekend, but I'll try and do it earlier). Superficially, just going by your bullet points, it sounds solid. It would be nice if @inuitcss/core could also take a look.

[2019-01-30 14:06] ajshortt commented on #408
I will be too. I'm abroad till Sunday evening so I can pick up any further refinements then. Cheers man

[2019-02-12 10:10] ajshortt commented on #408
Any update on this @herzinger ?

[2019-02-12 22:17] herzinger commented on #408
Sorry, I've been really busy as of late, so I still didn't have the time to read and test it properly. In any case, we'll need the approval of the core team for it to be merged, but I'll try and look at it this week and get back to you.

[2019-03-04 14:54] nicoqh commented on #372
Is it time to revisit https://github.com/inuitcss/inuitcss/issues/157 as well?

I'm not entirely up to date on the latest baseline grid discussions, but it still seems to me that unitless line heights should be ditched.

[2019-03-08 16:41] herzinger commented on #372
@nicoqh the current `@inuit-font-size` mixin does account for what you pointed out on that issue in its calculations tho, so it's a bit of a mute point. Maybe we could review the mixin itself eventually and make the change, as there's a chance it would make said calculations simpler, but it's not a priority in my opinion. The end result would be indistinguishable when it comes to output.

[2019-03-08 20:20] nicoqh commented on #372
Agreed!

[2019-03-21 09:59] csshugs opened #411 "Add module-specific variables"
Currently, the spacings in all the modules in inuitcss—especially in the objects layer—are created via the `$inuit-global-spacing-unit` variables. They are “baked into” the modules as they cannot be changed. This is fine as long as the user is okay with assigning the `$inuit-global-spacing-unit` for, e.g. the [default `.o-layout` variant](https://github.com/inuitcss/inuitcss/blob/eec9bcba5c98d495b

[2019-04-25 07:42] rmoestl opened #412 "Are there any example websites using newer versions of inuitcss?"
Hello!

First-time user of inuitcss here.

I use the [public repository of Harry's website](https://github.com/csswizardry/csswizardry.github.com) to learn how to use the framework. Unfortunately it's using a rather old version of inuitcss which in turn means that practical usages of some newer features are missing.

For example, I don't know how to set a custom font-size for a component (e.g., `c

[2019-04-25 08:24] rowild commented on #412
I don't know of any repo's, and the one you mention is to my knowledge out-of-date.

But I can share, what I do in such a scenario hoping that others jump in and optimize the approach.

I could think f 2 scenarios:
- Define the font-size in the specific CSS selector chain:
[code]

- Create and use a helper class:
[code]
[code]
Does this help a bit?

[2019-04-25 11:49] rmoestl commented on #412
Thanks!

Regarding the specific problem: I like the first approach more since it's closer to the `c-page-footer` declarations leading to more clarity down the road. I ended up introducing a `c-page-footer__column` that explictely sets the font-size. Not sure, if I'll stick with it though.

[2019-04-25 11:57] rowild commented on #412
For me it was a question of experience, which solution I eventually chose. Currently I go with a non-component based, global helper class solution (I guess pretty close to an atomic approach, or functional CSS), because I find myself using similar but still a bit different components that made my life difficult, when it came to naming the classes.
To be honest – a look into Tailwind and how they t

[2019-04-25 12:26] rmoestl commented on #412
I know what you mean. I'd guess nobody is going to be mad at you for saying that. In fact, I tend to think that inuitcss is somewhat orthogonal to that decision whether you're following a more component-based approach or a more utility-first approach. After all, Tailwind encourages to refactor to a component once you spot a recurring UI theme.

[2019-04-30 19:06] lhermann commented on #412
I built a page on the newest version of inuitcss, it's a custom build Wordpress theme. Here is the website https://www.joelmedia.de, and the corresponding repo https://github.com/lhermann/joel.

SCSS files here: https://github.com/lhermann/joel/tree/master/resources/assets/sass
Template files here: https://github.com/lhermann/joel/tree/master/resources/assets/sass

Hope you can find some inspirati

[2019-05-02 11:24] rmoestl commented on #412
Thanks @lhermann! I'll definitely have a look at the repo!

[2019-06-11 09:09] Jamiewarb commented on #408
Hey @herzinger!

Could I ask if anyone is looking at this issue, and what the status of it is, please? 😊

[2019-06-12 06:46] hayatbiralem commented on #408
Hey guys!

I just want to look one of inuitcss issues from my inbox for some brainstorming and this one caught my attention.

First of all thanks for whole this work.

I looked the `@inuit-responsive-spacing` mixin and it looks great.

I'm not sure that would needed but I have two thoughts.

### Map scaffolding could handle different spacing values for the same direction like
`padding-top: 60px` b

[2019-06-25 13:50] inlikealion commented on #372
Hey team, how's this going? Are there any specific needs to help increase development momentum towards the `v7` release? Any primary blockers or input needed?

Has @csswizardry addressed the direction the community-driven project is taking, or his future involvement? I think it might be cool to clarify who is helming things for this cycle so people know who to rally behind, ask for tasks, report t

[2019-07-01 08:55] ajshortt commented on #408
Hey Ömür,

I like the idea. The feature was initially created as I found myself requiring similar vertical spacing patterns and not box like spacing. As there is already `o-box` I felt that just a vertical spacer was enough but......I like the idea of making the response spacing map work on all directions or just one.

I'll look at coding your idea this week sometime then get back to you.

Cheers

[2019-08-26 14:50] herzinger commented on #412
Wow, I really should be more active here... Seems like this repository has been all but abandoned.

http://lejour.com.br/blog uses a slightly modified version of the latest inuitcss. I use it in all of my projects, but almost every one of them is private and behind an corporate authentication wall, sorry.

About @rowild's answer, I don't use either approach. To begin with, it's not recommended to

[2019-08-26 14:54] herzinger commented on #411
I already do that in my day to day work, but I use the "private notation" for the local variables. In your example it would be something like:

[code]

[2019-08-26 16:36] herzinger commented on #408
I actually prefer the vertical only approach, as horizontal spacing should, in most cases, be handled by the grid (or is specific to the object/component, like with box or buttons). But yes, being able to set different values for top and bottom is essencial.

[2019-08-26 16:49] herzinger commented on #400
@nicoqh while you have the ability to change the class naming convention for map generated classes like the spacing utilities, today the default is the more verbose one used in the whole framework. In your example it would be `u-margin-bottom-huge`.

Back on topic, the main reasons I don't like those changes are:
1. I prefer more verbose and easily distinguishable naming, even if it's longer;
2. I

[2019-09-05 17:11] inlikealion commented on #394
@florianbouvot @csswizardry @csshugs Can we close this and mark as resolved? Seems consensus is to NOT add *utilities*, but to go ahead with the separate proposal of adding an object for flex layout as per #380.

[2019-10-13 03:00] andrxs commented on #412
Maybe, this codepen could be help
https://codepen.io/collection/DmzVOM?grid_type=list

[2019-11-27 12:21] dalemartyn commented on #100
Wouldn't it make sense from an ITCSS perspective to split the print styles up in to the elements layer? So for example, _elements.tables.scss would become:

[code]

or is there a good reason not to do this?

[2019-11-29 21:17] herzinger commented on #100
- @dalemartyn

There's a whole discussion about that in this very page, including the input of @csswizardry, the author of inuit and ITCSS. If you read it all and don't agree, it's quite easy to implement your preferred way, and I encourage you to do so. That goes for anything in the framework: You should use it in the way you believe is right for you. The arguments on why it is the way it is here

[2019-11-30 12:33] dalemartyn commented on #100
hi @herzinger ,

thanks for your response. I did see the discussion on this page, but it is about putting the full print styles in the generic layer, which would cause issues as it comes before the elements layer. I was wondering about putting all the print styles in the elements layer, so they come immediately after each elements styles, and therefore won't be overridden. I agree, I can implement

[2019-12-05 20:37] herzinger commented on #100
The print styles will overwrite anything else, no matter the layer, since it's all within media-queries, so it's all a matter of semantics mostly. The idea behind ITCSS is that each layer has more specificity than the previous one, and since all the print stiles are meant to trump over anything else, it goes on the last layer, originally called 'trumps' and later renamed 'utilities'. But in practi

[2020-02-08 23:10] Jamiewarb commented on #412
Almost all the websites from https://hexdigital.com use Inuit.

The most recent example being https://whirli.com

Anyone looking for source for using certain parts of Inuit, feel free to ask me and I can send over some code for how we use them

[2020-02-10 06:49] rmoestl commented on #412
@Jamiewarb thanks, https://whirli.com looks fantastic.

[2020-04-03 09:11] csshugs commented on #396
So, after thinking about this (for over a year now 😜), I really think that inuitcss should distance itself from utility-first frameworks such as Tailwind CSS. Not that they are generally bad or promoting bad practice. Not at all! If that’s how some person wants to build their UI, that’s totally fine.

**BUT:** That’s just not the way inuitcss wants to approach things. If you like the utility-drive

[2020-04-03 09:11] #396 closed, assigned to nobody

[2020-04-03 10:22] csshugs commented on #394
Like [stated in #396](https://github.com/inuitcss/inuitcss/issues/396#issuecomment-608324676), we won’t add such utilities to inuitcss.

[2020-04-03 10:22] #394 closed, assigned to nobody

[2020-04-03 11:04] csshugs commented on #388
#401 is merged. Closing this.

[2020-04-03 11:04] #388 closed, assigned to nobody

[2020-04-03 11:06] #397 closed, assigned to nobody

[2020-04-06 11:55] csshugs commented on #408
I just riffled through this issue’s conversation again and for the life of me, I honestly cannot see any reason to add this functionality to the framework. To me, although this can be abstracted to be useful for many use cases, this is just too implementation-specific. Don’t get me wrong: this is an absolutely valid use case—it’s just not something inuitcss should handle.

As far as I initially un

[2020-04-06 11:55] #408 closed, assigned to nobody

[2020-04-06 12:12] ajshortt commented on #408
Hey @csshugs

No worries. This was started over a year ago and much has changed since then. For me, this issue is now solved by a Vue component so like you have said, this is probably a little too precise to live within the framework.

Thanks for hacking through all the issues. Keep up the good work 👍

[2020-04-07 08:39] #412 closed, assigned to nobody

[2020-04-07 08:53] csshugs commented on #411
@herzinger I like the differentiation between “local” and “global” variables. In my projects, I call them “global” and “module” variables. However I use uppercase notation for global variables and lowercase notation for module variables. But this would be a breaking change, so that’s a separate discussion for v7.

However, what I don’t like about the private notation (i.e. the underscore), is that

[2020-04-07 09:41] csshugs commented on #400
IMO, this all boils down to the fact that we need a feature to define the set, as well as the naming for each entity of the spacing’s set ourselves, i.e. configure this all in a Sass map instead of defining plain variables for the spacings.

E.g.:

[code]

This way, anyone can extend the list of spacings and name the individual variants how they want to, e.g.:

[code]

or:

[code]

[2020-04-07 09:56] csshugs commented on #395
I agree and close this issue.

[2020-04-07 09:56] #395 closed, assigned to nobody

[2020-04-07 09:58] #367 closed, assigned to nobody

[2020-04-08 05:39] csshugs commented on #371
We will leave this topic untouched for v6 and instead decide how we want to handle this for v7 in #390.

[2020-04-08 05:39] #371 closed, assigned to nobody

[2020-04-08 05:45] csshugs commented on #390
I vote for creating dedicated `_settings.<module>.scss` files in the setting layer, e.g.:

[code]

This guarantees the most modularity. Say if an inuitcss user does not need the inuitcss headings, they can choose to **not import** `_settings.headings.scss`, `_elements.headings.scss` and `_utilities.headings.scss`.

If we were to add the variables to a `_settings.global.scss` file instead, the head

[2020-04-08 06:20] csshugs commented on #358
I agree and after thinking about it for a while, I am convinced that building a custom website separate from this repository is the most pragmatic way to go. As much as I’d love to generate a website automatically from all the source files, I don’t see any tool handing this in the way we need it, which is documenting the individual modules (i.e. mostly the objects) as well as the Sass functionalit

[2020-04-08 06:20] #358 closed, assigned to csshugs

[2020-04-08 06:53] csshugs opened #414 "[objects.list-inline] Switch to flexbox"
Advantage:
- No more white space between list items

[2020-04-08 06:59] csshugs opened #415 "[generic.normalize] Use npm dependency"
Instead of copy/pasting the source code of normalize.css, we could just as well reference the npm package.

We already discussed this in the past, but dismissed it because Ruby Sass is not capable of `@import`ing regular CSS files. However, [it seems like Ruby Sass is now officially deprecated](https://sass-lang.com/ruby-sass), so I think it’s safe for us to go that route now.

[2020-04-08 07:08] csshugs commented on #372
@inlikealion
I know, I wasn’t very active here the last 2 years but you (and everyone else) can always ask me for help or feedback on any issue or idea for inuitcss.

I’m currently very confident about v6 of inuitcss. I think it works very robust, although I’m aware about the missing docs which might be a showstopper for a few potential inuitcss users. This is something I’m motivated to tackle wit

[2020-04-08 07:13] csshugs commented on #372
To come back to the original topic of this issue: I don’t think there are any more cleanup tasks for us to make that concern the support of older browsers.

[No](https://github.com/inuitcss/inuitcss/issues/396). IMO, this is not the way inuitcss was ever meant to go.

For the few utilities that we still provide, we should provide responsive variants optionally.

[2020-04-08 12:37] csshugs opened #416 "Global variables vs. module variables"
As already mentioned [in #411](https://github.com/inuitcss/inuitcss/issues/411#issuecomment-610263552), I’d like to propose a new way to notate variables. This introduces a differentiation of “global” and “module” variables. E.g.:

[code]

## What’s the benefit?

By making a differentiation in the notation, it is instantly clear what variables are global, i.e. potentially used anywhere else in the

[2020-04-09 05:27] csshugs opened #419 "Provide mixins for list-bare and list-inline"
More often than using the actual `.o-list-bare` and `.o-list-inline` objects, I create mixins for those abstractions, so I can use these on my custom components. E.g.:

[code]

This way, I can keep my markup “clean”, i.e. not mixing object and component classes.

## Proposal

By extracting the CSS of the list-bare and list-inline to mixins, we can give users the possibility to use just the mixins

[2020-04-09 10:35] florianbouvot opened #421 "Remove bower"
Bower is deprecated so I think we can remove it from v7.

[2020-04-09 13:27] csshugs commented on #421
Already done 😁
#378

[2020-04-09 13:27] #421 closed, assigned to nobody

[2020-04-13 13:58] leitemaximiano opened #422 "doubt in the code, about the layout. how to split the columns."
I read this article [Building better grid systems](https://csswizardry.com/2011/08/building-better-grid-systems/). And I didn't find the answer to my question in it

I'm studying the code. I'm in doubt where this class came from (`u-1/2`).
[code]

I didn't find that for example.
[code]

Can someone help me?

[2020-04-14 05:57] csshugs commented on #422
@maximanoLeite
These classes are generated automatically in [`_utilities.widths.scss`](https://github.com/inuitcss/inuitcss/blob/a1314e6b2f413ba162237967e905a3a7de137e85/utilities/_utilities.widths.scss).

You can define, which classes are generated via the [`$inuit-fractions` list](https://github.com/inuitcss/inuitcss/blob/a1314e6b2f413ba162237967e905a3a7de137e85/utilities/_utilities.widths.scss#

[2020-04-14 05:57] #422 closed, assigned to nobody

[2020-04-24 10:49] csshugs commented on #415
#417 is merged.

[2020-04-24 10:49] #415 closed, assigned to nobody

[2020-04-24 10:49] csshugs commented on #414
#418 is merged.

[2020-04-24 10:49] #414 closed, assigned to nobody

[2020-04-24 10:58] csshugs commented on #411
#413 is merged.

[2020-04-24 10:58] #411 closed, assigned to nobody

[2020-04-24 12:16] davidbwaters commented on #415
If SCSS were still desirable, it could be renamed with a post-install command.

[2020-04-24 16:53] herzinger commented on #372
As far as I'm aware, @csswizardry hasn't being involved with this project in any way, shape or form for more or less half a decade. I wouldn't be surprised to hear that he isn't even using it for a while, to be honest. From the time I got more involved with it a bunch of year ago, he wasn't even mentioning it much or at all, nevermind showing up in the repo, be it with code or in the issues, and t

[2020-04-24 17:06] herzinger commented on #419
While I won't say "don't do it", I'll point out that this kills the concept of an object per the ITCSS model. It removes the code from the objects layer and repeat it n times in the components one instead, making it non-abstract in the compiled code. You can discuss if it does or doesn't matter for you and make it optional, but what makes the list related objects special in that regard? If you go

[2020-04-24 20:10] LayZeeDK commented on #372
Harry Roberts still promotes something like inuitcss through the ITCSS methodology.

[2020-04-24 22:00] herzinger commented on #372
Yes, what I mean to say is that the last few versions of the framework have no actual input from him, and I believe no further input is to be expected, either in new code or validation. We do follow his ITCSS philosophy (and I'll be the first to defend it whenever some suggestion might stray a bit from it), but he is not personally involved for a long time. If you follow him at all, you'll see his

[2020-05-12 02:51] davidbwaters opened #424 "Add the 'wrapper' object to example file in the readme."
Hi, the readme is missing the import line
 `@import "node_modules/inuitcss/objects/objects.wrapper";`

[2020-05-27 12:43] csshugs commented on #400
#420 is merged.

[2020-05-27 12:43] #400 closed, assigned to nobody

[2020-05-27 12:47] csshugs commented on #424
The example in the `README.md` isn’t supposed to be used as a boilerplate manifest file for new projects. As a matter of fact, we don’t want to encourage users to `@import` just all of it and go with it and maybe never use half of the imported framework partials. If you really need a boilerplate for a manifest file, there is the `example.main.scss` that is supposed for exactly that, [as documented

[2020-05-27 12:47] #424 closed, assigned to csshugs

[2020-05-27 13:06] csshugs commented on #387
#389 is merged.

[2020-05-27 13:06] #387 closed, assigned to nobody

[2020-06-08 09:02] csshugs commented on #379
#383 is merged.

[2020-06-08 09:02] #379 closed, assigned to nobody

[2020-07-04 09:29] csswizardry opened #426 "I need to rename this project…"
Whichever way you slice it, the name _inuitcss_, and especially the logo, is patronising at best. The implementation reduces an entire people to a literal caricature—this is entirely and only my fault.

I’ve been asked many times over the last almost-decade where the name came from and the honest answer is: I have no idea. There’s no wordplay, no association, nothing faux-witty or amusing. Nothing

[2020-07-04 09:58] yefim commented on #426
UPDATE: I am removing my suggestion and I am sorry for putting it up in the first place. I learned about the symbol from the news last month but did not connect the dots to my suggestion. Thank you @ndorfin for pointing it out. I'm including my actions that led to my suggestion.

<details>
 <summary>What I did</summary>
  <p>
    <ul>
      <li>I googled what ITCSS stood for.</li>
     <li>I found

[2020-07-04 10:11] Saurou commented on #426
Unify names and just use one ( ITCSS ) it's a good idea, and less confusing, although I think that inuitcss it's easier to remember as you associate a figure and more memorable name to it.
In any case, I don't think you should feel guilty or ashamed for the very unoffensive (actually really cute) image and name you've been using.
I hope no one has been annoying you, especially if just to abuse the

[2020-07-04 10:27] csswizardry commented on #426
This is certainly true—it’s proved a very strong brand! But it’s not the only way to achieve it, and certainly shouldn’t be at the expense of appropriation.

Thanks for your support. The thing is, I _do_ feel embarrassed and guilty. I haven’t been strong-armed or forced into this situation—it really doesn’t sit well with me.

This is exactly my issue: it’s patronising at best. Cutesifying indigeno

[2020-07-04 10:45] sassquad commented on #426
I have some open thoughts.

- Rather than inuit, how about intuitive, or 'intuit' CSS? You would still need a logo, but how would you visualise such a word?
- play on the triangle methodology a bit more. What can an inverted triangle resemble? Alternative names for a pyramid, perhaps?

As long as links and URLs redirect to the new named framework, you reduce the risk of losing an established audie

[2020-07-04 11:13] Saurou commented on #426
Ohh thanks, they're just downvotes so no problem :)

It's nice to hear these are your genuine thoughts, the most important thing.

A search for a new name / logo will also be exciting and trigger people imagination.

And Happy Birthday!

[2020-07-04 11:54] ndorfin commented on #426
Eeek! Avoid.
See:

- https://www.fastcompany.com/90518919/yes-the-trump-campaign-used-a-nazi-symbol-in-its-ads-heres-what-it-means
- https://www.vox.com/recode/2020/6/18/21295226/facebook-trump-campaign-nazi-symbol-antifa

[2020-07-04 12:35] fuhlig commented on #426
The intention of changing the name is understandable.
While not having a suggestion for an alternative / new name, I wouldn't go with ITCSS.

ITCSS is an established css architecture. While inuitcss uses the architecture, it is also tied a lot to the implementation details and tooling, e.g.
- Sass
- structure & naming & inheritance of (Sass) variables & module settings
- naming conventions: module

[2020-07-04 19:14] LayZeeDK commented on #426
Now that we're in the conversation about offending groups of people, consider revisiting "Inverted Triangle".

[2020-07-05 19:50] anselmh commented on #426
I’m very fine with ITCSS and it is probably the best idea to use this naming for the framework. It’s the implementation of the underlying methodology so I think it’s fair to provide the implementation under the same naming. I don’t think this does require a specific technology stack, vice-versa it opens up the idea of providing a scss, a postcss, a less and other versions of the framework in futur

[2020-07-06 02:26] herzinger commented on #426
@anselmh no one is, the project is virtually frozen for a while.

About the topic at hand, I agree with the significance of a name / branding change, and while I also agree while @fuhlig about the confusion of having the methodology and tooling with the same name, I'm not totally opposed to using ITCSS. Also, if that is decided to be the case, I don't think that worrying about how the nazis used i

[2020-07-06 05:41] csshugs commented on #426
Renaming? Yes please!

Renaming to ITCSS? No. As @fuhlig already said, the methodology and the framework is **not the same thing** and thus shouldn’t carry the same name. GitFlow is a good example of introducing much confusion with this.

However, I guess it would make sense to keep the new name close to the (inverted) triangle idea. Something like “pyramidCSS” would be very well suited IMO.

[2020-07-06 05:43] anselmh commented on #426
There’s simply no need to choose a logo that’s similar to a currently (by Mr. T.) and in the past (by Nazis) misused shape. Why would we? There are probably a lot of ways to avoid this context in the logo. It’s relatively easy by, for example not choosing solely a triangle as logo but adding something to it, by not choosing red as the color, etc.

A pyramid, for example, could make a nice logo.

[2020-07-06 06:11] LayZeeDK commented on #426
1. That goes for [swastikas as well](https://en.wikipedia.org/wiki/Western_use_of_the_swastika_in_the_early_20th_century).
2. inuitcss is also currently the name of this library. That doesn't change the discussion at hand.

If we want to go through this trouble, shouldn't we at least try to avoid making the same mistake twice?

[2020-07-06 18:31] herzinger commented on #426
I'm not opposed to using another name, I even agree that it would be better to avoid confusion. Still, a swastika is not a basic shape (in the same sense as triangles, rectangles, circles and etc are), and it has a pretty strong connotation in it's modern iconography that a simple inverted triangle simply doesn't have, specially a subdivided one, like the one used to represent the methodology virt

[2020-07-06 19:40] LayZeeDK commented on #426
Yes, I'm suggesting that the name of the methodology could be changed as well.

I find the pyramid idea a little funny as it's the opposite of the methodology's representation, but hey why not? As long as we don't have a cute pyramid-building slave as our mascot.

[2020-07-06 19:41] LayZeeDK commented on #426
Just a suggestion: `innocss`/`innoitcss`.

[2020-07-06 20:03] herzinger commented on #426
@LayZeeDK yes, I did think about how it's not inverted with a pyramid/ziggurat, but that only depends on how you think about it. I was always under the impression that the same logic for the inverted triangle thing would apply just as much as a normal triangle. What would `inno` stand for?

[2020-07-06 20:57] herzinger commented on #426
This a really dirty and fast sketch, but we could use something along this lines, and let the branding visuals conciliate the question of the direction.
![ziggurat concept](https://user-images.githubusercontent.com/1102234/86641808-cbf26b00-bfb1-11ea-9f18-974d2891a0c1.png)

[2020-07-07 19:53] LayZeeDK commented on #426
Too detailed to be used in all contexts (small scale), but interesting proposal. Inno = innovation/innovative. innoitcss almost sounds like inuitcss.

[2020-07-09 15:37] apsuhos commented on #426
I side with the idea of not mixing the methodology with the framework.

I played with an idea I had in mind when Harry announced his thoughts. I love the circle as a shape because for me it represents completion and flexibility. Inuitcss is a framework that is very mature and pretty extensible if you know what you are doing. That is the reason why I placed the inverted triangle on top of a circle.

[2020-07-09 18:26] LayZeeDK commented on #426
What about nuitcss? "nu" as in "new"?

[2020-07-09 20:55] jozzs commented on #426
I also agree on keeping the methodology as ITCSS and choosing another for the tool. How about "SASSIT"? (Sass Inverted Triangle). Or maybe just keep the initials: SIT

[2020-07-10 19:51] herzinger commented on #426
- @LayZeeDK

As I said, it was just a quick sketch for the concept, not a logo. Scalability and readability are part of the larger design process, which takes time and effort, so I wouldn't do it before we at least define a direction (but it's doable within the idea).

Some different concepts where put forward, so at this point we need more input from both the core team and @csswizardry himself, I

[2020-07-14 11:06] hayatbiralem commented on #426
How about getitcss? "Get it CSS" and "Get ITCSS" :D

[2020-07-14 20:18] mtsweir commented on #426
@hayatbiralem visually looks like: get tit css

Which makes me think you'd need to then inform people of how to properly pronounce it.

[2020-07-14 20:26] mtsweir commented on #426
@apsuhos should be a little mindful of what the symbol could represent in some people's minds, both good and bad. This logo I thought of as someone's open legs, then had another thought based off your thinking as a triangle cutting through a circle deflating it. Just my feedback though.

[2020-07-14 20:28] mtsweir commented on #426
@herzinger have you given some thought to your concepts application? e.g if this symbol was to scale down quite a bit, say a browser icon, how would it look and will it still hold up?

[2020-07-14 20:36] mtsweir commented on #426
In terms of design, maybe look at logo designers who do really nice work and get some ideas/inspiration from them. One great designer I follow is [James Martin](https://www.instagram.com/made.by.james/), his work is fantastic and really gets to the core and vision of what clients are after.

BTW, one of his most recent clients he designed a logo in the form of a triangle, he shared his concepts in

[2020-07-15 17:38] herzinger commented on #426
- @mtsweir

As I said, properly designing a brand is a lot of work, so no serious designer would start on it before having an idea about name and a rough direction. In a normal project I would allocate hours and resources and work closely with the client for that step as well, but this is a community project, with the actual owner quite distant while still having both final decision and a vision f

[2020-07-24 17:59] DevJMD commented on #426
Ha! "I Knew It" CSS! The kind of "eureka!" moment you have when writing complex CSS and things start to come to life. 😄

[2020-08-26 14:33] zomars commented on #426
More than a "pyramid" I see it as a "funnel"

[2020-08-26 22:32] mtsweir commented on #426
Just throwing this out there, I had posted this emoji symbol in a DM this morning and it sorta got me thinking about this project. What I like about this is that it's a triangle and the elements are in a continuous flow, I could see an extension of this concept where it creates a similar flow effect in a sort of 3D-negative space approach.

Not saying it has to be this but more just adding some id

[2020-08-27 08:06] hayatbiralem commented on #426
How about spelling the word triangle backwards? Elgnairt! Sounds like an ancient or unknown language :)

[2020-08-27 08:25] hayatbiralem commented on #426
Considering that mountains are also triangles and the ITCSS methodology is a scalable CSS architecture, I believe we can start with the word mountain.

How about this: IMCSS - Inverted Mountain CSS

It also evokes "I am CSS" and is pronounced like it.

I believe and hope this could be a good brand in many ways.

[2021-02-24 23:08] glennmcewan commented on #426
The new name doesn't matter so much; how about just doitcss?

[2021-02-26 07:00] csshugs commented on #426
“doitcss”? 🤔 Let me think about that...

😕

😏

🙂

😀

What I like about that is that:

1. It sounds kinda cool, because it comes out so fluidly out of my mouth
2. It references the ITCSS methodology directly in its name, but is not coupled too tight with it ([danger of confusion](https://github.com/inuitcss/inuitcss/issues/426#issuecomment-653760579))
3. The imperative form urges people to use it 😉

[2021-02-26 14:13] LayZeeDK commented on #426
How about `justdoitcss`? 😄

[2021-02-26 17:36] glennmcewan commented on #426
I fear that might be another issue! 😆

Awesome! I wasn't so sure people would agree, but I think it makes sense with its simplicity and aptness to ITCSS.

[2021-03-02 14:33] csshugs commented on #426
Okay, I slept over it 😄 I still think “doitcss” is by far the best idea for a new name!

What does @inuitcss/core think about it? And most importantly, @csswizardry ? After all, inuitcss is your brainchild, so I guess your opinion trumps (pun intended) them all.

[2021-03-03 12:47] LayZeeDK commented on #426
Just throwing one last suggestion in:
[code]
Get it?

[2021-03-08 20:13] inlikealion commented on #426
@LayZeeDK See [#issuecomment-658392047](#issuecomment-658392047). Easily jumbled pronunciation produces inappropriate name with that one.

I'm personally in favor of a rename @csswizardry. I like the `doitcss` suggestion best so far, as it does loosely couple with the ideology of ITCSS.

The first thought I had was `vcss`: its short and shows that inverted triangle idea without the complicated phr

[2021-03-09 22:00] hayatbiralem commented on #426
I like both `doitcss` and `vcss`. Between these two my vote goes to `vcss` 👍

[2021-03-12 11:04] LayZeeDK commented on #426
`itcsswizardry` 🧙

[2021-03-23 20:00] dennisfrank commented on #426
I like doitcss as name too.

Or some variant of it:

DoitCSS

DOITcss

DOIT CSS

Or just:

DOIT

(And @csshugs writes the Doitorial 😙)

or:

DUIT

(Why not? 🙂)

`</brainstorm>`

[2021-04-07 23:46] atrevino89 opened #431 "Question: Is this project still usable in 2021?"
Hi guys, super noob here

We're migrating an app from old AngularJs to Vue and we're changing some pieces of CSS and its structure so I was told to use iniuitcss as our most experienced developer really likes it. I see that there have been no changes this year and gives me the impression of 1) is super mature and is not needed or 2) probably there was a decision to not keep working on it, which br

[2021-05-12 14:58] herzinger commented on #431
It is mostly inactive for a while now, but still quite usable. The methodology behind inuitcss is still the one I use and recommend, even if what I personally use is somewhat updated with some more modern css. One of the strengths of this project is how modular it is, after all.

[2021-05-12 15:01] herzinger commented on #426
I like the `vcss` idea, but why did we never consider simply `itcss`?

[2021-05-12 16:29] glennmcewan commented on #426
`itcss` is the paradigm / design system, so naming a framework around it with the same name could be confusing. `doitcss` is my suggestion so I'm biased of course, but I think it's a nice way to include `itcss` while keeping the name intuitive & relevant to its origins.

[2021-05-12 16:39] fuhlig commented on #426
It was a suggestion in the initial post and the first part of this entire conversation is about ITCSS as a name for this framework

[2021-05-17 14:00] herzinger commented on #426
Yes, I remember. This conversation is going on for months, I forgot about it... doitcss sounds inappropriate

[2021-05-26 20:59] #431 closed, assigned to nobody

[2021-07-10 16:50] cbleslie commented on #426
How long does it take to rename a project? More than a year apparently.

How about just abandoning the project, and archiving it?

[2021-08-03 05:18] csshugs commented on #426
I’m sorry @cbleslie , but your comment is not any helpful of a contribution to this issue! To the first question you are asking, you are giving the answer yourself. And why should we archive the project? inuitcss is still used by many people and will continue to do so. It’s too bad, that it was once given an unfortunate name, but we cannot undo this fact for any recent versions of the framework. C

[2021-08-03 05:43] cbleslie commented on #426
Wow, long response, with lots of low effort excuses, @csshugs. Make all the excuses you want. The longer the name stays the same, the longer you show that you're a insensitive dick.

You have personal problems, but personal problems are not an excuse for continued disparagement of a people. There are people out there that have personal problems, and they don't seem to let that get in their way of

[2021-08-03 10:08] aaronstezycki commented on #426
Such a childish and badly tempered response. No need for that. I would moderate that response, or be removed from contributing.

[2021-08-03 10:29] glennmcewan commented on #426
Exchange Twitter handles & argue it out there...this will end up locked due to a flame war.

I agree with the sentiment to _just pick a name_ and how long this issue has been open for, but let's not be flippant about it. At this point we would really need @csswizardry's feedback on where to take this...

[2021-08-03 12:50] DevJMD commented on #426
@cbleslie imagine being a fully-grown man, and writing what you wrote. Telling people to "be better" with that ironic response is the most laughable thing I've read today. Cheers for that!

Sounds like a you problem. Sorry, a _privileged_ problem. _Ironic_ world we live in, isn't it?

@csswizardry, please lock this, rename it, and remove the man-child before the toys fall out of the pram.

[2021-08-03 12:58] aaronstezycki commented on #426
I think this has legs for a logo mark. Simple, easily recognisable, and could be given some different treatments for sister repos ... like plugins, themes, etc etc. Maybe dumb it down a bit, and thicken the borders for each ring, but I like this :)

[2021-08-03 20:37] mtsweir commented on #426
The logo concept is interesting and could be a nice direction to take it, there are a few things I have comments on:
- The fine lines will be near impossible to see when scaled down e.g mobile, a good logo should be able to adapt and be versatile in various use cases.
- There are too many lines, I understand the concept but this could/should definitely be cut back to simply the shape, it feels bus

[2021-09-27 09:47] Jamiewarb opened #436 "Dart Sass 2.0.0 support: "Using / for division is deprecated and will be removed in Dart Sass 2.0.0.""
Hey there,

We have been using Inuit for 6 years now, and recently moved over to Dart Sass, away from Node Sass.

Dart Sass is throwing some deprecation warnings for the `/` division operator:

[code]

As LibSass (and therefore NodeSass) is now deprecated (https://sass-lang.com/blog/libsass-is-deprecated), I am wondering what the main contributors thoughts are on if Inuit should be looking to migr

[2021-11-25 17:24] herzinger commented on #426
As a said a bunch of times, this was not a brand suggestion, just a sketch of a concept. Branding takes a lot more time and effort, mostly to address the stuff you guys have outlined and a few other questions. The color used is just my sketching color. The line width is just the default brush size I had when I traced it. It's just a sketch, don't fixate on it. We never even decided on a name, I wo

[2021-12-03 16:19] fuhlig commented on #436
There is a [migration tool](https://sass-lang.com/documentation/cli/migrator) that can help with that.

[2022-02-18 16:56] krems04 commented on #426
Did that flame war ever end up happening? Am I too late to this party? I just ended up encountering this project by chance, like the implementation and am also wondering how I can contribute. What happens from here?

[2022-02-21 15:04] ktan88 commented on #436
@fuhlig Nevertheless, wouldn't it be better to use the valid syntax with sass:math?

[2022-02-21 17:10] fuhlig commented on #436
Definitely! My comment was not for Inuit users to migrate their existing codebase to fix warnings in Inuit but for Inuit Devs/Contributors to fix it on the framework level.

[2022-04-15 15:20] inlikealion commented on #426
Core: @anselmh, @csshugs, @csswizardry, @florianbouvot, @nenadjelovac

To recap, we won't call it `itcss` to avoid confusion with methodology. Rounding up the other names receiving most feedback:

* `doitcss`
* `vcss`

After rereading the entire thread, I'll toss out _ONE_ more option in the `vcss` vein:
### valleycss
Earlier there was traction on pyramid or mountain themes, but those are the wron

[2022-04-15 15:29] dennisfrank commented on #426
I like valleycss. It makes sense.

[2022-04-15 18:41] inlikealion commented on #412
https://harttools.com and https://ryobitools.com are built on inuitcss, along with most of their associated marketing pages. We used it pretty exclusively when I was directing the Torque Interactive front-end team.

[2022-04-19 20:12] inlikealion commented on #426
Update: I see some core team giving thumbs-up (yay!), but not weighing in yet.

I registered `valleycss` as an org on `npm`. Have not done the same for doitcss. I've also been gathering some cool valley inspo (California: LA, Coachella, etc; Sci-Fi retro, etc).

[2022-04-25 14:33] herzinger commented on #426
I like valleycss, so I would go with that. I never liked doitcss because of the sexual connotation. Maybe with a different verb, like "use" or "make"... But either way, I like the valley idea much better.

[2022-06-24 09:52] thany commented on #436
Current release is 4 years old. There is a nonzero chance of this ever getting fixed, but it's probably still very close to zero 😞

[2022-06-24 12:47] LayZeeDK commented on #436
You could create a PR or fork it an fix it yourself, @thany 🙂

[2022-06-27 07:34] thany commented on #436
Absolutely true. Guess what I did: [thany/inuitcss-dart](https://github.com/thany/inuitcss-dart) 😎

[2022-08-19 23:34] jamieburchell commented on #436
Would @csswizardry consider some PRs to fix the now deprecated Inuit repos where this Dart Sass deprecation comes up? The 2 issues that are raised seem simple to fix. If not, I'll just patch it myself. Problem is I have a huge project using this and there's no good reason to rewrite it.