[2016-06-26 20:08] csswizardry opened #3 "License"
Many moons ago, I picked the Apache 2.0 license, because it felt nice and permissive whilst also keeping full credit for myself. Are people still happy with Apache 2.0, or would a move to the more ubiquitous MIT license make sense?

---

**MIT – good**
- Nice and permissive
- Copyright gets maintained – license information has to stay in the code
- Fairly ubiquitous – people are used to it
- Zero

[2016-06-26 20:52] florianbouvot opened #5 "Separate functions and mixins tools into independent files"
Far from being a priority, I wonder if it would be efficient to split `tools.functions` and `tools.mixins` into independent files ?

e.g.:
`tools.maths`
`tools.font-size`
`tools.clearfix`
...

[2016-06-27 22:44] csshugs opened #14 "Add CONTRIBUTING.md file"
Add a CONTRIBUTING.md file to describe general git/GitHub workflow as described [here](https://github.com/inuitcss/inuitcss/issues/11#issuecomment-228753485). Maybe @csswizardry can take care of that and outline the most important points briefly? Harry, you seem to have concrete guidelines in mind for that.

[2016-06-28 16:53] nenadjelovac opened #26 "[objects.layout] Markup "hack" off by default?"
@csswizardry This used to be [the other way around](https://github.com/inuitcss/objects.layout/issues/2#issuecomment-42482927). Why change of thoughts?

Btw, I'm using `font-size: 0` hack from the start, and never had much issues, so I am just wondering about this decision.

[2016-06-29 21:07] florianbouvot opened #38 "[generic.shared] Organize propriety"
I think it can be convenient if propriety from [`generic.shared`](https://github.com/inuitcss/inuitcss/blob/develop/generic/_generic.shared.scss#L13-L19) and [`generic.reset`](https://github.com/inuitcss/inuitcss/blob/develop/generic/_generic.reset.scss#L9-L16) can follow the same organisation. Any opinion ?

[2016-06-30 10:50] csswizardry opened #40 "Objects to port over from inuitcss 6.0.0-alpha"
We need to start porting over some existing Objects from the current inuitcss.

I think these ones are pretty core:

- [x]  [`objects.media`](https://github.com/inuitcss/objects.media)
- [x]  [`objects.box`](https://github.com/inuitcss/objects.box)
- [x]  [`objects.flag`](https://github.com/inuitcss/objects.flag)
- [x]  [`objects.list-inline`](https://github.com/inuitcss/objects.list-inline)

Less

[2016-06-30 14:50] florianbouvot opened #54 "[utilities.headings] Add !important"
I didn't encounter problem with current version but what do you think about adding `!important` ?

[2016-06-30 14:54] florianbouvot opened #55 "[utilities.clearfix] Use !important"
`@mixin inuit-clearfix($important: false) {` propose a `$important` option, why not using it for `utilities.clearfix`?

[2016-06-30 15:40] csswizardry opened #58 "Documentation"
We need at least a better README until we get the site done. I’ll make a start on that :)

[2016-06-30 16:23] csswizardry opened #60 "Add to npm"
We need to get inuitcss on npm. Thankfully—miraculously!—`inuitcss` is still available: https://www.npmjs.com/package/inuitcss 😄

I’ve asked @anselmh to look at this, purely because he sorted all of the npm stuff out the first time round. If anyone else wants to take this, please be my guest.

[2016-07-12 12:00] #60 closed

[2016-07-12 12:00] #26 closed

[2016-07-12 19:28] csswizardry opened #76 "[objects.flag] Port flag object over"
What outstanding bugs/issues are there with the flag object?

[2016-07-12 20:55] florianbouvot commented on #76
@nenadjelovac report a bug [here](https://github.com/inuitcss/objects.flag/issues/5)

[2016-07-12 22:02] csswizardry opened #77 "[elements.page] Add missing forced- scrollbars and height"
Add these missing rules: https://github.com/inuitcss/base.page/blob/7ad1864e2c17f28188d02ab93b6f34abcd6c08ed/_base.page.scss#L34-L35

[2016-07-13 06:48] #77 closed

[2016-07-13 09:38] csswizardry commented on #76
I’m struggling to distill the problem and its fix into anything simple. The flag object is meant to take up 100% width (like the media object would), so I don’t think this is a problem with the flag object per se; it’s actually Just How Tables Work™.

Unless you specify `table-layout: fixed;` the cell with the largest content will take up all available space (even wrapping other cells’ content ont

[2016-07-13 09:39] csswizardry commented on #77
Thank you!

[2016-07-13 14:07] nenadjelovac commented on #76
@csswizardry ok, maybe I haven't been clear enough. The problem occurs when flag is within `display: inline-block` or `display: table-cell` parent. In that case Webkit/blink based browsers render the code differently than other browsers.

Here's an example of a flag within `.layout--auto` http://codepen.io/nenadjelovac/pen/zBPrAo. Try opening this example in FF and in Chrome. Now, here's the fix h

[2016-07-14 11:08] csswizardry commented on #76
Any thoughts on f000350, @nenadjelovac?

[2016-07-14 11:11] nenadjelovac commented on #76
@csswizardry that should do it.

[2016-07-14 11:12] csswizardry commented on #76
It seems to work as well. I’ll open a PR. Thanks! :+1:

[2016-07-14 11:28] #76 closed

[2016-07-14 16:41] csswizardry opened #80 "We need to talk about responsive…"
I’m having some thoughts about RWD…

I want to leave breakpoint management to a dedicated tool, rather than trying to implement something myself—there are tools out there that

* people are already familiar with;
* do a better job than I could;
* I don’t have to maintain.

I like the idea of letting people use their favourite breakpoint/MQ/RWD library alongside inuitcss—I like freedom of choice—bu

[2016-07-14 17:44] florianbouvot commented on #80
I think that inuitcss must provide a way to work with responsive *without making it mandatory*.

It depends on the target audience (beginner, expert, freelance, agency, large team...) but for a part of them I think so.

YES, inuitcss will become least attractive...

[2016-07-14 17:47] kaelig commented on #80
The spectrum of use cases for dealing with RWD is so broad that my reason would tend towards option 1.

For example, PostCSS allows interesting [things with Custom Media Queries](https://github.com/sass-mq/sass-mq/issues/84) that mimic the future of the spec and for this reason, it'd be a shame to limit people's choices to a Sass mixin in particular.

Of course, Sass MQ is definitely something I w

[2016-07-14 18:02] florianbouvot commented on #80
@kaelig don't you think that it can keep people back from using inuitcss?

I think inuitcss can propose a solution without imposing it.

[2016-07-14 18:07] kaelig commented on #80
Good point, if a default solution such as Sass MQ is not deeply rooted in inuitcss and users still have a choice… that could be a sensible proposition!

[2016-07-14 18:51] florianbouvot commented on #80
@kaelig exactly a default solution which is not mandatory and documentation to move further...

I worked 1 year with Sass MQ before inuitcss include a responsive solution. I tried [Include-media](http://include-media.com) and [Sass Custom Media Queries](https://gist.github.com/fvsch/dff0aab899f5573ea859) his last months.

Sass MQ is flexible, powerful and widely used : a good default solution *alm

[2016-07-15 09:56] csswizardry commented on #80
Cool. Give this a 👍  if I should make a branch experimenting with Sass MQ as a default dependency :)

cc. @inuitcss/core, @kaelig

[2016-07-15 10:07] florianbouvot commented on #80
@csswizardry did you need help ?

[2016-07-15 11:25] csswizardry commented on #80
@florianbouvot: No, I can take an hour this afternoon to spike it; I just want to get general feedback about whether I should do it or not :)

[2016-07-15 14:39] csswizardry commented on #80
@inuitcss/core: Can people checkout `tkt-0080` and have a play around? :)

[2016-07-15 15:33] csswizardry commented on #54
Got a fix in, thanks! Opening a PR 👍

[2016-07-15 16:06] #54 closed

[2016-07-15 16:06] csswizardry commented on #38
Do we still want to do this, @florianbouvot?

[2016-07-15 16:40] florianbouvot commented on #38
I propose a reorder based on generic.reset but not perfect. What the best way to organize CSS properties: alphabetical order, type (e.g.: sections, grouping content, text-level semantics) ?

[2016-07-16 22:20] csswizardry commented on #38
Haha! With this in mind, please feel free to open a PR for something, but it’s not something I care too strongly about. If you don’t want to do anything, that’s cool—we can close this thread :)

[2016-07-17 21:29] csswizardry opened #83 "[settings.global] What should this file do?"
I was thinking about this yesterday, and after [@nenadjelovac’s comment](https://github.com/inuitcss/inuitcss/pull/82#discussion_r71079404) today, I’m wondering what to do with this file. Current problems:

* It does contain design related things right now, which we should get rid of, because…
* It isn’t an `example.` file, so users aren’t encouraged to duplicate it and modify it.
* If we remove d

[2016-07-18 07:59] nenadjelovac commented on #83
My vote is for this option. It is more clear for the end user in terms of what to do with the file, what it is, what it is for etc. It is kinda "instructional" and educational, which is, IMO, a good thing (for this situation). We could (and probably should) include an `_example.settings.global.scss` to show an example of what globals settings could/should look like and where it fits compared to ot

[2016-07-18 13:47] johannes-r opened #84 "[objects.layout] Missing minus sign"
Hi,

thank you guys so much for the awesome work on this project.

I was just playing around with the latest version of the develop branch and I might have spotted a tiny (but tedious) mistake in `_objects.layout.scss`.

[Line 136](https://github.com/inuitcss/inuitcss/blob/develop/objects/_objects.layout.scss#L136) is missing a minus in front of `$inuit-global-spacing-unit-small;` which causes the

[2016-07-18 14:14] florianbouvot commented on #84
@johannes-r thank you 😉

[2016-07-18 14:23] johannes-r commented on #84
Wow, that was quick - I'm glad I could help 😊

[2016-07-18 20:07] florianbouvot commented on #83
I completely agree with @nenadjelovac 😉.

[2016-07-18 21:15] florianbouvot commented on #84
Merged.

[2016-07-18 21:15] #84 closed

[2016-07-19 11:06] csshugs commented on #26
👍
Sorry for being late. Wasn't online for the last 3 weeks. I'm just catching up on everything.

[2016-07-19 11:50] csshugs commented on #5
@inuitcss/core
In my current project, we already have 9 mixins, all separated in individual files. If we would squeeze them all in one `tools.mixins.scss`, that would be 450 lines of code (including documentation .. much documentation, I proud to say 😄 ). That would be huge and that's the reason I like to put my mixins into independent files.

@csswizardry That's why I (as an inuitcss user) would

[2016-07-19 12:07] csshugs commented on #14
@anselmh
cc @inuitcss/core

What I was actually after is a `CONTRIBUTING.md` (for the [inuitcss repo](https://github.com/inuitcss/inuitcss)), where [the branching strategy etc.](https://github.com/inuitcss/inuitcss/issues/11#issuecomment-228753485) is manifested.

Why I brought this up initially is: I don't know exactly how to contribute here on GitHub (How to call the feature branch, how to write

[2016-07-19 15:31] anselmh opened #86 "Remove opinionated UI specifics"
In https://github.com/inuitcss/inuitcss/pull/82/files#r71230546 we concluded that we want to remove opinionated UI specifics from inuitcss since it’s not thought as UI framework.

This affects, for example, `border-radius` or `transition`.

[2016-07-20 10:07] csshugs opened #89 "[objects.layout] / [generic.box-sizing] Bulletproof box-sizing integration"
@inuitcss/core

The layout object needs `box-sizing: border-box` to work properly. Without it, the layout will break.

So, when a user (for whatever reason) does not include `generic.box-sizing`, the layout will break.

The MVP solution would be to just put `box-sizing: border-box;` to `.o-layout__item` in `objects.layout`:
[code]

This would be bulletproof for users not importing `generic.box-siz

[2016-07-20 10:09] csshugs commented on #89
**Addition:**
We could reuse this method like in `objects.layout` in other modules as well if we need to, and so does the user.

[2016-07-20 13:22] csshugs commented on #80
I like this approach of having a default media-query tool like Sass MQ, but would like it even more if the tool would not be baked in into the framework that much.

I can think of a solution like in pre-alpha: Split normal widths and responsive-widths into separate files, so that the user can either take Sass MQ out of the box (importing both widths files), or just not importing the responsive wid

[2016-07-20 13:30] csshugs commented on #58
Thumbs up for adding a few words on how to write "inuitcss" correctly (not inuit nor inuitCSS nor Inuitcss nor InuitCSS). I just hate it when people doing those things wrong. ([Related](http://sassnotsass.com/))

[2016-07-20 13:34] csshugs commented on #58
Sorry for being so german.

[2016-07-20 14:50] anselmh commented on #89
I love the idea you suggested with the conditional rule in the layout module. It’s complex but it’s the best solution IMO, so a 👍 from me.

[2016-07-20 20:41] csswizardry commented on #26
@csshugs: No problem! I hope you had a good time away from the computer…?

[2016-07-20 21:24] csshugs commented on #26
@csswizardry My batteries are fully charged again!

[2016-07-21 07:09] csswizardry commented on #86
Closing as work already started: https://github.com/inuitcss/inuitcss/commit/5d30f2db728dcbd19b388eed5983809e5f2be8b0

[2016-07-21 07:09] #86 closed

[2016-07-21 07:24] csswizardry commented on #89
Honestly, I think we’re better off duplicating the declaration. We shouldn’t be writing 10 lines of Sass where we could just be writing 1 line of CSS. It seems like an awful lot of work and dependency in order to save 23 bytes.

[2016-07-21 12:29] csshugs commented on #89
Well, I'm alright with that (, although it's even 25 bytes 😄 ).

@csswizardry you wanna do a PR then?

[2016-07-21 14:40] csswizardry commented on #89
23 ;)
![screen shot 2016-07-21 at 15 39 05](https://cloud.githubusercontent.com/assets/751944/17026811/51775934-4f59-11e6-8382-6333bd4f33d0.png)

Are there any other modules that could use an inline `box-sizing` declaration?

[2016-07-22 08:01] csshugs commented on #89
@csswizardry

But the two spaces at the beginning of the line, though, when being in a ruleset!
Anyway.

I just quickly had a look over the pre-alpha modules and could just find [`.btn--full`](https://github.com/inuitcss/objects.buttons/blob/master/_objects.buttons.scss#L136-L142) that needs it. But since the buttons are an example component and don't even has the `.btn--full` modifier anymore, `o

[2016-07-22 08:05] csshugs commented on #89
Sorry, it does not need

[code]

but rather relies on the `generic.box-sizing` module to be present. Anyway it doesn't matter since we don't use `.btn--full`.

[2016-07-22 11:10] csswizardry commented on #89
Cool! Thank you :) I’ll open a PR 👍

[2016-07-22 11:47] #83 closed

[2016-07-22 11:47] #89 closed

[2016-07-22 12:35] csshugs opened #92 "[tools.functions] `inuit-halve` function still needed?"
Sorry in advance if I missed it anywhere but did we ever/do we need the `inuit-halve` function? The function is not called anywhere in the framework and also seems a bit opinionated anyway, because it just halves a value (rather than also provides modifiers to quarter/double/quadruple values).

EDIT:
https://github.com/inuitcss/inuitcss/blob/b158becc1c703656de2065f1741f6040bf0e4f64/tools/_tools.fu

[2016-07-22 13:38] csshugs opened #93 "[objects.wrapper] Do the sizing variants make sense?"
From a design perspective, does it makes sense to have [multiple modifiers](https://github.com/inuitcss/inuitcss/blob/b158becc1c703656de2065f1741f6040bf0e4f64/objects/_objects.wrapper.scss#L31-L49) which effectively create different width wrapper container?

![wrapper-objects-modifier](https://cloud.githubusercontent.com/assets/4582857/17058833/7b37d95a-5022-11e6-9178-af37d16cded0.png)

Isn't the

[2016-07-22 13:41] csswizardry commented on #93
It’s only like having different sized gutters in our layout system… we might want different content to be further from edges of containers than others.

[2016-07-22 13:41] csswizardry commented on #92
This entire file needs some thought. I’m going over it in my mind a lot of the moment :)

[2016-07-22 13:42] csshugs commented on #93
And when you look at the screenshot, the naming is a bit misleading. `.o-wrapper--tiny` is much wider as `.o-wrapper--huge`.

I now that the naming refers to the padding rather than the width, but as I said: It could be misleading.

[2016-07-22 13:43] csshugs commented on #93
I would do that and always did with the box object.

[2016-07-22 13:49] csshugs commented on #93
Example:

![wrapper-objects-modifier-with-box](https://cloud.githubusercontent.com/assets/4582857/17059083/c8d9d004-5023-11e6-810d-d37e0ef2ec7a.png)

[2016-07-22 13:50] csswizardry commented on #93
`o-wrapper` is only tasked with doing _x_ paddings, so I guess you could continue to use `o-box` and others (like me) can use the `o-wrapper`.

I don’t think there’s anything wrong or broken with the current `o-wrapper` implementation—I’m happy keeping size variants for altering sizes of gutter :)

[2016-07-22 13:56] csshugs commented on #93
Correct.
I just didn't see the use case you just described.

Leads me to the question why I never did it that way 😞
Anyway. Closing this quite depressed.

[2016-07-22 13:57] florianbouvot commented on #93
IMO size modifier are not needed. I prefer a simple `o-wrapper` and add `max-width` modifier to follow specific design needs ;)

[2016-07-22 14:01] csshugs commented on #93
@florianbouvot
Reopen the issue?

[2016-07-22 14:23] florianbouvot commented on #93
@csshugs size variants are not a problem.

But in real project I think I use two king of modifier:

Responsive
[code]

Content width (I use component or utility classes)
[code]

[2016-07-22 14:34] csshugs commented on #93
@florianbouvot
Ok, but I think we all share the opinion that these two modifiers (responsive and max-width) would be two opinionated for inuitcss, or do you propose to integrate them?

[2016-07-22 14:42] csshugs opened #94 "[objects.lint-inline] Why limit whitespace hack just for modifier?"
Why is the font-size whitespace hack [limited to the `.o-list-inline--delimited` modifier](https://github.com/inuitcss/inuitcss/blob/develop/objects/_objects.list-inline.scss#L34-L41)?

Doesn't it make sense to always strip the whitespace. e.g.:

[code]

instead restricting it to the modifier? Or did I miss the initial intention behind that?

[2016-07-22 14:44] florianbouvot commented on #93
@csshugs fully agree

[2016-07-22 14:59] csshugs commented on #93
That's good, don't stop doing that. Always helps to know how everyone else handles such things.

[2016-07-22 14:59] #93 closed

[2016-07-24 17:12] csswizardry commented on #94
There’s [a discussion in #49](https://github.com/inuitcss/inuitcss/pull/49) where we talked about leaving spaces in by default.

[2016-07-24 17:15] csswizardry commented on #80
@csshugs: I really think the framework needs RWD by default, and I think the best way to add it is Sass MQ. It’s a pretty invisible addition that won’t have negative impact, and the small amount of users that want to use something else can do so quite easily.

In short: I want to officially use Sass MQ as the default (see `tkt-0080`), and provide instructions for using something different in the d

[2016-07-25 07:38] csshugs commented on #94
Ah, sorry. I missed it. Closing this then.

[2016-07-25 07:38] #94 closed

[2016-07-25 10:14] #80 closed

[2016-07-25 13:22] csswizardry opened #97 "Port over objects.tables"

[2016-07-25 14:28] csswizardry opened #98 "Port over objects.pack"

[2016-07-25 16:58] florianbouvot commented on #97
LGTM, what about [this modifiers](https://github.com/inuitcss/objects.tables/blob/master/_objects.tables.scss#L116-L194)? Better at component level?

[2016-07-25 17:12] florianbouvot commented on #98
LGTM.

[2016-07-25 20:01] csswizardry commented on #97
@florianbouvot: Yeah, I think it’s approaching design territory.

[2016-07-25 21:39] florianbouvot commented on #97
@csswizardry I agree

[2016-07-27 06:04] florianbouvot commented on #97
@csswizardry PR ?

[2016-07-27 08:49] erfanimani commented on #5
I tend to agree with @csshugs , I usually do something like this (copied from an actual project):

    @import "bower_components/inuit-functions/tools.functions";
    @import "bower_components/inuit-tools-widths/tools.widths";
    @import "bower_components/inuit-mixins/tools.mixins";
    @import "bower_components/inuit-responsive-tools/tools.responsive";
    @import "tools/*";

[2016-07-27 18:57] nenadjelovac opened #99 "[utilities.widths] Misleading comment about spoken-word format"
Spoken-word format is no longer supported (as per https://github.com/inuitcss/inuitcss/blob/develop/tools/_tools.widths.scss). So this [comment section](https://github.com/inuitcss/inuitcss/blob/3ec70a833d739090e30b6c7b9529a7e1fa652937/utilities/_utilities.widths.scss#L12) should need some update :)

[2016-07-27 19:25] nenadjelovac opened #100 "[utilities.print] Is utilities the right layer for print?"
Maybe it's just me, but it *feels* weird. It is not really an utility class, judging by [the definition](http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#utility-namespaces-u-). It made sense for it to be in this layer back when the layer was called `trumps`, but now it kinda does not.

So, is the `generic` layer the right place for this file? In that case, the question is

[2016-07-27 19:37] anselmh commented on #100
True, I can understand your point and think generic would indeed make sense.

[2016-07-27 20:06] florianbouvot commented on #99
Good point, you can may be submit a PR?

[2016-07-27 20:14] florianbouvot commented on #100
Right, "it's the excepiton that proves the rule" 😆 : generic layer seem suitable.

[2016-07-27 20:50] nenadjelovac opened #101 "[utilities.widths] Variable name and sensible defaults"
@inuitcss/core

Fractions are really powerful and foremost intuitive. It's the main reason that made me preach inuit's `layout` + `widths` (and its precursor [csswizardry-grids](https://github.com/csswizardry/csswizardry-grids/blob/master/csswizardry-grids.scss)) as the "last grid you'll ever need".

Everyone gets fractions. "One half" (`.u-1/2`) of a container is always one half of the container.

[2016-07-27 20:57] nenadjelovac opened #102 "[tools.widths] Is missing `u-1/1` class and having classes like `u-12/12` and `u-16/16` intentional?"
@csswizardry Is this a bug? It looks like an [old issue](https://github.com/inuitcss/tools.widths/issues/2) that we had fixed with [this chunk of code](https://github.com/inuitcss/tools.widths/blob/master/_tools.widths.scss#L28-L52), so I'm curious if this is intentional?

[2016-07-27 21:09] nenadjelovac opened #103 "[utilities.widths] Value for columns in responsive variant of inuit widths is hard coded"
Should

[code]
be

[code]
?

[2016-07-27 22:17] nenadjelovac opened #104 "[utilities.widths] Make obvious that there are pull and push classes"
[Pull and push classes](https://github.com/inuitcss/inuitcss/blob/develop/tools/_tools.widths.scss#L25-L41) are generated alongside [width utility](https://github.com/inuitcss/inuitcss/blob/develop/utilities/_utilities.widths.scss) classes. But it's nowhere to be found in comments or examples (for example, I didn't know about it until I accidentally checked the code for widths mixin :)). Maybe the

[2016-07-27 22:57] LayZeeDK commented on #5
Somehow it should be clarified to users that the font-size, and clearfix tools are required for certain parts of the framework. Is it enough that a Sass compiler warns for a missing mixin or function?

[2016-07-28 11:08] csshugs commented on #99
@nenadjelovac @florianbouvot

I already [fixed that](https://github.com/inuitcss/inuitcss/blob/tkt-0021/utilities/_utilities.widths.scss) in #21.

Just isn't merged in yet.

[2016-07-28 11:14] nenadjelovac commented on #99
@csshugs oh, nice. Closing the issue then ;)

[2016-07-28 11:14] #99 closed

[2016-07-28 15:14] florianbouvot commented on #101
That a small point but I think "fractions" would be better than "columns". 👍

Fully agree, I think we should encourage this approach and switch to halves, thirds, quarters, and fifths default. 👍

[2016-07-28 15:35] florianbouvot commented on #104
Same for me, I understand the relationship between widths and push/pull but I think we need to split them in separate files.

[2016-07-28 15:37] florianbouvot commented on #103
Yes

[2016-07-28 15:38] csshugs commented on #104
...or just completely drop 'em? I personally never needed them, but I might be an exception there.

[2016-07-28 15:43] florianbouvot commented on #104
@csshugs I ~~never~~ rarely needed them too but I think there are some use case. That's why I propose to separate widths and push/pull 😉

[2016-07-28 21:42] dnixx commented on #104
I use pull and push on almost every project. I've replaced them with flexbox, though, which I personally would very much like to see in inuitcss as well. :)

[2016-07-29 06:05] anselmh commented on #104
Push and pull is needed and I think we should not remove them from the codebase. However, pointing out how to use them and that they exist should be a major goal indeed.

Hm, I’m not sure if that’s reasonable as they’re directly related to the width classes and rely on that code to work. On the other hand, moving them into a separate file would make it a opt-in for users, so @csshugs for example c

[2016-07-29 07:43] csshugs commented on #104
@anselmh exactly

[2016-07-29 08:14] csshugs commented on #38
@florianbouvot
I have no strong opinion about this either, so I guess it's a good idea to stick to the standard. I suspect this only concerns `generic.reset` and `generic.shared`. Do you mind to open a PR @florianbouvot or should I do it?

[2016-07-29 08:22] florianbouvot commented on #38
@csshugs thank you for your opinion, I will open a PR in the morning 😉

[2016-07-29 08:50] csshugs commented on #38
Perfect! 😄

[2016-07-29 08:57] csshugs commented on #97
@inuitcss/core
Concerns anyone? Can I open a PR?

[2016-07-29 08:59] csshugs commented on #98
@inuitcss/core
Concerns anyone? Approved for PR?

[2016-07-29 09:08] csshugs commented on #100
@nenadjelovac @anselmh @florianbouvot
But wouldn't it violate the idea of itcss/the specificity graph? Due to the [`!important`](https://github.com/inuitcss/inuitcss/blob/e97c17bd1942e91cfc048e04673659fb5ba6e347/utilities/_utilities.print.scss#L22-L25) declarations there would be a peak in the specificity graph. And also those declarations which don't carry an `!important` are likely to be ’trumpe

[2016-07-29 09:15] anselmh commented on #100
Print, since it is its own media type, doesn’t violate the idea of the specificity graph. Actually, I’d not take print styles into account at all for it.

[2016-07-29 09:15] csshugs commented on #101
@nenadjelovac

Yes (rename to `$inuit-fractions`) and yes (rephrase all mentions of "columns").

I'd vote for:

[code]

[2016-07-29 09:19] csshugs commented on #103
@inuitcss/core
Would a PR be appropriate?

[2016-07-29 09:27] csshugs commented on #104
@anselmh

I think push and pull can be considered as additions to widths, but not directly dependent on it. So splitting them is possible and not risky. But I get your point.

[2016-07-29 09:27] csshugs commented on #104
@inuitcss/core
I think we need a poll:
* 👍  for splitting `push`/`pull` and `widths` into separate files
* 🍺  for keeping them in one file (but at least make the existence of `push`/`pull` more obvious)

[2016-07-29 09:35] robjwood commented on #104
I voted for a split but only for selfish reasons as I've never used them.

What _are_ they for? Does anyone have an example use case?

[2016-07-29 09:48] florianbouvot commented on #101
I'd vote for:

[code]

*without the 12 😆 *

[2016-07-29 10:26] csshugs commented on #104
@robjwood

That's a totally valid reason.

Imagine a grid with two items. Both items have a width of 1/4 of the container width. But the items shall not be aligned to the left but rather be offset with 1/4 width off the left. So you "push" each item to the right with an amount of 1/4:

![bildschirmfoto-2016-07-29-um-12 19 59](https://cloud.githubusercontent.com/assets/4582857/17245606/867fbd22-558

[2016-07-29 10:28] csshugs commented on #101
@florianbouvot I'm fine with it 😄

[2016-07-29 10:40] csshugs commented on #100
@anselmh

Ok agree, but to my second point:

Take [this code](https://github.com/inuitcss/inuitcss/blob/e97c17bd1942e91cfc048e04673659fb5ba6e347/utilities/_utilities.print.scss#L29-L32) for example. When I write in my elements layer file `elements.link`:

[code]

...it gets trumped in `utitlities.print` with [this](https://github.com/inuitcss/inuitcss/blob/e97c17bd1942e91cfc048e04673659fb5ba6e347/

[2016-07-29 12:34] robjwood commented on #104
@csshugs I undertand. I think to achieve the example you highlighted I've previously put a wrapper around those items and centred the items within it. There's always multiple ways to achieve the same thing!

In the example you showed it does feel like the use of `pull` and `push` is distinct enough from widths to justify splitting them.

Thanks for the example.

[2016-07-29 12:35] csshugs commented on #104
You're welcome!

[2016-07-29 12:51] dnixx commented on #104
Pull and push can also be used to reorder the layout on different devices. And you can even change the source order if you want the most important markup on top (the content) and the less important stuff on the bottom (side menu), while still being able to display it the other way around.

![pull-and-push](https://cloud.githubusercontent.com/assets/3981388/17248581/ca0aab42-559b-11e6-8e18-6132fbd8

[2016-07-29 15:00] nenadjelovac opened #105 "[tools.mixins] [utilities.hide] Mixin is not prefixed"
Mixin is not prefixed with `inuit-` in:

- [tools.mixins](https://github.com/inuitcss/inuitcss/blob/develop/tools/_tools.mixins.scss#L108)
- [utilities.hide](https://github.com/inuitcss/inuitcss/blob/develop/utilities/_utilities.hide.scss#L11)

[2016-07-29 15:16] florianbouvot commented on #105
True, can you create a PR ?

[2016-07-29 15:31] robjwood commented on #104
@dnixx Agree that flexbox would be better but that's an interesting use case. Thanks.

[2016-07-29 16:26] florianbouvot commented on #97
@csshugs yes, you can submit a PR.

[2016-07-29 16:27] florianbouvot commented on #98
@csshugs same here, ok for PR.

[2016-07-29 16:30] florianbouvot commented on #105
@nenadjelovac I open it 😉

[2016-07-29 18:23] #105 closed

[2016-07-29 18:25] #103 closed

[2016-07-29 20:30] florianbouvot commented on #101
TODO : update comments to follow latest updates (my english is too bad for this kind of work).

[2016-07-29 21:08] florianbouvot commented on #40
@csswizardry I switch list to checklist in your first comment, hope it improve understanding.

[2016-07-29 21:13] florianbouvot commented on #98
[code]

Why `margin-left: 0;`?

[2016-07-29 21:15] florianbouvot commented on #100
I'm even more confused... 😕

[2016-07-29 21:24] florianbouvot commented on #55
@inuitcss/core I reopen this issue and add same option as font-size mixin. If it's not necessary, to complex... please close the issue 😉

[2016-07-30 12:59] jonsa opened #110 "Add a composer.json file"
.. and register the project on [Packagist](https://packagist.org/).

[2016-07-31 09:14] florianbouvot commented on #110
Is composer for really useful for this kind of project?

[2016-07-31 09:30] florianbouvot opened #111 "[utilities.widths] Separate non-responsive and responsive"
inuitcss use and include [Sass-mq](https://github.com/sass-mq/sass-mq) but if someone want to use another tool I think we need to split widths like that:

_utilities.widths.scss
[code]

_utilities.widths-responsive.scss
[code]

*And same approach for push/pull if separating from widths [refs #104]*

Thoughts ?

[2016-07-31 12:55] johannes-r opened #112 "[generic.shared] Use rem units?"
Can't we use `rem` units here instead of `px`? Like the original [generic.shared](https://github.com/inuitcss/generic.shared/blob/master/_generic.shared.scss) did?

use:
[code]

instead of:
[code]

Or is there a reason this hasn't been ported over?

[2016-07-31 13:53] jonsa commented on #110
Ah, I was looking at the beta2 release I had downloaded and there were no dependencies defined, which would have made it easy. But it's still doable.

I prefer to work with one package manager when I work with projects. Be it NuGet for .NET, Composer for PHP or bower for JS. Both Bootstrap ([nuget](https://www.nuget.org/packages/bootstrap/4.0.0-alpha3) [packagist](https://packagist.org/packages/tw

[2016-07-31 14:59] anselmh commented on #110
Okay, thanks for the elaboration to understand your point a bit better. I think it makes sense to leave this open and try to get some feedback if other people would like to have this as well and what’s common practice. I’ll do this and get back to you when I have more feedback. :)

[2016-07-31 15:14] florianbouvot commented on #112
Personally, I'm in favor of using `rem` when possible...

@inuitcss/core ?

[2016-08-01 13:47] csshugs commented on #112
OK, but when we decide to use `rem` for `generic.shared`, why limit it to just this partial. It would make sense then to use `rem`-unit everywhere else where spacing is concerned.

[2016-08-01 13:51] csshugs commented on #111
@florianbouvot
I already proposed an [identical idea](https://github.com/inuitcss/inuitcss/issues/80#issuecomment-233947112).
Didn't get approved 😞

[2016-08-01 13:52] nenadjelovac commented on #112
@csshugs exactly. It has to be framework wide.

[2016-08-01 13:57] csshugs commented on #112
@inuitcss/core
Do I get a permission from one of you to submit a PR to evaluate the implementability of this?

[2016-08-01 14:03] nenadjelovac commented on #112
@csshugs go for it. Try it out. But I'd leave final say if we should merge it to @csswizardry

[2016-08-01 14:46] florianbouvot commented on #112
@csshugs let's go 😉

[2016-08-01 16:14] #97 closed

[2016-08-01 16:17] florianbouvot commented on #111
@csshugs I didn't pay attention to that point.

[2016-08-01 16:33] LayZeeDK commented on #102
u-1/1 is `width: 100%` which is the default in `objects.layout`. Classes like `u-12/12` and `u-16/16` is useful when generating classes using e.g. a CMS grid.

[2016-08-01 18:52] csshugs commented on #102
Good point!

[2016-08-01 19:30] nenadjelovac commented on #102
@LayZeeDK

Yes, it's true that `o-layout__item` is `width: 100%` by default. But `u-1/1` can be used on other stuff than just layout.

I am not sure if I understand this. Can you give me an example of where `u-1/1` would not do the trick? I just want to understand the context.
thnx

[2016-08-01 20:50] LayZeeDK commented on #102
I do see your point about using the width utilities with other components.

In a CMS I would allow the user to choose how many columns a section should span out of say 12 columns. The CMS could output markup with a template like `<div class="u-{{columnSize}}/12">` and it would work no matter the combination chosen by the user.

[2016-08-01 23:02] nenadjelovac commented on #102
@LayZeeDK the main problem is that it is *not* column(s), it's fraction. See my comment and following discussion [here](https://github.com/inuitcss/inuitcss/issues/101).

So in your CMS user could alter the widths of section with wholes, halves, thirds, quarters, fifths etc (this is in my opinion and experience enough to make a lot of layouts out there).

In the CMS you'd ask something like:

- on

[2016-08-02 06:55] anselmh commented on #110
After doing a survey on Twitter (result >75% saying not useful to have it on such registries) and reviewing again the numbers of bootstrap and foundation on these registries I think it would make sense to publish inuit on these package managers as well.

@inuitcss/core please add 👍 if you agree or 👎 if you disagree.

One major concern here though is that we now have a dependency specified which wo

[2016-08-02 11:06] csshugs commented on #98
@florianbouvot

I think it is to be able to use `.o-pack` on an `<ul>` element.

[2016-08-02 11:45] casertap opened #113 "example of using inuitcss in a webpack project"
I am trying to integrate inuitcss in my webpack app.
The webpack project I am using is using a custom loader to load bootstrap-sass which seams quite complicated https://github.com/erikras/react-redux-universal-hot-example/blob/master/webpack/dev.config.js

Is there any example on how to do that with inuitcss?

[2016-08-02 11:49] anselmh commented on #113
Hey, currently there’s no example as we’re still in progress of porting over the individual modules to this new repo and improve it. Our plan though is to provide a way better documentation, including examples such as your requested one. Thanks for the request, we’ll try to provide it soon. :)

[2016-08-02 11:56] anselmh commented on #100
@csshugs I’m in favour of adding `!important` to all print styles anyways since they are the ultimate rules for print, and any non-print styles should never override them at any point.

[2016-08-02 13:13] nenadjelovac commented on #100
I've digged a little deeper, and here's what I've found about ITCSS (inuitcss) layers:

Taken from [Manage large CSS projects with ITCSS](http://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528).

More from the same source:

Now, about the specificity, it shouldn't be that much of an issue according to the excerpt from [The Specificity Graph](http://csswizardry.com/2014/10

[2016-08-02 13:23] csshugs opened #114 "[objects.flag] Align `--rev` modifier naming with other objects"
The flag modifier for reversed order of image and body is named `.o-flag--rev` at the moment.

The appropriate modifiers for [`objects.layout`](https://github.com/inuitcss/inuitcss/blob/419f285b6f3bc67a43536d2c332d9deead432fdb/objects/_objects.layout.scss#L240) and [`objects.media`](https://github.com/inuitcss/inuitcss/blob/419f285b6f3bc67a43536d2c332d9deead432fdb/objects/_objects.media.scss#L128)

[2016-08-02 13:26] nenadjelovac commented on #114
@csshugs +1!

[2016-08-02 13:50] csshugs commented on #112
I'm not very happy with the result :-(

It kinda violates [our guidelines](https://github.com/inuitcss/inuitcss/blob/develop/CONTRIBUTING.md#simplicity-is-paramount). Especially this one:

Providing mixins in all various places just to get margins/paddings seems a bit ridiculous.

@inuitcss/core Thoughts?

[2016-08-02 13:55] nenadjelovac commented on #112
@csshugs agree 100%.

How often do you guys had the need to change the whole site based on `rem`? I personally haven't had the need in any of my projects yet..

[2016-08-02 14:00] csshugs commented on #112
Agree 👍

[2016-08-02 14:03] anselmh commented on #112
In nearly every project I set the base font-size using `em`, then reference this via `rem` or `em` in other modules. This makes it super easy to do responsive sizing such as displaying a smaller font-size on mobile (which is recommended due to the display-size/device-eye-distance difference).

What I wonder: Why do we need to rely on the `inuit-rem` mixin for this and can’t just use `rem`? I think

[2016-08-02 18:18] florianbouvot commented on #114
I wonder if it will not be better to use `--rev` instead of `reverse` for compatibility with pre-alpha version: [objects.layout](https://github.com/inuitcss/objects.layout/blob/master/_objects.layout.scss), [objects.media](https://github.com/inuitcss/objects.media/blob/master/_objects.media.scss), [objects.flag](https://github.com/inuitcss/objects.flag/blob/master/_objects.flag.scss).

[2016-08-02 18:38] florianbouvot commented on #112
@csshugs

True :anguished:

@anselmh

I fully agree with you but we already talk about IE8 (refs #6). Can we convert px to rem at [settings.core](https://github.com/inuitcss/inuitcss/blob/develop/settings/_settings.core.scss#L95-L98) level?

[2016-08-02 19:00] florianbouvot commented on #110
@jonsa

Bower for "front-end", npm for JS.

I vote 👎 because I think that "normal" to use the "correct" package manager: when I work with back-end developer we need to use composer + npm ...

[2016-08-02 19:09] anselmh commented on #110
Just for sake of completeness: npm _was thought_ for for node.js applications, not for JS. ;)

[2016-08-02 19:14] anselmh commented on #112
That sounds indeed very very reasonable. Glad you thought about this! I’d be in absolute favor of recommending usage of PostCSS for such fallbacks in addition to our tiny inuitcss. :)

[2016-08-02 19:21] johannes-r commented on #112
The main reason why I thought about setting this in `rem` was to keep the vertical rhythm between the 'shared elements' intact when I scale the (`em`) font-size on my html element (e.g. to achieve the goal @anselmh mentioned or responsive typography in general).

But you're right, this might be a too specific use case.

[2016-08-02 20:16] florianbouvot commented on #112
This issue reminds me this article ["In CSS use pixels not em"](http://jgthms.com/in-css-use-pixels-not-em.html) subject of debate in French community.

[2016-08-02 20:42] nenadjelovac opened #116 "Remove support for IE < 9?"
@inuitcss/core It's been highlighted in comments on [another issue](https://github.com/inuitcss/inuitcss/issues/112#issuecomment-237000176) that PostCSS could handle IE < 9 support for users that really need it (via [node-pixrem](https://github.com/robwierzbowski/node-pixrem) perhaps). Removing official support for oldie browsers would make the code lighter and make us more nimble in inuitcss deve

[2016-08-02 20:46] nenadjelovac commented on #112
@florianbouvot just a note, you couldn't do this

[code]

because `settings` layer is included before `tools` layer (where `inuit-rem` function is at).

[2016-08-02 20:54] nenadjelovac commented on #114
@florianbouvot I'd personally go with breaking backwards compatibility in favour of more clear class name. Yes, it's not ideal to break the compatibility, but we have the chance to move forward with better version of inuit, so why not do it? :)

[2016-08-02 21:32] florianbouvot commented on #114
@nenadjelovac ok, I just wanted to point this 😉

[2016-08-02 21:34] florianbouvot commented on #112
@nenadjelovac Oh yeah 😆

*I try to switch from px to rem in current my current project and I have Sass error for things like this:*
[code]

[2016-08-02 22:22] nenadjelovac commented on #112
@florianbouvot I'd use `calc()` ;) See support [here](http://caniuse.com/#search=calc)

[2016-08-02 22:36] nenadjelovac commented on #111
@florianbouvot @csshugs I'd suggest reopening this so we could discuss further. @csshugs's proposal was a part of another discussion so it might got overlooked.

[2016-08-02 22:51] LayZeeDK commented on #102
You are right that this could be a better way to present it to the (CMS) user. But building the CMS UI and the markup generated are two different things.

Also, even in the `utilities.widths` it is currently referred to as _columns_:
[code]

[2016-08-02 23:09] nenadjelovac commented on #102
@LayZeeDK

Yup, we already have issue raised about that [here](https://github.com/inuitcss/inuitcss/issues/101) ;). I would have written `<div class="u-{{ fraction }}">` instead, but didn't want to add confusion into discussion.

[2016-08-03 05:25] anselmh commented on #116
I think we should do this. Also, shouldn’t we embrace using PostCSS’ [autoprefixer](https://github.com/postcss/autoprefixer) anyway?

[2016-08-03 05:31] anselmh commented on #112
Well, for your project @florianbouvot you could and probably should alter `box-sizing`, if you need to stick to `border: 2px;` or choose a rem value for the border as well.

You shouldn’t use `calc()` anywhere. In this case, I’d say it’s not recommended. The issue is that `calc()` is calculated and rendered dynamically, causing the page to slow down in the browser if used too often or on heavy cal

[2016-08-03 06:56] florianbouvot commented on #112
@nenadjelovac @anselmh thank you for your feedback.

@inuitcss/core you think it's possible/suitable to move from `px` to `rem`?

[2016-08-03 07:32] csshugs commented on #111
Since I welcome the idea of splitting the widths in generell, I reopen this issue :)

[2016-08-03 07:56] nenadjelovac commented on #112
@anselmh

Yeah, I didn't take this possibility into account. But do you have any tests/articles about it? What I found with quick search is this:

Also found this http://stackoverflow.com/a/26935512. So it seems if used carefully there shouldn't be much issues with it.

[2016-08-03 08:10] anselmh commented on #112
Well, there is a reason on why `calc()` took quite some time to be implemented into browsers, it’s because of the performance. Of course you won’t notice much in most cases but I don’t think it would be appropriate to use calc in a framework. On a project-specific level, I just wanted to say: Be a bit careful and don’t use it everywhere ;)
But I think this is also off-topic :D

[2016-08-03 08:13] nenadjelovac commented on #112
@anselmh

It was related to @florianbouvot's [question](https://github.com/inuitcss/inuitcss/issues/112#issuecomment-237052155) about buttons in his project. I am strongly against having this in the framework.

But yeah, let's not off-topic any more :D

[2016-08-03 08:17] csshugs commented on #114
@florianbouvot
I'm with @nenadjelovac here, so I'll merge #115

[2016-08-03 08:17] #114 closed

[2016-08-03 08:24] csshugs commented on #112
Back to the topic:
If we [decide to drop IE < 9 support](https://github.com/inuitcss/inuitcss/issues/116), we should definitely just use `rem`.

[2016-08-03 09:46] csshugs opened #117 "[tools.widths] Integrate the mixin into `utilities.widths`"
Can't we just integrate the widths-mixin into `_utilities.widths`.

I think it makes no sense to separate them because one will never have just one partial of these two. They'll always go hand-in-hand, or do I overlook something here?

[See here](https://github.com/inuitcss/inuitcss/blob/87b603e3b60e6d20f9c0a91cd2558f12ff0b298d/tools/_tools.mixins.scss#L5-L6)

[2016-08-03 09:51] csshugs commented on #5
I just realized that `_tools.widths` never was in `_tools.mixins` but always was an extra partial, which kinda supports my point of [splitting them all into separate files](https://github.com/inuitcss/inuitcss/commit/26d2d88dc956cb55c1d0d2f38116523e4e049951).

When you [have a look at my commit](https://github.com/inuitcss/inuitcss/commit/26d2d88dc956cb55c1d0d2f38116523e4e049951), you'll see that

[2016-08-03 09:56] nenadjelovac commented on #117
Good catch @csshugs! I agree that we should practice [what we preach](https://github.com/inuitcss/inuitcss/blob/87b603e3b60e6d20f9c0a91cd2558f12ff0b298d/tools/_tools.mixins.scss#L5-L6).

[2016-08-03 10:22] florianbouvot commented on #5
`inuit-halve` refer to old [math tools](https://github.com/inuitcss/tools.functions/blob/master/_tools.functions.scss).

LGTM, I think we can remove `inuit-halve` and may be `inuit-hocus` too.

[2016-08-03 10:23] florianbouvot commented on #117
Agree too

[2016-08-03 10:24] csshugs commented on #55
I think it's too complex and unnecessary. [The way it is at the moment](https://github.com/inuitcss/inuitcss/blob/87b603e3b60e6d20f9c0a91cd2558f12ff0b298d/tools/_tools.mixins.scss#L82-L84) does it it, IMO.

([Related](https://github.com/inuitcss/inuitcss/blob/develop/CONTRIBUTING.md#simplicity-is-paramount))

[2016-08-03 10:24] #55 closed

[2016-08-03 10:29] florianbouvot commented on #5
refs #92

[2016-08-03 10:34] florianbouvot commented on #101
@inuitcss/core who can update comments cleanly?

[2016-08-03 11:01] nenadjelovac commented on #5
@csshugs I think we should remove everything we are not using now (halve and hocus).

The only comment that I have is that there is no difference between functions and mixins in filenames, which might take a way a bit of clarity. I think there was an suggestion to name it like this for example:

- `_tools.function.rem.scss`
- `_tools.mixin.font-size.scss`.

Also, I think it was you @csshugs that a

[2016-08-03 11:06] anselmh commented on #5
Except for the `hidden-visually` partial that’s an improvement. For the mentioned partial I think we should call it more generic like `hidden` so that it can contain more than just this one mixin but multiple?

[2016-08-03 11:35] csshugs commented on #101
@florianbouvot I take a look at it.

[2016-08-03 11:38] nenadjelovac commented on #5
@anselmh good spot! I second that suggestion.

[2016-08-03 11:41] csshugs commented on #5
@nenadjelovac

Yeah, I remember that and thought about doing it here, too. But I considered this to be an extra issue, which I would open when this issue is approved.

@anselmh

I like that. I'll correct that in a minute.

[2016-08-03 11:43] nenadjelovac commented on #5
@csshugs ah, ok. So pls raise an issue then ;)

[2016-08-03 11:45] csshugs commented on #5
@nenadjelovac One thing at a time 😄

[2016-08-03 11:49] csshugs commented on #5
Let's open an extra issue for removing `inuit-hocus` function.

You'll find the issue questioning `inuit-halve` function [here](https://github.com/inuitcss/inuitcss/issues/92).

[2016-08-03 11:55] csshugs opened #119 "Remove `inuit-hocus` function"
As mentioned [here](https://github.com/inuitcss/inuitcss/issues/5#issuecomment-237194046), there seems to exist an uncertainty if we need the `inuit-halve` function at all.

IMO it is too specific for inuitcss, especially since it is not used at all in the framework at the moment.

Thoughts?

[2016-08-03 11:56] florianbouvot commented on #119
Agree 😉

[2016-08-03 12:03] nenadjelovac commented on #119
Let's remove it ;)

[2016-08-03 12:04] nenadjelovac commented on #92
I'd go with removing it now (since it's not used anywhere) so we have a clear base, and add anything we think is needed at a later point.

[2016-08-03 12:11] csshugs commented on #119
Ok, let's come back to this when/if #118 gets merged, so we just need to remove the file.

[2016-08-03 12:12] csshugs commented on #92
@nenadjelovac Agree.

Let's come back to this when/if #118 gets merged, so we just need to remove the file.

[2016-08-03 13:09] csshugs commented on #104
Current poll-result:

👍 : 7
🍺 : 0

No beer?!?! What's wrong with you?

Anyway. Seems like we agreed on splitting `push`/`pull` from `widths`.

But do we then have one file with push/pull

* * `_utilities.push-and-pull.scss`

or do we have two files:

* `_utilities.push.scss`
* `_utilities.pull.scss`

[2016-08-03 13:28] nenadjelovac commented on #104
@csshugs I'd go with push and pull being one file.

[2016-08-03 13:55] florianbouvot commented on #104
@csshugs one file for push and pull.

[2016-08-03 14:05] csshugs commented on #104
@nenadjelovac @florianbouvot

So I actually would name it `_utilities.push-and-pull.scss`?

And for responsive I'd go and do a second file named `_utilities.push-and-pull-responsive.scss`?

[2016-08-04 01:10] dnixx commented on #100
I think the print styles should be included in the specificity graph. They don't affect the specificity graph for screen media, but certainly for print media, which I don't think should be treated any differently.

A project can contain many more print styles than the generic ones, e.g. class selectors, which could very well lead to specificity issues.

If we explicitly set anchor `text-decoration

[2016-08-04 11:46] mhauken commented on #40
Some objects i always use (apart from the core):

### objects.buttons
I understand this is going over to an [example of component](https://github.com/inuitcss/inuitcss/blob/develop/components/_example.components.buttons.scss)?

### objects.list-ui
I can agree that this introduces a bit design, and that I often modify them quite a bit. But could this also be added as an example like objects.buttons

[2016-08-04 13:54] csswizardry commented on #104
Maybe just `_utilities.push-pull.scss` for now.

No. I don’t think we should have separate files for responsive.

[2016-08-04 13:55] csswizardry commented on #100
It needs to stay in Utilities. As discussed, _Trumps_ is the most accurate name for this later, but we decided to rename it and this is one of the tradeoffs we’ll have to make.

[2016-08-04 14:07] csswizardry commented on #112
Rems can be added using a post processor; it’s not inuitcss’ job to provide global rems when they usually aren’t needed (i.e. you should only use rems if you actually want the padding of your buttons to change when the font-size of your `html` element changes).

I vote that we don’t use rems globally.

[2016-08-04 14:08] csswizardry commented on #92
I deleted `halve()` in #118.

[2016-08-04 14:13] csswizardry commented on #102
I think for the sake of cleanliness, completeness, and encapsulation, actually generating `u-12/12`, `u-16/16`, etc.  is probably the correct thing to do (despite what we did last time).

[2016-08-04 14:17] csswizardry commented on #112
1. I think that using rems globally is usually not the correct thing to do (happy to expand if people need it).
2. If people want rems throughout the whole project, they can use [a post-processor](https://teamtreehouse.com/library/convert-pixels-to-rems).
3. inuitcss should provide rems for typography-specific things (font-sizes, margins on type elements).
4. We can probably achieve point 3 withou

[2016-08-04 14:19] thosetinydreams opened #120 "Width utility class name inconsistencies"
There seem to be some inconsistencies referencing the width Utilities in comments across the files.

- the [_objects.layout.scss](https://github.com/inuitcss/inuitcss/blob/develop/objects/_objects.layout.scss) file is referencing classes like `u-width-1/3@medium` (notice the **width** word),

- while the [_utilities.widths.scss] (https://github.com/inuitcss/inuitcss/blob/develop/utilities/_utiliti

[2016-08-04 14:23] csshugs commented on #120
@thosetinydreams Well spotted! Absolutely right.

[2016-08-04 14:23] nenadjelovac commented on #100
@csswizardry

Yes, I had the feeling we're lacking that layer now, but didn't want to suggest introducing another layer just for one file.

Actually, I don't have a strong opinion of this, just wanted to share my views regarding the definition. It might just be a semantic thing, but in practice the tradeoff seem better for the time being.

I'll close the issue if @inuitcss/core agrees.

[2016-08-04 14:26] csswizardry commented on #116
This *completely* removes IE8 support. As in, this will stop fundamental parts of the framework working in IE8. We will no longer have any layout. I think this is too destructive. I don’t want to provide full support for IE8, but removing layout completely is a step too far.

[2016-08-04 14:27] csshugs commented on #100
Agreed.

[2016-08-04 14:27] #100 closed

[2016-08-04 14:31] csshugs commented on #116
@csswizardry
Why is layout affected by this?

[2016-08-04 14:32] csswizardry commented on #116
Because the layout system uses the font-size hack, and using rems will stop the hack from working.

[2016-08-04 14:32] nenadjelovac commented on #116
Damn, forgot about that!

@csshugs check [these lines](https://github.com/inuitcss/inuitcss/blob/develop/objects/_objects.layout.scss#L104-L111).

[2016-08-04 14:32] csshugs commented on #5
Since #118 is merged, I close this.

[2016-08-04 14:32] #5 closed

[2016-08-04 14:34] csshugs commented on #116
@nenadjelovac @csswizardry
Well we could just take the `@if` away there:

[code]

[2016-08-04 14:34] #119 closed

[2016-08-04 14:36] csshugs commented on #116
...I mean, if it's just the layout that concerns you.

[2016-08-04 14:38] csswizardry commented on #117
Thanks! I’d already started working on a fix for this in a private branch (at the same time as creating responsive spacing utilities). Happy to merge this when you’re ready to open a PR 👍

[2016-08-04 14:43] nenadjelovac commented on #116
@csshugs yes, but it's used in [font size mixin](https://github.com/inuitcss/inuitcss/blob/develop/tools/_tools.font-size.scss) as well.

@inuitcss/core I think we should agree what our intent is.

1. If we officially offer support for IE < 9 then we have to agree how far we want to take it. In that case `$inuit-oldIE` remains.
2. If we want to just offer fallback where we *know* something will br

[2016-08-04 14:47] nenadjelovac commented on #38
@florianbouvot is this merged? Can we close it now?

[2016-08-04 14:47] csshugs commented on #116
Nr. 2 makes our lives easier, I guess.

I mean, IE 8! We should do the least possible to support IE 8.

[2016-08-04 14:47] #38 closed

[2016-08-04 14:48] csswizardry commented on #116
In principle I agree, but it would be irresponsible to leave IE8 users looking at a page full of `font-size: 0;` layouts.

[2016-08-04 14:48] nenadjelovac commented on #92
@csshugs can we close this?

[2016-08-04 14:49] #117 closed

[2016-08-04 14:49] #120 closed

[2016-08-04 14:49] csswizardry commented on #120
Thanks, @thosetinydreams!

[2016-08-04 14:49] csshugs commented on #116
That's why I'd vote for Nr. 2.

[2016-08-04 14:50] #92 closed

[2016-08-04 14:51] csswizardry commented on #98
@csshugs is correct 👍

[2016-08-04 14:52] csshugs commented on #98
💪

[2016-08-04 14:57] csshugs commented on #98
#123 is merged.

[2016-08-04 14:57] #98 closed

[2016-08-04 15:29] nenadjelovac commented on #102
@csswizardry I just realized I could still use `u-1/1` with this solution so it has my use case covered ;) Closing this.

[2016-08-04 15:29] #102 closed

[2016-08-04 15:56] aaronstezycki commented on #104
Does push and pull depend directly on widths though?

How about naming convention of seperate files which depend on another _{section}.{component-name}.{extension}.scss?

So for push and pull = `_utilities.widths.push-pull.scss`

That way when you look in the 'file tree' in your chosen editor, the files appear together and have a certain relevancy?

[2016-08-04 20:18] thosetinydreams commented on #113
Do you guys have a time estimate for when the documentation could go out? Just curious.

[2016-08-04 20:54] nenadjelovac commented on #113
@thosetinydreams it's not an ETA, but you'd be able to follow the progress [here](https://github.com/inuitcss/inuitcss/issues/58#issuecomment-229699216).

[2016-08-04 21:15] thosetinydreams commented on #113
Cool, thanks, @nenadjelovac!

[2016-08-04 22:54] nenadjelovac commented on #113
@thosetinydreams no problems ;)

[2016-08-04 22:58] casertap commented on #113
If it can help, I have integrated the duckduckgo-styles in a webpack project:
https://github.com/casertap/react-redux-universal-hot-compass/blob/master/webpack/dev.config.js

This setup is complex because duckduckgo rely on compass and litestrap (itself relying on animate)

Note:  - add the entry point of your libraray in: ``` entry: { 'main': [ ```
- provide all the necessary path used at compile

[2016-08-05 09:50] csshugs opened #124 "Consistent guideline for empty lines"
The amount of empty lines varies a bit at the moment.

Examples:
- https://github.com/inuitcss/inuitcss/blob/6b59185094d41391185746aa868f927d7a7bcbbf/elements/_elements.headings.scss#L10-L11
- https://github.com/inuitcss/inuitcss/blob/6b59185094d41391185746aa868f927d7a7bcbbf/elements/_elements.images.scss#L18-L19
- https://github.com/inuitcss/inuitcss/blob/6b59185094d41391185746aa868f927d7a7bcbbf/

[2016-08-05 14:40] csshugs commented on #116
When you have a look at the [last commit](https://github.com/inuitcss/inuitcss/commit/197830c5629b7ad13dee4c5e1c8bffe8e2b597c8), you see that it's

A. IE8 compatible
B. Simple (no Sass magic to detect whether we support IE8 or not)

If we some day will decide to drop IE8 support, all we have to do is remove (currently) three lines of code.

[2016-08-07 12:21] csswizardry commented on #124
Whilst this does need fixing, I’m keen not to get too distracted and concerned with such small things. I will try to codify a style :)

[2016-08-07 12:53] csswizardry commented on #111
I think (_think_) we can probably tidy this up. Rather than splitting out into more files, we could just do something like:

[code]

Means people don’t need to read through multiple files, and the framework will just behave accordingly if someone chooses another MQ manager.

[2016-08-07 13:01] csshugs commented on #124
@csswizardry Yeah, I just wanted to have this issue open, just to keep this in mind. Not something that needs to be fixed right now.

[2016-08-07 13:20] csswizardry commented on #104
Giving this some thought. Separating things out means we will have to double on on the logic involved in generating the classes (checking for Sass MQ, defining the fractions the looping through the fractions).

The title of this issue is *Make obvious that there are pull and push classes*—we can do that with better documentation, rather than causing a bunch of work by splitting files up.

I think

[2016-08-07 15:20] tymondesigns opened #128 "Import normalize.css from npm?"
Hey chaps, just caught up with all the recent changes, awesome work!

After noticing the inclusion of `sass-mq` externally, I wondered if this approach should be applied to necolas' `normalize.css`

Not sure if this has been discussed before, so apologies if so.

I'd be happy to submit a PR if this is a good shout ?

[code]

[2016-08-07 18:21] csswizardry commented on #128
I’d love to! The issue lies in `@import`ing a `.css` file into a Sass project though. Ideas? :)

[2016-08-07 19:22] tymondesigns commented on #128
I'm not sure about ruby-sass but it definitely works with node-sass using the code above.

[2016-08-07 19:27] tymondesigns commented on #128
in-fact here is the libsass PR for reference https://github.com/sass/libsass/pull/754

[2016-08-07 19:39] tymondesigns commented on #128
after some more investigation looks like sass/sass has still not added this feature out of the box https://github.com/sass/sass/issues/193. Apparently it's promised in v4.

I guess that's pretty much a show stopper given that ruby-sass support is a must!

I guess the only other option I can think of is to use one of the normalize sass forks e.g. [this](https://www.npmjs.com/package/node-normalize-

[2016-08-08 05:13] anselmh commented on #128
Yes, if there's support for CSS partial import we can certainly use the original dependency.
If we use our own or another fork doesn't matter though.

[2016-08-08 08:08] csshugs commented on #128
Unfortunately, [this](https://github.com/ranjandatta/node-normalize-scss) fork is not provided as a bower component. I assume, we don't want to dictate either npm or bower to our users. So I propose providing a dedicated `inuitcss-normalize.css` fork, with a `package.json` *and* a `bower.json`.

[2016-08-08 08:15] nenadjelovac commented on #128
Why would we then split it from the main repo?

[2016-08-08 08:24] csshugs commented on #104
One reason is that the push and pull classes are always generated, but are not always needed (e.g. I barely use them in any of my projects).

I agree, that we would double the logic involved, but I honestly don't know if that's necessarily a bad thing.

Just wanted to point out that right now, there is generated CSS which might be considered as bloat which is potentially against inuitcss' advert o

[2016-08-08 08:29] csshugs commented on #128
@nenadjelovac Good question! I don't know 😆

Maybe there are reasons. Anyone know some reasons?
Otherwise, ignore my suggestion. We then should just stick to the solution we already use.

[2016-08-08 08:30] tymondesigns commented on #128
My reasons for suggesting this were to remove the debt of having to maintain a fork, so moving it out into a separate repo doesn't solve that

[2016-08-08 12:37] csswizardry commented on #128
@tymondesigns: Yeah, I’m totally on board with your idea. As soon as Sass can `@import` CSS files, we”ll get rid of our fork and use an external dependency.

Am I okay to close…?

[2016-08-08 12:40] csswizardry commented on #104
How about we leave them in the file but behind a feature switch?

[code]

1. Make the classes more obvious.
2. Leave them in the same file.
3. Make them optional.

[2016-08-08 12:41] #112 closed

[2016-08-08 12:41] #111 closed

[2016-08-08 12:41] nenadjelovac commented on #104
@csswizardry that would do it for me.

[2016-08-08 12:43] florianbouvot commented on #104
@csswizardry ok for me too 😉

[2016-08-08 12:47] tymondesigns commented on #128
Yea go ahead 👍

We can only wait... :)

[2016-08-08 12:47] #128 closed

[2016-08-08 12:49] #101 closed

[2016-08-08 12:55] csswizardry commented on #128
@tymondesigns: Thank you. I really appreciate your input :)

[2016-08-08 13:02] tymondesigns commented on #128
@csswizardry No problem! Happy to help wherever I can

[2016-08-08 13:16] csswizardry commented on #104
I have a PR for this at #129 👍

[2016-08-08 13:17] dnixx commented on #104
Then what's the difference between uncommenting imports from main.scss and toggling feature switches? Isn't that inconsistent?

[2016-08-08 13:37] csswizardry commented on #104
I would argue that offsets and widths are similar enough to belong in the same file, which has the added benefit of consolidating the logic required to build them both.

[2016-08-08 13:39] csswizardry opened #131 "Add .npmignore"

[2016-08-08 14:01] #131 closed

[2016-08-08 14:45] tymondesigns opened #133 "[propasal] Add unit tests"
So, on a scale of "Hell No" to "Hell yeah" how interested is everybody in adding some unit tests?

I would propose adding [this package](https://github.com/oddbird/true) to handle the testing of the functions and mixins.

for example:

[code]

Again I'd be happy to get the ball rolling on this...

[2016-08-08 14:57] anselmh commented on #133
Hey, thanks for the suggestion. I’m a bit split on this topic. Usually I think testing code is a desirable goal but testing CSS doesn’t work very well and needs crazy stuff to make it work (the code to write tests, the lib that you suggested) and it requires a pretty high level of knowledge on this unit testing if you want to contribute code.

Therefore I’m currently voting not to do it here, but

[2016-08-08 15:07] nenadjelovac commented on #133
@tymondesigns thanks for the suggestion! However, I have to vote 👎  because of the reasons @anselmh said, and because of the requirement that [simplicity is paramount](https://github.com/inuitcss/inuitcss/blob/develop/CONTRIBUTING.md#simplicity-is-paramount). Hope it makes sense.

[2016-08-08 15:07] csswizardry commented on #133
Holy s—t, this is insane: I was literally just thinking about adding tests to inuitcss! I wasn’t sure how best to do it (external lib or writing something small to cover our specific mixins) but let me take a look at true.

[2016-08-08 15:08] csswizardry commented on #133
@nenadjelovac: I don’t think this encroaches on simplicity: tests will allow us to refactor any mixins etc. and be immediately notified about breakages. They would likely be private to the framework.

[2016-08-08 15:10] tymondesigns commented on #133
@csswizardry My thoughts exactly. The external end-user experience will be unaffected, and this will simply serve as an internal tool to provide the confidence when refactoring code.

[2016-08-08 15:14] nenadjelovac commented on #133
@csswizardry

if that is the case i'd probably change my vote, but I'd have to see how it's gonna get implemented ;)

[2016-08-08 15:16] tymondesigns commented on #133
If no-one beats me to it, I can knock a little POC together this evening when I'm home...

[2016-08-08 15:16] anselmh commented on #133
So we’d only test internal functions and mixins, right? This would be fine for me. Still not sure if it’s a good idea but if you all agree, then let’s do this.

[2016-08-08 15:39] dnixx commented on #133
Tests don't add complexity to userland code. It can even be a dev dependency :)

[2016-08-08 17:55] csshugs commented on #133
Just want to throw in the question: Is inuitcss' Sass stuff really that complex to justify adding the complexity of unit tests? Becuase although it's not complexity for inuitcss' users, it *is* complexity for us (read: the inuitcss dev team).

I mean, this is not a huge Sass library a la [Bourbon](http://bourbon.io/) with much complex stuff in it. The most complex Sass code in inuitcss at the mome

[2016-08-08 19:22] tymondesigns commented on #133
I have created the PR #134 so that we can see what it might look like.

here's a screenshot of the terminal for reference.

![image](https://cloud.githubusercontent.com/assets/1801923/17492765/36362632-5da5-11e6-951f-1ab9d371dbbe.png)

@csshugs I can understand your point of view, and I somewhat agree, but for me at least I don't see it as being that complicated to write the tests, versus the bene

[2016-08-08 19:27] anselmh opened #135 "Set up and add CI service to this github repository"
Since we’re in the aim of adding unit tests for some parts of our scss code, we want to have this as a CI hook in this github repository.

I vote for CircleCI here since it’s one of the better ones and Travis can sometimes be weird and slow.

[2016-08-08 19:29] florianbouvot commented on #133
Like @csshugs and @anselmh I'm not sure it's necessary for this kind of project.

[2016-08-08 19:32] anselmh commented on #133
So, my initial feedback was based on the idea of assuming that all code of inuitcss will be unit tested. This is something I’d strongly object, since it makes contributions too hard and would also require a lot of additional work by all core contributors not only initially but also over-time.

However, testing our internal mixins and functions only, makes totally sense to me in a sense that we hav

[2016-08-08 20:32] csswizardry commented on #133
Tests (in general) are a great idea IMO. It gives us programmatic safety. I’m stuck in a coffee shop in the middle of Buenos Aires with 10% battery on my laptop right now, so I can’t take a close look, but thanks so much, @tymondesigns! I’ll delve into this ASAP :)

[2016-08-08 20:36] tymondesigns commented on #133
@csswizardry no problem! 😄

[2016-08-08 20:56] nenadjelovac commented on #133
I thought the same as @anselmh! But now I get it.

While on the topic, shouldn't we lint the code as well?

[2016-08-08 20:58] anselmh commented on #133
@nenadjelovac different, topic so please create a new issue for it. In short: Yes, we should, if possible – preferrably by using http://stylelint.io/ :)

[2016-08-08 21:20] tymondesigns commented on #135
Can circle CI run multiple languages in one go ?

[2016-08-08 21:30] anselmh commented on #135
Ruby and node.js? Yes, should be possible. I just wonder if we can run ruby-sass and libsass in one test environment easily.

[2016-08-09 05:25] anselmh opened #137 "Evaluate if we can use stylelint for inuitcss"
It would be great if we could lint the project’s code. The best and most advanced linter these days for CSS/Scss is http://stylelint.io/, so we should evaluate this for the project.

To evaluate:
* Does it work with our ~~whitespace~~ _(-> Nope it doesn’t)_ / empty lines options?
* [x] any other weirdness that occurs during testing

I’ll give this a try in the next days and report back here.

[2016-08-09 08:36] zerodburn commented on #104
I had completely missed pull and push classes from InuitCSS, thanks for that source order use case @dnixx. Making them more obvious in the documentation would be great.

[2016-08-09 08:55] zerodburn commented on #58
One thing that confused me a bit when I first started using inuitcss was adding the enabler variables like `$enable-layout--flush: true;` in your main.scss file before including _objects.layout.scss. So along with @nenadjelovac's suggestion of a main.scss file I would include at least one example of one of those enabler variables (sorry I'm sure there's a better/official term for them but I'm on a

[2016-08-09 08:58] nenadjelovac commented on #104
@zerodburn

it's already updated https://github.com/inuitcss/inuitcss/blob/develop/utilities/_utilities.widths.scss. Is it better now?

[2016-08-09 09:00] csshugs commented on #58
@zerodburn
Actually, there is no need for that, since the new version of inuitcss does not provide such variables anymore. In the example of the layout object, all modifiers are on by default and there is no way to opt-out anymore.

[2016-08-09 09:01] csshugs commented on #58
[See here](https://github.com/inuitcss/inuitcss/blob/36c24d40ad871facc35f3852f5bba0e0567b4e3d/objects/_objects.layout.scss#L120-L167)

[2016-08-09 09:31] zerodburn commented on #58
Oh ok sorry, I need to get to grips with the new version before making more
suggestions obviously :)

Cheers,

Patrick

On 9 August 2016 at 10:01, Dennis Heibuelt <notifications@github.com> wrote:

[2016-08-09 09:59] zerodburn commented on #104
@nenadjelovac yep. I'm definitely going to test out the ordering with push and pull today. If it works well we should definitely add an example similar to @dnixx's to the full documentation.

[2016-08-09 19:33] tymondesigns opened #139 "Add ignore list to bower.json"
We should also add the files to ignore when installing via bower.

PR #140

[2016-08-09 19:56] #139 closed

[2016-08-10 20:09] anselmh commented on #133
This landed in 6ce1a81ec501a6f3c70059d028336ac77234c107.

[2016-08-10 20:09] #133 closed

[2016-08-10 20:11] anselmh commented on #135
Landed via 01f5b3bacb9600b4d6d1d8cbf5b6af633047db0d.

[2016-08-10 20:11] #135 closed

[2016-08-10 22:24] tymondesigns opened #142 "[proposal] move src files into own folder"
As per my comment here https://github.com/inuitcss/inuitcss/pull/134#issuecomment-238387049

I now think it would make sense to place the sass source files in a separate folder so the root doesn't get muddied up by other unrelated folders and files.

Any objections?

[2016-08-11 05:47] florianbouvot commented on #142
I have no opinion, it'll add one level in path that user need to type/copy:

@import "`node_modules/inuitcss/scr/objects/_objects.layout.scss`";

[2016-08-11 07:22] area73 opened #144 "[objects.crop] Move config var to top of file"
I think it will be a good practice to have variables on top of the files.

In the case of _objects.crop.scss you have define an array call $inuit-crops on line 69, and I think it make sense to have it defined on first lines of code, so any one can find it quickly

[2016-08-11 09:49] anselmh commented on #142
True, thinking about this again I think since this would be only to separate test from src it’s not necessary to do this.

[2016-08-11 11:39] dnixx commented on #58
I think the list should also include how to configure the framework and your own project (and the distinction). Perhaps this is included in the item "*Moving example files around*".

But still, `settings.core` includes essential framework variables that shouldn't be edited (but preconfigured). However, halfway down the file it says "DO NOT MODIFY ANYTHING BEYOND THIS POINT", which I think may caus

[2016-08-11 13:05] nenadjelovac commented on #58
@dnixx

I think this is leftover from previous version that got through code review somehow :) @csswizardry is that the case?

[2016-08-11 16:38] area73 commented on #142
To me it is more clear to have all the scss files under src because people that are new to this framework may be confuse if they find folders like "settings" or "generic".
Besides that , I don't know if you are planning to have also a "doc" file with *.md files inside (many bower components have that folder, thake a look at Chart.js) or a "samples" dir.

[2016-08-11 16:50] area73 commented on #58
Hi @csshugs , I was wondering why you guys decide to get rid of all the optional variables. I though it was a great idea not to have code in you css if you are not going to use it, maybe I'm missing something?

[2016-08-11 17:54] area73 opened #145 "[mixins] using !important in mixins"
Hi guys, I think you should review the  use of  !important in mixins because you can end up messing up with specificity and maybe duplication of code.

I see that you are using a mixing call **inuit-clearfix()**  that is defined on tools layer and all their attributes are mark as **!important**.
I can understand that you are doing so because later on you are using that mixin in a utility layer, bu

[2016-08-11 18:57] area73 opened #146 "Consider reduce duplicated widths"
I see that when you are generating utility class for  widths, push, pull you are duplicating code for same "equivalent" widths

here is an example of the output:

**u-1/1 {...}
.u-push-1/1 {...}
.u-pull-1/1 {...}**
.u-1/2 {...}
.u-push-1/2 {...}
.u-pull-1/2 {...}
**.u-2/2 {...}
.u-push-2/2 {...}
.u-pull-2/2 {...}**
.u-1/3 {...}
.u-push-1/3 {... }
.u-pull-1/3 {.. }
.u-2/3 {...}
.u-push-2/3 {...}
.u

[2016-08-11 19:31] tymondesigns commented on #146
I agree that duplication can be eliminated here, but I think this would be a more elegant solution:

[code]

[2016-08-11 20:48] area73 commented on #146
well that's what I was saying. if you don't use module "%" with all your common denomitaros (that there will be your prime numbers) you will get a lot of duplicarions upon your total number of columns
 ie: 2/4, 2/6, 3/6, 4/6 etc etc

So the only way to asure not to have duplication is to check for molue in all prime numer in between total col number.
In the example that I post it could be improve

[2016-08-11 20:51] florianbouvot commented on #145
@area73 thanks for your feedback but we already discuss this here #55 & #54.

[2016-08-11 21:04] florianbouvot commented on #146
@area73 thanks again for your feedback but we already discuss this here #102.

[@csswizardry comment](https://github.com/inuitcss/inuitcss/issues/102#issuecomment-237565594)

[2016-08-11 21:17] florianbouvot commented on #142
@area73 I use this tree approach in my "final" project but for inuitcss I think it's not needed.

I think documentation will be manage in an other repo 😉

[2016-08-11 21:26] florianbouvot commented on #142
@inuitcss/core I think we can close this issue for now?

[2016-08-12 07:50] tymondesigns commented on #142
Yea ok, I'm all turned around on this :+1:

[2016-08-12 07:50] #142 closed

[2016-08-12 08:49] zerodburn commented on #58
@area73 from the latest commit on example.main.scss, it looks like @csswizardry has added one in: https://github.com/inuitcss/inuitcss/commit/72781f2e424e7713f88d3d876db1066627d26d98 It must be because offsets output a fairly large chunk of CSS.

[2016-08-12 15:25] zerodburn opened #147 "Using $inuit-global-spacing-unit as a rem value?"
I've just started to change the em value on the html element at larger breakpoints so that I can change font-sizes everywhere:

[code]
and while the font sizes on base elements (p, figure, headings etc) increase **and all `margin-bottom`'s increase too**, the padding used in the `objects` layer does not. E.g. `_components.box` uses a standard `px` padding of `$inuit-global-spacing-unit`. If it was

[2016-08-12 16:17] herzinger commented on #146
I used to have a little function/mixin pair that used extend to group all classes with identical rules, based on common denominators and such. Of course, extend doesn't play well with media queries, and after reading @csswizardry's [text on gzip ](http://csswizardry.com/2016/02/mixins-better-for-performance/) I opted to leave this out.

[2016-08-12 16:32] herzinger commented on #147
I need to think about the vertical spacing with rem, but nothing to bad comes to mind right now. But about the line-heights, it's to keep everything sitting on a baseline grid. The idea is that every line of text has as the height a value that can be divided by the base line height. I personally do think there is room for improvement in the function, and I often set the line-height myself with tha

[2016-08-12 16:40] herzinger commented on #137
How's it going?

[2016-08-12 16:42] herzinger commented on #124
There are some talk about it [here](http://cssguidelin.es/#meaningful-whitespace), should it be the goal?

[2016-08-12 17:08] herzinger commented on #104
I also never used pulls or pushes. That user case should definitely be added to the documentation.

That being said, I'd most likely opt out of it for most projects even so, so it's a nice feature to be optional, in my opinion.

[2016-08-12 17:15] herzinger commented on #58
I also would like to know why the optional vars are gone. I've been following inuit for a long time now, since the first repo, but it's being some time since I checked it, so I've missed that change (I didn't even see this 'united' repository until today, and am currently developing a big project with the old modules). I quite like the optional stuff, to be honest.

[2016-08-12 17:22] herzinger commented on #14
I'm REALLY interested in it too.

[2016-08-12 18:08] herzinger opened #148 "Porting"
Hi there,

I've been following inuitcss for a long time now, since the first repo, but it's being some time since I checked it, so I missed on the start of this united version. Right now I'm at the early/mid stages of the development of a ui tool kit for a social media site where I work, around the former inuitcss modules. It's quite the big project.

With that in mind, I have 2 questions:

1. Is

[2016-08-15 09:31] zerodburn commented on #147
@herzinger thanks for answering. How can you tell everything is on a baseline grid. Do you use a background-image on the body element with lines or something? I might give that a try...

With regards to using rem's as the global spacing unit it was just a question, if anyone has any thoughts I'd love to hear them :)

[2016-08-15 12:47] herzinger commented on #147
Yes, you could use a background to check it, there's a number of ways to do just that. There's even browser extensions that do so. But I usually just trust the math and the general look of the page. It's not that hard.

[2016-08-19 11:09] csshugs opened #149 "[utilities.spacing] Responsive spacings"
What's our take on responsive spacings?

[2016-08-19 11:14] csshugs commented on #149
I would have add a commit to show a first approach but I can't push at the moment (proxy problems at our office).

[2016-08-19 11:24] csshugs commented on #149
The code in the commit above would generate ~730 lines of CSS (for the 4 default Sass-MQ breakpoints). As soon as Sass-MQ is included, these 730 lines of CSS are always generated. Do we want this? Or do we rather want to "hide" this behind a flag so the users can opt-in? Do we want to integrate responsive spacings at all?

[2016-08-20 02:24] herzinger commented on #149
I don't think there is a need for responsive spacing as utility classes. Those are supposed to be used for minute adjustments only, and inuitcss is not an atomic design framework, right? It seens overkill, to me.

[2016-08-20 13:15] #146 closed

[2016-08-20 17:01] area73 commented on #149
I still don't get it why you guys took off the conditional vars on most of your files. I though it was a nice idea having conditionals and then you decide to override it or not

[2016-08-20 19:47] StormersFan commented on #149
Surprised me as well @area73. I liked that feature myself.

[2016-08-21 19:04] herzinger commented on #149
I also really liked it

[2016-08-26 09:53] csshugs commented on #104
I'm closing this since #129 is already merged in and hence this issue is solved.

[2016-08-26 09:53] #104 closed

[2016-08-26 17:33] area73 opened #150 "posible use of a tool to document i.e. sassdoc"
Have you consider the use of a tool to generate docs for sass files like sassdoc ?

[2016-08-29 09:18] csshugs commented on #14
My request for a `CONTRIBUTING.md` file was met, so I'm closing this issue.

[2016-08-29 09:18] #14 closed

[2016-08-29 09:30] csshugs commented on #40
@mhauken

Yes.

I think one example for the components layer is sufficient for now.

Apart from that, just like you said (what a lovely rhyme eh :)): `objects.list-ui` would introduce design bits, so this does not fit into the object layer.

---

What does @inuitcss/core think? Do we need any more objects? The ones missing at the moment from the proposed list are:
* `objects.tabs` - we have `objec

[2016-08-29 09:39] nenadjelovac commented on #40
@csshugs I'm good with what we have now, so I wouldn't add the missing three. #myTwocents :)

[2016-08-29 09:47] csshugs commented on #58
@zerodburn

Correct. This is an exception for `push/pull`.

We wanted to make the new version of inuitcss even tinier with a much more simpler Sass code which led us to the decision of dropping all those vars and make the appearance of the Sass code much more clearly to everyone. This will increase the filesize to an incredibly small amount but not more, because we are also just adding very granul

[2016-08-29 10:04] csshugs commented on #110
I've slightly reconsidered my point of view and am now against juggling around with another package manager which isn't even thought for this kind of project. The dependency of Sass-MQ is to error-prone IMO. I wouldn't want to introduce such a potential point of failure.

And I don't care if Bootstrap and Foundation are published at Packagist, because we don't want to be Bootstrap or Foundation 😜

[2016-08-29 10:14] csshugs commented on #116
@inuitcss/core
What do you think about it looking at this [two](https://github.com/inuitcss/inuitcss/commit/e0a203b3750a57b612edbd2e9f254d47d4afa152) [commits](https://github.com/inuitcss/inuitcss/commit/197830c5629b7ad13dee4c5e1c8bffe8e2b597c8), i.e. take away the Sass logic and just put the font-size fallback in there? This would keep the IE8 compatibility and makes the Sass code cleaner. Feels

[2016-08-29 10:37] nenadjelovac commented on #116
@csshugs I'm still down with that solution ;)

[2016-08-29 10:38] csshugs commented on #137
@anselmh
Anything more we need to lint with stylelint, or can we close this issue?
I don't think there will be a chance to check our empty lines, especially because we have different amounts of empty lines.

[2016-08-29 10:39] csshugs commented on #116
@nenadjelovac So you want to completely drop IE8 support? Or let everything as is?

[2016-08-29 10:41] nenadjelovac commented on #116
I vote for No. 2 :) Hope that helps :)

[2016-08-29 10:41] anselmh commented on #137
I think checks are complete and I think we should merge it as soon as possible now.

----
Anselm

[2016-08-29 10:42] #137 closed

[2016-08-29 10:58] csshugs commented on #147
I'm closing this, because we wont introduce a rem value for `$inuit-global-spacing-unit`. You can read about it [here](https://github.com/inuitcss/inuitcss/issues/112#issuecomment-237563580).

[2016-08-29 10:58] #147 closed

[2016-08-29 12:05] csshugs commented on #148
@herzinger

I guess there are three big changes you have to make:
* You have to update the classes in your markup with the new `o-` and `u-` namespaces
* There are no responsive spacings anymore. So if you used them, you have to come up with a custom solution like [this](https://github.com/inuitcss/inuitcss/commit/37e91d57a0e341f606fb0c63186baf3e7a276f6c)
* And, of course, some modules are not inc

[2016-08-29 12:23] csshugs commented on #149
@area73 @StormersFan @herzinger
On why we took off the conditional vars, [have a look at this answer](https://github.com/inuitcss/inuitcss/issues/58#issuecomment-243081435).

---

Is anyone of @inuitcss/core thinking that responsive spacings are a good idea?

I'm not sure if we should "bloat" the framework with that. It feels to risky in terms of the possibility of creating black boxes in case som

[2016-08-29 12:24] nenadjelovac commented on #149
@csshugs

I would go with this one.

[2016-08-29 12:35] csshugs commented on #150
@area73
IMO sassdoc would be an overhead because we have very little Sass functionality which needs documentation. Apart from that we would have to completely change our commenting style 😞

In a custom, large scale project, sassdoc surely proves itself useful, especially when there are more developers involved. But since inuitcss is third-party code in such projects, I don't see any need to docume

[2016-08-29 12:37] csshugs commented on #149
OK, I abandon the idea of integrating responsive spacings (for know).

[2016-08-29 12:37] #149 closed

[2016-08-29 19:51] nicoqh opened #152 "[objects.layout] Rename layout to grid"
I think the layout object is more properly described as a grid.

I usually create my own `layout` object which includes a header, a navigation, a mobile drawer and the main content holder. These encapsulate the layout of the page and are related to each other in terms of functionality and theming. I believe `o-layout` would be a good class name for this.

The `grid` object, however, I use to divid

[2016-08-29 20:31] florianbouvot opened #153 "[objects.ratio] Move config var to top of file"
Same as #144 for ratio objects.

[2016-08-30 05:55] #153 closed

[2016-08-30 05:55] #144 closed

[2016-08-30 08:32] csshugs opened #156 "[elements.forms] New partial for form "resetting"?"
I'm porting this issue over from the [deprecated CONTRIBUTING repo](https://github.com/inuitcss/CONTRIBUTING/issues/21). Thanks @corbpaul for addressing this.

The question is whether we should provide a kind of reset file for forms [like so](https://github.com/corbpaul/inuit/blob/inuit-extended/base/_base.forms.scss).

Would this still be generic enough, or is this too opinionated for inuitcss?

[2016-08-30 08:39] anselmh commented on #156
IMO it’s not too opinionated and I’d love to see this in inuitcss.

[2016-08-30 09:23] csshugs commented on #156
Anyone got other best practices to be add to [this](https://github.com/inuitcss/inuitcss/commit/e16c11add32b918e2af21d891baef03f92057f9c)?

[2016-08-30 12:51] nenadjelovac commented on #156
@csshugs it seems to me that what you added should actually go in [`_generic.reset.scss`](https://github.com/inuitcss/inuitcss/blob/develop/generic/_generic.reset.scss), instead of separate file in elements layer. I say that because all there is are bunch of properties that just reset values.

[2016-08-30 14:42] nicoqh opened #157 "Why use unitless line heights?"
Re-opening this issue from the old repository:

--

Inuit calculates unitless line heights in order to place elements on a baseline.

Unitless line heights are usually advocated so that children don't inherit a calculated value from their parent. By using a unitless value (e.g. 1.5), a child will have a line height that is relative to its own font size and is therefore potentially different from i

[2016-08-31 16:50] florianbouvot commented on #110
@csshugs good point.
Like before I'm against adding `composer.json` file for this project.

[2016-08-31 16:52] florianbouvot commented on #150
@csshugs I agree with you 😉

[2016-08-31 16:56] tymondesigns commented on #110
No need for composer/packagist integration. Doesn't make sense for front end packages imo.

[2016-08-31 17:01] tymondesigns commented on #152
There are some valid points in here.

If it were to be renamed, then personally I would suggest keeping the `__item {}` naming convention as it keeps everything succinct and consistent.

[2016-08-31 17:57] herzinger commented on #148
Thank you very much for the answer. I already used the $inuit-feature-namespage variables to add the namespace fragments, and no responsive spacing, so it should be fine. As soon as I have some time I'll fork this repo and take a look at how I can go about contributing.

[2016-08-31 18:03] #110 closed

[2016-08-31 18:04] csshugs commented on #148
👍

[2016-08-31 18:04] #148 closed

[2016-08-31 18:05] csshugs commented on #150
Maybe we change our minds in the future. But for now, I close this.

But thanks @area73 for bringing this up!

[2016-08-31 18:05] #150 closed

[2016-09-01 20:39] inlikealion commented on #152
I think the name grid is intentionally avoided here because of the way it works. It's not a 12 column grid with cells, it's a way of dividing available space in certain ratios. Different mental modal, and I support the distinction in naming.

[2016-09-02 01:02] dnixx commented on #152
I think the different mental model is due implementation details, not how the grid behaves. It's not Bootstrap's 12 column grid, but it does result in an X-column grid with cells and gutters.

If not, I think it would imply that a "grid system" could be imported alongside the layout system, which would make the distinction useful, but I don't see a reason to do that. If you want another _implement

[2016-09-02 07:42] kaifaust commented on #3
Hi Harry! Big fan here. Your CSS work has taught me a lot. I really appreciate your contribution to the CSS world :) Now, I have a real question regarding this topic.

I'm working on a fork of inuitcss that is aimed to better fits the needs of my consultancy. It's heavily modified and is intended to be our starter kit for new client projects. To what extent should I point out changes to remain com

[2016-09-02 14:10] csshugs opened #159 "[utilities.spacing] Provide a way to alter the generated classes"
By altering the source code a little bit, we can make the generated classes customizable. So we can get our hipster naming back 😉 :

[code]

*(Updated code example according to [this comment](https://github.com/inuitcss/inuitcss/issues/159#issuecomment-244393085) by  @area73 on September, 16th 2016.)*

[2016-09-02 14:11] csshugs commented on #159
[DEMO](http://www.sassmeister.com/gist/7d2bc1078932839a35ad9579a8d9333d)

[2016-09-02 14:37] area73 commented on #159
Very nice :).

Only one thing, I notice that you are missing "-" between padding/margin and "top, "right", "bottom", "left".

[2016-09-02 17:56] herzinger commented on #152
It IS a 12 column grid if you want it to be. It's a grid system no matter how you look at it.

[2016-09-06 06:29] csshugs commented on #159
@area73
According to the [pre-alpha version](https://github.com/inuitcss/trumps.spacing/blob/458db86841aae88e1f2edd99721c3c18e7e0aa10/_trumps.spacing.scss#L78-L84), the "-" is omitted on purpose.

[2016-09-06 12:02] florianbouvot commented on #159
@csshugs I love hipster naming 😉

[2016-09-12 20:31] moog16 opened #160 "[utilities.widths] responsive 'mobile' not working"
I was digging through _utilities.widths, and noticed that the classes are created using these for loops:

[code]
 When I try using the class `u-1/3@mobile`, I would expect it to create `max-width` media query. But in this loop we are only using `mq($from...)`. I fixed this by creating an if/else within the @each loop:

[code]
Notice the `$until`.

This isn't a final solution, but I was hoping you

[2016-09-14 08:51] gijsroge opened #161 "[utilities.spacing] how to tackle responsive variations?"
This isn't so much as an issue but i'm wondering how one would manage the spacings when they have to be smaller/bigger on different viewport sizes.

Would it be doable to create variations of every spacing for different viewport sizes by modifying the spacings loops? Or what would be the best way to tackle this?

Thanks!

[2016-09-14 09:04] csshugs commented on #161
@gijsroge
It is totally doable, but doubtable that we will introduce this into the framework at the moment.

We already discussed this topic in #149. Take a look there to see how you can polyfill this yourself into the framework.

**tl;dr:**
Import this bit of Sass in your utilities layer to get responsive spacings:

[code]

[2016-09-14 09:09] gijsroge commented on #161
Okay, not a fan either. Thanks for clearing this up!

[2016-09-14 09:10] csshugs commented on #161
You're welcome!

[2016-09-14 09:10] #161 closed

[2016-09-14 16:03] herzinger commented on #152
I have a mixin that generates grid systems. You can pass the name of the object as a parameter, and you can generate simple (like a 12 columns one) or recursive (like the 1-5 grids), so it also solves a discussion I saw somewhere else I can't find, about which kind of grid to have by default. With some tweaking it all could be fully configurable, in a project level.

If you guys are interested I c

[2016-09-15 19:18] tymondesigns commented on #160
I prefer the mobile first approach myself.

And I don't think we should mix the media queries in the way that you suggest.

I agree that if you name your breakpoints as `mobile`, `tablet`, `desktop` etc then it makes it more confusing.

Alternatively you could leave out the `mobile` breakpoint and assume that `u-1/2` will be in effect on mobile and `u-1/4@tablet` on tablets and so on.

[2016-09-15 19:24] tymondesigns commented on #159
[code]
😄

[2016-09-16 09:04] csshugs commented on #160
I should mention that the current implementation of responsive widths is just a default solution which is likely to be dropped in favor of a custom solution by any developer project-wise. Hence this condition:

[code]

That is, if you want to use another tool as Sass-MQ, you can do so.

So, being a default solution, we want it [as simple as possible](https://github.com/inuitcss/inuitcss/blob/devel

[2016-09-16 09:10] florianbouvot commented on #160
@csshugs fully agree.

[2016-09-16 09:43] csshugs commented on #159
@area73

Sorry, I just realised what you meant. You're right.

[2016-09-16 10:23] nenadjelovac commented on #160
@csshugs I agree we shouldn't introduce Sass complexity.

However, I can see why things are confusing for @moog16. As @tymondesigns said:

I totally agree on this. So, @moog16 you can take the mobile first approach @tymondesigns suggested:

 and make a settings file in your project named something like `_settings.sass-mq.scss`. There you can have following breakpoints (just an example):

[code]

(

[2016-09-16 16:39] area73 commented on #159
ja,ja ... I see :)

[2016-09-17 18:58] moog16 commented on #160
Ah gotcha. This makes a lot of sense. I was accustomed to using the old [inuit-widths](https://github.com/inuitcss/trumps.widths-responsive/blob/master/_trumps.widths-responsive.scss), and thought it was a bug. This approach really simplifies it.

Thanks again!

[2016-09-17 18:58] #160 closed

[2016-09-17 20:52] nenadjelovac commented on #160
@moog16 No problems, and glad we could help ;)

[2016-09-17 23:27] rowild opened #162 "For documentation: font-size mixin needs unit"
Hi,
I am new here, and I think it would help very much to mention at the font-size mixin that the $font-size actually needs a unit going along with its value, otherwise an error is thrown. (Or adapt error message asking something like "Did you include incude a font-size unit such as px?")

Thank you!
Robert

[2016-09-19 10:24] rowild opened #163 "font-size() mixin calculation seems weird (to me)"
Fooling around with the font-size()-mixing, I have a guts feeling that the calculation of the line-height is probably behaving not as intended. Could it be that in this line
[code]
an additional set of parenthesis is missing – to extend the block of the ceil-function?
[code]
Admittedly, this would always generate 'line-height: 1', so I doubt that this is a solution at all. But I do not understand

[2016-09-19 10:44] rowild opened #164 "Comments in the form of sassdoc?"
Since comments are needed anyway, and sass delivers sassDoc, I would like to encourage to use a commenting style that supports the sassdoc syntax.

[2016-09-19 10:50] csshugs commented on #164
We already decided not to use SassDoc. You can read about it in #150

[2016-09-19 11:05] thewinger opened #165 "Proposal: Adding 0 columns to _utilities.widths.scss"
Why not adding a 0 columns in widths?
[code]
So the reading of the HTML code would be
Li element occupies 1 out of 12 columns in mobile and 0 columns in tablet for example.

I know there is a hide utility but, can both things live together or would it be against DRY principle?

[2016-09-19 11:23] rowild commented on #164
Thank you for pointing that out!
Still strange, since inuitcss advertises itself as a "sass-based framework". As a benefit it would lead to nothing else but a consistent way of commenting, eventually across all sass frameworks, which – imho –  justifies changing the commenting style...

[2016-09-20 22:44] rowild opened #167 "Question: why are padding and other values in px?"
Please forgive, if this is a stupid question!

While digging and testing inuitcss I discovered that many values still are generate as px units (all objects, for example. Wouldn't it be more appropriate to generate those values as (r)em?

[2016-09-20 23:29] rowild opened #168 "px2(r)em calculation redundancy?"
In "_tools.font-size", there is this function around line 20:
[code]

In "_tools.rem", there is a function that returns a rem value:
[code]
...which is later on used in the mixin "@mixin inuit-rem($property, $value)..." (same file).

Wouldn't it be a step towards more consistency to unify the calculation process and let the first example also use the function?
[code]

In that case "tools.font-size

[2016-09-21 05:56] kennynaoh opened #169 "Which files need to be hosted?"
Hello @csswizardry ,
I am the member of [cdnjs](https://github.com/cdnjs/cdnjs) project.
We want to host this library.
But there is a question want to ask.
I am not sure which files are needed to grab on [npm](https://www.npmjs.com/package/inuitcss).
Please help me confirm which `js` or `css` file is necessary.
Thank for your help!

https://github.com/cdnjs/cdnjs/issues/9044

[2016-09-21 07:35] rowild opened #170 "comma missing in generic.shared"
in "generic/_generic.shared.scss", around line 18, there is a comma missing after the "pre"-tag:

[code]
should be:
[code]

[2016-09-21 07:52] florianbouvot commented on #170
@rowild thank you, we will fix it now 😉

[2016-09-21 08:13] florianbouvot commented on #170
@rowild I close this issue, [PR #171](https://github.com/inuitcss/inuitcss/pull/171)

[2016-09-21 08:13] #170 closed

[2016-09-21 08:37] rowild commented on #170
That was quick! Thanks!

[2016-09-21 15:54] rowild opened #172 "Question: why is there width:100% in o-layout__item?"
The comments (documentation) says that the o-layout* classes should be used with utility classes to generate a grid system. Since u-1/4 etc. define a width on the element, there is no reason, why there should be a 100% width declared on o-layout__item.

Right?
Or what is wrong with my thinking?

Thanks!

[2016-09-21 16:09] tymondesigns commented on #172
Because a 100% width is a sensible default. Especially given that inuitcss is geared towards a mobile first approach (by default).

[2016-09-21 17:35] herzinger opened #173 "Responsive line-breaks"
Would you be interested in utility classes to hide/reveal `<br>` tags based on breakpoints?

[2016-09-21 22:18] herzinger opened #174 "named breakpoints and javascript"
I don't know if it would be good to be added to this project, but I did a little something to allow me to access the same breakpoint names from the sass in my javascript. I though about posting it to see what you think and, it it falls too much out of scope, as a curiosity:

[code]

I have an angular directive to trigger a custom event when the breakpoints change, but you can access the value anyw

[2016-09-22 07:21] csshugs commented on #172
@rowild
@tymondesigns is absolutely right.

[2016-09-22 07:21] #172 closed

[2016-09-22 07:23] csshugs commented on #173
IMO that would be too specific to be integrated into the framework.

But definitely a suited use case for an inuitcss plugin.

[2016-09-22 10:48] rowild commented on #174
This looks very interesting! Any chance you could share the Angular directive, too?Maybe as a CodePen or sth similar? Thanks!

[2016-09-22 10:50] rowild commented on #173
@herzinger could you elaborate a bit on that idea? I've never been in a situation, where it was a topic to hide/reveal a ```<br>``` tag and would very much like to know, what such a situation could be? Thanks!

[2016-09-22 16:46] herzinger commented on #174
Bure, here you go: http://codepen.io/herzinger/pen/EgkEjW

Open he js console to see the the result. The scss snippet is in debug mode so you can compare the console logs to the css media-queries' trigger.

[2016-09-22 19:18] tymondesigns opened #175 "Responsive show/hide"
Hey chaps...

Judging by the discussion in #63 it seems that there was an intention of adding responsive classes to `_utilities.hide.scss`.

I see it going something like this

[code]

Although this does raise the question again of [naming the file](https://github.com/inuitcss/inuitcss/issues/63#issuecomment-229939259).

Anyways, I think it's worth another look, because these classes are pretty da

[2016-09-22 20:15] herzinger commented on #175
Yes, they really are. I always end up adding something like that in my projects.

[2016-09-22 20:31] herzinger commented on #175
I tried your approach, but had some trouble with the display: inherit rule. Sometimes I need to control exactly what display type I want for the revealed element, independently of it's parent. It's not a pretty solution, so I'm all for inputs:

[code]

[2016-09-22 20:58] herzinger commented on #159
Incidentally, I used to love the vertical and horizontal variants. I was using them with the old version, so I had to add 'em myself when updating the framework in my current project. It was also the case with the 'hipster naming'. In the end, I grabbed this snippet and added a little something:

[code]

[2016-09-23 08:08] nenadjelovac commented on #174
@herzinger I think this is really useful. However, I am not sure if it fits into the framework. Might be better for you to make as an inuit plugin ("add on") in a separate repo ;)

@inuitcss/core thoughts?

[2016-09-23 08:09] csshugs commented on #174
@nenadjelovac
Same opinion.

[2016-09-23 08:14] nenadjelovac commented on #173
@herzinger it's better to add show/hide classes for general purposes (something along [these lines](https://github.com/inuitcss/inuitcss/issues/175)) and then just use those on your `<br>` tag. Then you would take [mobile first approach](https://zellwk.com/blog/how-to-write-mobile-first-css/) (which we go into details [here](https://github.com/inuitcss/inuitcss/issues/160#issuecomment-247567581))

[2016-09-23 08:42] nenadjelovac commented on #175
@tymondesigns @herzinger figuring out "default" display mode of an element is hard. That's why I take the mobile first css approach. What that means (in an example) is this:

[code]

This would hide the div on medium and extralarge viewports. In a large number of projects I can get away with this approach. However, there are times where I need to hide something on small viewports (or maybe a few m

[2016-09-23 08:43] csshugs commented on #175
@herzinger

That's why I'd vote for not integrating such a module. Although I find this approach very useful myself, it quickly becomes way too specific to be a part of inuitcss.

This is easy to implement by themselves, though, so it could probably a inuitcss plugin provided by anyone who's interested in opening a dedicated repo.

[2016-09-23 08:46] csshugs commented on #173
I'm also the opinion, that this would be suited for general hide/show classes.
Therefore, this is related to #175 and I close this.

[2016-09-23 08:46] #173 closed

[2016-09-23 08:51] csshugs commented on #169
@kennynaoh
inuitcss does not provide any kind of `js` files.
And although it's a pure CSS framework, it doesn't provide any `css` either.

This repository really just offers a bunch of `scss` partials which you could grab, so I don't see any sense in hosting it on cdnjs.
If someone wants to use inuitcss, they need to compile the SCSS partials to CSS first to be able to use it in production.

[2016-09-23 09:14] kaydwithers commented on #169
@csshugs i think this might be worth exploring. A CDN of a built .css file with everything from Inuit switched on. I often use a built main.css inuit file for a quick way to access the grid on some of my quick projects and also for js fiddles. A CDN would be great for this type of thing.

[2016-09-23 09:26] kaydwithers commented on #167
Rems can be a pain to work with. I prefer working with px. But I use 'rem-calc(18px)' for rem conversion.

[2016-09-23 09:42] csshugs commented on #167
tl;dr:
We don't use rems, where they are not needed (see quote below).

— @csswizardry ([August, 4th 2016](https://github.com/inuitcss/inuitcss/issues/112#issuecomment-237563580) in #112 )

[2016-09-23 09:42] #167 closed

[2016-09-23 09:57] csshugs commented on #165
@thewinger
IMO this would be too specific to be introduced to the framework.

I admit that I did this myself from time to time, but always felt a bit dirty. Hiding entire layout columns seems not like being best practice, hence inuitcss should not promote doing so.

This approach cries for a inuitcss plugin. though. Feel free to provide a repo for your solution to extend the framework with that ki

[2016-09-23 10:02] csshugs commented on #164
Got your point.

**BUT:** The commenting style of SassDoc is a Sass comment, hence it doesn't get printed in the compiled CSS. We actually do want this to be the case, so we are using CSS comments where appropriate and Sass comments, where it must not be printed to the compiled CSS.

[2016-09-23 10:08] nenadjelovac commented on #165
@thewinger I agree with @csshugs that this is too specific to be included in the framework.

Also, you can add this to your project via hide classes (as suggested [here](https://github.com/inuitcss/inuitcss/issues/175#issuecomment-249136059)). So you'd have a general `u-hidden@<breakpoint-name>` which you can use on any element and with any class instead adding this dirty way of having a `0` class

[2016-09-23 10:51] #165 closed

[2016-09-23 11:18] csshugs commented on #3
@kaifaust

[Here](http://www.apache.org/licenses/LICENSE-2.0#redistribution) it says, you have to explicitly mark the code, that you modified:

b. **You must cause any modified files to carry prominent notices stating that You changed the files**; and
c. You must retain, in the Source form of any Derivative Works that You distribute, all copyright, patent, trademark, and attribution notices from t

[2016-09-23 11:35] csshugs commented on #40
It seems like we are good with the modules we have integrated so far, so I close this.

[2016-09-23 11:35] #40 closed

[2016-09-23 12:19] herzinger commented on #169
Actually Just having a compiled version somewhere to use in codepen/jsfiddle/etc would be great already.

[2016-09-23 12:23] csshugs commented on #152
Exactly.
It's not a grid. It's a way to **lay out** elements in fractional dividers on the page. It's in fact a different mental modal.

The aim of an object is to be as generic as possible, also considering the naming of the class names. When you chose a CSS framework, you always have to watch out for the classes the framework brings with it to prevent naming collisions. You either have to change

[2016-09-23 12:25] csshugs commented on #169
I'm really struggling with that idea, because that's just not how we imagine inuitcss to be used.

@inuitcss/core Thoughts?

[2016-09-23 12:29] nenadjelovac commented on #169
@csshugs agreed. But interesting idea for someone that might find this useful.

@herzinger @kaydwithers  Is there a way that someone does this semi-automatically on another repo?

[2016-09-23 12:35] herzinger commented on #152
@csshugs so what you're saying is something along the lines of: it's not a grid system per se, but an object that you can make a grid system out of.

[2016-09-23 12:41] herzinger commented on #169
You could just have one dist/ dir in the repo, maybe even with different options if relevant. Them we could link the raw file in our snippets. It could carry a disclaimer of sorts pointing out it's only there for code snippets and exemples, not actual use in projects. So yeah, not a real cdn, since this would encourage people to link it in real projects.

[2016-09-23 12:44] herzinger commented on #174
How would one go about developing a plugin for inuitcss? Are there any guidelines?

[2016-09-24 07:36] florianbouvot commented on #169
@csshugs I agree.
As @nenadjelovac I think for codepen usage it's interesting but via another repo with **disclaimer** (so I'm shared about that point).

[2016-09-24 07:51] florianbouvot commented on #159
I'm still okay with that 😆, but Sass becomes a little more complicated 😟

*Sorry for that but what about a full CSS version ? Is there a large size difference (after gzip) with "standard" Sass ?*

[2016-09-26 12:46] aaronstezycki opened #177 "Naming/Organisation Confusion"
I know documentation is coming on this, but maybe you can point me the right direction of existing documentation on csswizardry.com? This side of inuit at the minute is confusing as hell without any documentation.

So far I've gathered that;
- All objects are (i.e like the box object) are un-styled pieces of code.
- All components are (i.e. buttons) are styled pieces of code.
  (hence the button m

[2016-09-26 13:00] herzinger commented on #177
I think you should always go with whatever you are not comfortable with, but in this case your understanding of the concepts of objects and components is off. Some links:

[oocss](https://goo.gl/CwiIIu)
[ITCSS](https://www.youtube.com/watch?v=1OKZOV-iLj4)
[BEMIT](goo.gl/WCt3Fa)
[namespacing](http://goo.gl/WCt3Fa)

In the case you asked about, you wouldn't modify the box object that way. An object

[2016-09-26 13:17] aaronstezycki commented on #177
I've read those links, but I don't think this is covered entirely. Seems very long winded to create a simple box object with a border, by creating a new 'card component' resulting in `.box .card--border`.   I might as well just make the entire '.box' object myself with modifiers and not including inuits. If I have to create everything myself... what's the point of using Inuit?

[2016-09-26 16:06] herzinger commented on #177
Okay, it's not easy. inuitcss is built in conformation with @csswizardry's ITCSS, so some things will be hard to understand if you don't wrap your head around that philosophy as well. The box object, as with any object, in aimed to be used with as much versatility as possible. It's a shortcut of sorts, that adds to any element block level display, some padding, a clearfix and removes the margin bo

[2016-09-26 16:37] inlikealion commented on #152
@herzinger It's _not_ a grid system, because one doesn't have to think in every available horizontal space “Ok, I have 12 columns I need to account for here”. At any given space you can choose how to subdivide it individually. It's a very different mental modal to 960 Grid System and the like. In Foundation you choose how many columns and then have to account for that many columns in every “row“ o

[2016-09-26 16:46] herzinger commented on #152
Yes, but you CAN use it like a traditional grid system, by outputing only 12 columns or so.  It even has advantages in a design standpoint.

[2016-09-27 08:08] aaronstezycki commented on #177
It just seems a little complicated, what if the card has a shadow but no border? In my experience, you create the overall layout and then create modifiers to change the behaviour in certain circumstances.

`o-box o-box--shadow box--border` tells me so much more than `o-box o-card`, and I have the ability to remove those arbitrarily. They also tell me theres a relationship between those classes, in

[2016-09-27 08:08] #177 closed

[2016-09-27 08:24] rowild commented on #152
@herzinger So you want it to be renamed to grid, too?

[2016-09-27 09:02] rowild commented on #177
Wouldn't the "o-card o-card--no-border o-card--shadow" be a very specific card and therefore better be a component called e.g. "c-greetingscard" including all those specific stylings?

Components are the place for styling, right?

I have to admit, I am also very confused. Isn't there a showcase anywhere? Could anybody post some links to websites using the new inuitcss?

[2016-09-27 14:07] herzinger commented on #152
@rowild no, I was satisfied with @csshugs' explanation. But I have something I'm planing to make a plugin of that has something to do with that, so this definition is useful.

[2016-09-27 14:16] herzinger commented on #177
@rowild you are right.

The confusion you guys are having here is in understanding a component that uses an object in it. We have no exemples of that situation documented at all. I'll see if I grab something from my current project and adjust it as simple examples.

But the core of the problem is still lack of understanding of what an object is supposed to be.

[2016-09-27 14:22] herzinger commented on #177
@aaronstezycki about the list-bare object: what we avoid is cosmetic styling. Structural CSS is what an object is all about. The old inuit's list-ui was removed for that exact reason, as it introduced design.

[2016-09-27 16:25] herzinger opened #178 "Further encapsulation"
I was about to write some examples in codepen for the issue #177, and as discussed in issue #169, it's kinda of a pain to include inuitcss for this kind of stuff. One could come here and grab the raw link of only the files the snippet will need, or copy-paste the necessary code, but it's still a lot of stuff in some cases. The project I'm working right now is a UI toolkit built on top of inuitcss,

[2016-09-27 16:33] nenadjelovac commented on #177
@aaronstezycki You might give [this article](http://csswizardry.com/2015/03/can-css-be-too-modular/) from csswizardry a read to see why inuitcss is not part of [expressive](https://www.google.rs/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=expressive%20css) aka [functional](https://blog.colepeters.com/building-and-shipping-functional-css/) aka [composable](https://medium.com/sanctuary-com

[2016-09-27 16:39] herzinger commented on #177
Just to be sure: I showed 2 options of how to solve the problem presented, them mentioned an utility class as a side note (I even have the other two in an ordered list, to further point it). Usually you would only even consider an utility class if it's only one very specific change you want to make to a component or object, in a specific situation.

[2016-09-27 16:45] herzinger commented on #178
Or not... After a little testing, codepen doesn't work well with `@imports` in external files. And after a second tough, if it was the case, I could use the `example.main.scss` raw. Still, the model above has been really useful to me, inclusive making it easier to sell the whole methodology to my team and lessem the learning curve.

[2016-09-27 20:12] nenadjelovac commented on #177
Just stumbled upon this https://blog.mariano.io/battle-of-the-architectures-30c512d542a4#.p2h246w8d so sharing here as it's related.

[2016-09-29 14:36] hayatbiralem commented on #177
Actually __object__ is the first described namespace in [here](http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#the-namespaces).

_P.S. Thanks to @nenadjelovac._

[2016-09-30 08:45] hayatbiralem opened #179 "What about horizontal spacing?"
Hi,

I wonder why we use the same value in the horizontal space with `$inuit-global-spacing-unit`?

Sorry, I'm confused.

My font-size 16px and my line-height 24px so global spacing unit is 24px (as you recommended). With these values, vertical space of paragraphs is a little bigger than 30px and it's ok for me.

I want to use `o-layout` for following case with 30px horizontal space.

![image](htt

[2016-09-30 09:14] csshugs commented on #179
@hayatbiralem
If you really want to change the horizontal spacing for `.layout` which is by default `$inuit-global-spacing-unit`, I'd suggest to omit the inuit layout-object and write it yourself with a custom variable that fit your needs (e.g. `$inuit-global-spacing-unit-horizontal`). If you don't use the inuit layout-object, you can name your custom object `o-layout` too, of course and don't nee

[2016-09-30 09:26] csshugs commented on #178
@herzinger
The aim of inuitcss is being a really generic CSS framework for use in projects.
Providing something like what you proposed above would mean we have to change our file architecture. But for using inuitcss as a projects CSS framework, there is no need to change that. In fact we are very happy with our ITCSS structure. inuitcss is not repsonsible for being a framework which works well in

[2016-09-30 09:46] csshugs commented on #175
Is everyone of @inuitcss/core d'accord, that we will not add responsive hide/show classes at the moment?

[2016-09-30 10:38] hayatbiralem commented on #179
Thank you @csshugs, I see.
Closing :)

[2016-09-30 10:38] #179 closed

[2016-09-30 10:50] csshugs commented on #174
@herzinger
If the plugin is just an extra Sass partial, just put it in an extra repo and make it available through bower/npm ([example](https://github.com/csshugs/objects.split)).

In this specific case, you'll probably need some JS. I have no experience whatsoever about that, so I don't now about that.

But we certainly will add a section about providing inuitcss plugins in the documentation.

[2016-09-30 10:50] #174 closed

[2016-09-30 10:51] #175 closed

[2016-09-30 11:16] csshugs commented on #169
I really would like to know @csswizardry opinion on this one.

I'm still afraid, providing a full generated CSS version of inuitcss could potentially encourage people to just use all of it in a real project. This would lead to potentially unused CSS which is against the idea of inuitcss.

[2016-09-30 11:38] csshugs commented on #168
Absolutely!

That's a problem.

I ask myself, if we need `inuit-rem` (the function and the mixin) at all? At the moment we just use it in [`_example.components.buttons.scss`](https://github.com/inuitcss/inuitcss/blob/6e4095b86224747c4cac775d2757eb61c893f85e/components/_example.components.buttons.scss#L100-L106) and in [`_generic.shared.scss`](https://github.com/inuitcss/inuitcss/blob/develop/gener

[2016-09-30 11:40] #164 closed

[2016-09-30 12:51] csshugs commented on #163
@rowild
The calculation is correct.

The idea being that this function for the line-height always spits out a line-height, that is a multiple from your `$inuit-global-line-height`. E.g. when your h1 font-size is 42px and your `$inuit-global-line-height` is 24px, the generated line-height for the h1 is 1.14286. `42px * 1.14286` equals ~48 which is a multiple of 24px (`$inuit-global-line=height`).
T

[2016-09-30 13:01] nenadjelovac commented on #168
@csshugs interesting spot! On top of my head, I think we might go away with it. But let's say what rest of the @inuitcss/core thinks.

[2016-09-30 14:20] nicoqh commented on #152
I'm aware of the differences between grid systems like Bootstrap's and inuitcss' layout system. Both systems divide horizontal space into chunks by using predefined percentage-based classes, whether they're named u-1/2 or col-sm-6[/12], and they're both accompanied by gutters. The total doesn't have to amount to 100% in either implementation.

I personally don't think this represents a completely

[2016-09-30 15:58] nicoqh commented on #177
Regarding objects vs. components, Harry gave an informative answer [here](http://blog.honeypot.io/interview-harry-roberts-css-wizardry/):

If the "card" is a recognizable piece of UI that is used throughout your app, there's nothing wrong with having it as a self-containing component, like:

[code]

In this case I don't bother with the `box` object. I've abstracted cosmetic and structural styles t

[2016-09-30 16:40] hayatbiralem opened #180 "[utilities.widths] sometimes we need offset class like u-offset-1/5."
Hi,

I added this feature to my current project because I need it. Maybe others are interested.

Code looks like this:

[code]

[2016-09-30 23:29] herzinger commented on #174
Besides this one, I have some other ideas, but I think they should work as much as plugins for inuitcss, as as standalone code, if possible. I'll make a repo this weekend post a link here for opinions, thanks.

[2016-09-30 23:33] herzinger commented on #169
It could also be a .scss file without imports, with all of the codebase in one file. I could write a little script to generate such a file, if needed.

[2016-09-30 23:41] herzinger commented on #168
I like to have this kind of tool available even if the framework itself doesn't use it internally much, or even at all, as long as they are documented . Functions and mixins in special, since they do not add to the dist code.

[2016-09-30 23:46] herzinger commented on #152
The layout object can replace a grid system, but a traditional grid system can't replace the layout object, is what it all comes to in my opinion. It's more versatile.

@nicoqh that aside, I'm working in a plugin/standalone tool that might solve your problem. I think during the weekend I'll have a repo up.

[2016-09-30 23:50] herzinger commented on #177
@nicoqh that's a valid approach for simple components, but as they become more complex, incorporating objects will make 'em more DRY.

[2016-09-30 23:58] herzinger commented on #180
@hayatbiralem Isn't it solved by the pull/push classes behind the `$inuit-offsets` feature switch in [_utilities.widths](https://github.com/inuitcss/inuitcss/blob/develop/utilities/_utilities.widths.scss#L59)? It's off by default, but is documented in the file, and you can see it being predefined in [example.main](https://github.com/inuitcss/inuitcss/blob/develop/example.main.scss#L149)

[2016-10-01 00:02] herzinger commented on #178
I was not talking about changing the ITCSS structure, just adding some barrels. But yeah, it's easy enough to do at a project level. Thanks for the answer.

[2016-10-01 00:02] #178 closed

[2016-10-02 16:26] csshugs commented on #174
👍

[2016-10-02 16:28] csshugs commented on #180
@herzinger Agree

[2016-10-02 17:41] herzinger commented on #159
I don't know if I understand exactly what you're asking here, but if it's about differences in dist css files size between the two naming conventions, it should be negligible, with or without gzip. The same goes for adding the ability to choose the naming, like this issue proposes. The only real difference and concern is about increasing the sass complexity. I, personally think it's a good trade o

[2016-10-02 18:34] rowild commented on #174
Thank you, @herzinger ! Very interested!

[2016-10-02 18:37] hayatbiralem commented on #180
`u-push` and `u-offset` are [different approaches](http://codepen.io/hayatbiralem/pen/xEXJqN) but I see your point. I think you're right.

Thanks.

[2016-10-02 18:37] #180 closed

[2016-10-02 18:50] rowild commented on #168
Please allow me one question - it may be stupid, but it really is on my mind the whole time:

I keep reading in various articles out there in the WWW that it is better to stick with em (and even rem), for many reason I am sure you know way better than I do. But one reason in particular seems very convincing, and that is the problem with user-specific font-size adjustment in her/his browser. Breakp

[2016-10-03 16:12] hayatbiralem opened #181 "[objects.ratio] Duplicate key error"
Hi,

I add new ratios to the `$inuit-ratios`  and then I received the following error message:

My new map looks like:

[code]

I can see where the problem is so I tried to solve it with this way and it works:

[code]

But, I think previous version was more cute. If there is a more elegant way, I'd like to know.

Thanks.

[2016-10-03 16:16] hayatbiralem commented on #181
This works too, sass is incredible!

[code]

Better, right?

[2016-10-03 16:49] herzinger commented on #181
No, between the two, the comma separated version is more readable. But one way or another, I don't think it should be changed. Is there any rationale behind those extra ratios? The current ones are all common patterns. The ones you added seen completely useless, unless it's a really specific use case, and as such should be a project specific addition, not part of the framework.

[2016-10-03 18:26] hayatbiralem commented on #181
I need that ratios for a masonry like component but you are right, again :) I think component specific ratios more sense.

Thanks.

[2016-10-04 17:44] herzinger commented on #168
@rowild you can use `inuit-rem()`, and you'll have to rewrite the padding and margins for all objects.

[2016-10-04 20:22] rowild commented on #168
@herzinger Thanks for your respond, but what is your opinion about the general idea of shipping inuitcss with px units?

[2016-10-04 20:42] herzinger commented on #168
@rowild I like the idea of using rem more often (em is a pain to keep track of the reference), but browser support is an issue. Should IE 8- support be dropped entirely? Should we always ship px fallback? Should something like the $inuit-oldIE be used?

Even with that, to say (r)em is the most "modern standard" is highly debatable. [This article](http://jgthms.com/in-css-use-pixels-not-em.html) ha

[2016-10-05 05:44] florianbouvot commented on #159
No, it's about Sass complexity. When things become to complex why not come back to CSS:

[code]

That's why I say **sorry** 😆

[2016-10-05 06:06] florianbouvot commented on #181
@hayatbiralem I don't understand why there is an error, I need to test it.

@herzinger

Yes and no 😆

Yes, we will not add project specific ratio to inuitcss.
No, @hayatbiralem is right, in your own project you can alter this list to fit your needs.

[2016-10-05 06:08] florianbouvot commented on #175
@csshugs  Sorry for the late, but I agree.

[2016-10-05 06:55] hayatbiralem commented on #181
Thanks @florianbouvot,

That was my intention but I think there was some misunderstandings. Those has eliminated with your comment. Cool 👍

[2016-10-05 14:22] rowild commented on #168
@herzinger Thank you for the link to the article and your opinion! Much appreciated!

[2016-10-05 14:22] #168 closed

[2016-10-05 14:56] herzinger commented on #159
@florianbouvot you do make a good point.

[2016-10-05 15:03] herzinger commented on #181
@florianbouvot the error comes from a duplicated key. It's a map of key:value pairs, and "1:1", "1:2" and "1:3" all have the same key (1).

[2016-10-05 15:04] florianbouvot commented on #181
Key must be unique in [Sass Maps](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps) so I think we need to use a Sass Lists instead.

[2016-10-05 15:29] florianbouvot commented on #181
Like @hayatbiralem example, I propose to switch from Sass map to list.

@inuitcss/core do you think we need to refactor `@each` using `nth($list, $n)` ?

[code]

[2016-10-05 15:57] florianbouvot opened #182 "[generic.normalize] Update to v5.0.0"
I think we can update normalize (mostly content reorganization), change are:

**Code update**

Forms `button`, `input`, `optgroup`, `select`, `textarea` font from [v4.2.0] (https://github.com/inuitcss/inuitcss/blob/develop/generic/_generic.normalize.scss#L254-L266) to [v5.0.0](https://github.com/necolas/normalize.css/blob/master/normalize.css#L247-L261)

**Code remove**

[code]

[code]

@inuitcss/

[2016-10-05 16:01] csshugs commented on #182
I would consider an update as save (we're still on beta anyway).

[2016-10-05 18:11] florianbouvot commented on #181
@herzinger I like the syntax but it doesn't work for me:

[code]

[2016-10-05 19:20] herzinger commented on #181
@florianbouvot check out the PR I just made. I was able to build it with no problems using a clone of your repo.

[2016-10-05 19:56] florianbouvot commented on #181
@herzinger It works, I was thinking that `:` will cause an issue : I'm not a Sass expert 😆

[2016-10-05 19:59] herzinger commented on #181
@florianbouvot no problems, I am, and I'm here to help :)"

[2016-10-05 20:08] florianbouvot commented on #181
@herzinger I read Sass documentation and I don't find this syntax in List...

[2016-10-05 20:11] herzinger commented on #181
@florianbouvot it's a list of one index maps. Sass lists are like arrays, and maps are like objects. What I did is an array of objects, each with only one key:value pair.

[2016-10-06 00:02] herzinger commented on #157
Actually, you do make a strong case for using rem when sitting on a baseline grid. It's also a simpler calculation. The only issue I see is the need for a fallback for IE<9, in px (easy enough, but requires more output code) or unitless (which would mean we still need that same calculation AND more output code).

Knowing this, and keeping in mind that, when we do the correct calculation and set th

[2016-10-07 07:48] csshugs commented on #162
@rowild
[2ed7edd](https://github.com/inuitcss/inuitcss/commit/2ed7edd9df50f32b49fdf93be4329650499b5f77) adds a warning when not giving `$font-size` in `@include inuit-font-size` a `px` unit.

@inuitcss/core This does makes sense to add to the mixin, right?

[2016-10-07 07:51] csshugs commented on #182
@inuitcss/core I guess this is good for a Pull Request, right?

[2016-10-07 07:57] florianbouvot commented on #162
@csshugs looks good 😉

[2016-10-07 08:01] rowild commented on #162
Thank you!

[2016-10-07 08:15] rowild opened #186 "Interim showcase links in documentation?"
Dear inuitcss core members,

at the moment, inuitcss is not very welcoming for new people. There is no documentation, no example guide, no showcase etc. This makes it unnecessarily hard for newcomers of different experience levels and it also does not appear very friendly compared to other OS projects who fight for their audience.

It is also only partially helpful to say "read OOCSS, BEM, ITCSS"

[2016-10-07 08:17] csshugs commented on #181
Closing this since #183 is merged.

Thanks @hayatbiralem for pointing out the issue and @herzinger for working out the PR! 👍

[2016-10-07 08:17] #181 closed

[2016-10-07 08:46] area73 commented on #186
HI @rowild , I made a web repo for inuit CSS that may help you to understand better the architecture involved.

although it doesn't reflect the last changes of this repo , it will give you a good starting point to understand ITCSS, BEM, and Inuit components.

http://inuit-village.github.io/inuit-village/

I hope this can help you :)

[2016-10-07 08:55] csshugs commented on #116
#176 is merged.

[2016-10-07 08:55] #116 closed

[2016-10-07 09:54] csshugs commented on #182
#184 is merged.

[2016-10-07 09:54] #182 closed

[2016-10-07 10:58] csshugs commented on #3
@kaifaust
Is your question answered, or do you have any further concerns about this?

[2016-10-07 13:48] csshugs commented on #58
@inuitcss/core
I've now worked off [the checklist](https://github.com/inuitcss/inuitcss/issues/58#issuecomment-229699216) from the top, except the point about ITCSS, because @csswizardry was not sure about how much information he will give away for free in the context of the inuitcss documentation.
But I added a section about the directory structure and a short paragraph about namespaces in classn

[2016-10-07 14:46] herzinger commented on #186
I intend to write examples and snippets for inuitcss as soon as the codepen matter is decided.

[2016-10-07 14:53] anselmh commented on #169
I disagree here. It’s the authors task to ensure that users will use the framework in the intended way. As we as authors intend the framework to not be used as a whole, but only with the chunks you really need, it would be fatal to officially provide a compiled, full-source `.css`-file of inuitcss.

While I can see the advantage of having this for Codepen or JSBin, I’m sure that those services cou

[2016-10-07 14:57] anselmh commented on #186
Documenting inuitcss is now a relatively high prioritization for us in the core team. Until now, the source has changed a lot since the last major version so we decided to do the documentation only at a point where we’re getting to a more stable version and we’ll start soon now doing that to improve the situation.

I’m glad other people have written great posts, articles and demos already and in t

[2016-10-07 15:59] hayatbiralem commented on #169
I have an idea for this. How about `inuitcss/sample-projects`? We can create simple projects like a todo app or a blog page.

In this way we can provide real life examples of how to use the inuitcss.

[2016-10-07 17:00] herzinger opened #188 "Releases schedule"
Is there any? I mean, for version bumps and package managers updates.

[2016-10-07 23:59] kaydwithers commented on #169
I remember when I first started using Inuit as a Junior Developer, it was somewhat frustrating. Setting up the project and turning things off an on caused me a lot of confusion. I think a sample project is a great idea for users new to Inuit.

[2016-10-08 00:08] kaydwithers commented on #186
I have made a kitchen sink for a Inuit/ITCSS project we are currently working on. It might be of some help.

https://kaydwithers.github.io/kitchen-sink/

[2016-10-08 07:03] rowild commented on #186
@area73 , @kaydwithers Thank you for your contributions! Highly appreciated!

Did anybody already finish a website with the new inuitcss? Any chance you post a link?

I did my first little steps with this "coming soon" page:
www.ghoncheh-asadiazadeh.com

Any helpful feedback would be most welcome!

[2016-10-08 07:23] rowild commented on #169
@anselmh I do understand your point! Providing the whole framework invites users to just copy/paste each an everything into there project and then overwrite it.

But that is the problem of all CSS frameworks and UIs, be it Bootstrap, Foundation, Material Design, also jQuery etc. Most of the critique the have to endure has its roots in exactly that situation: simply link to the whole framework.

CD

[2016-10-08 08:12] kaydwithers commented on #186
@rowild you can try searching the source code using this website

http://publicwww.com/websites/%22o-layout%22/

[2016-10-08 16:50] herzinger commented on #186
@rowild I'm refactoring https://lejour.com.br with inuitcss. The institutional part is done. There's also  an small application I'm starting on today.

[2016-10-11 13:00] csshugs commented on #157
@herzinger Good answer! Nothing to add.

@nicoqh Does this answer your question?

[2016-10-11 13:12] csshugs commented on #163
@rowild Does this answer your question. Is there anything left to be clarified?

[2016-10-11 15:52] hayatbiralem commented on #175
Hi,

I think we could try a more convenient way and we can disable by default.

Why not a mobile-first? I was inspired by `_utilities.inuit-widths`.

### _utilities.display.scss

[code]

### output

[code]

Users can use other display values like `table`, `table-cell`, etc. with optional aliases if they want or they just use `none` and `block`.

What are you saying? Is not that useful?

[2016-10-12 00:16] hatzipanis opened #189 "Slack community"
Any thought to having a public Slack channel? We're using Inuit heavily in our everyday work and it would be great to be able to exchange ideas and contribute.

[2016-10-12 05:47] hayatbiralem opened #190 "New optional utility: display"
Hi,

This issue has already been discussed on #175 but I think this is a different approach.

I think we could try a more convenient way and we can disable it by default.

Why not a mobile-first? I was inspired by `_utilities.widths`.

### _utilities.displays.scss

[code]

### output

[code]

Users can use other display values like `table`, `table-cell`, etc. with optional aliases if they want or

[2016-10-12 06:01] csshugs commented on #190
@hayatbiralem
As already stated [here](https://github.com/inuitcss/inuitcss/issues/175#issuecomment-249136285) in #175, this is quite complex Sass code for quite a specific use case. inuitcss tries to be as generic as possible when it comes to the modules it provides, and we also want the Sass code to look as CSS-like as possible.

Don't get me wrong, your proposal is a really great way of handlin

[2016-10-12 06:21] hatzipanis commented on #189
I usually think of GitHub Issues as a place for _issues_ and not discussion. I'd love to be able to engage in fluid conversation with other heavy users to see how they're tackling common challenges. That leaves Github Issues as a clutter-free way to discuss bugs and other shortcomings? However I wouldn't be against using Issues for this sort of discussion, if the mods were happy with this.

[2016-10-12 06:32] csshugs commented on #169
@rowild

Exactly! That's why we are not providing a full CSS file—so we are not exposed to this critique, as well.

I'm with @anselmh here: We should do everything we can to ensure the framework is used as intended. And inuitcss is absolutely not intended to be used "blindly" by just taking the full CSS file without looking into what's really needed of that file.
If someone wants to use it that wa

[2016-10-12 06:34] anselmh commented on #188
Hi @herzinger, no we don’t have a fix release scheme or even a schedule for a variety of reasons.
The first and most important one is this project not being a full-time project for anyone of us.
The second one is that there’s no real value behind pushing a release on a fixed schedule — whenever a feature, bugfix or a new major version is ready, it’ll be published.
Please understand that you can’t

[2016-10-12 06:34] #188 closed

[2016-10-12 06:35] rowild commented on #189
What @hatzipanis says is totally true. For me, it seems awkward to go to git for asking questions. Slack is a wonderful solution for problem discussion (and even team organization like inuitcss/core?). Since Slack it has been used by many others already, it would be a supporting tool that many people already know how to handle.

+1

[2016-10-12 06:35] anselmh commented on #190
This is something that would perfectly serve as an inuitcss plugin. :)

[2016-10-12 06:38] anselmh commented on #189
I agree that discussions that don’t target the framework development or the documentation itself but the usage or even meta discussions about some projects should stay out of github issues.

We’re considering this internally in the near future but first want to focus on providing a full documentation first and publish a stable version, before caring about this issue. Thanks for your patience :)

[2016-10-12 06:44] csshugs commented on #162
#185 is merged.

[2016-10-12 06:44] #162 closed

[2016-10-12 06:48] hayatbiralem commented on #190
@csshugs and @anselmh thanks. I see your point. Ok then I'm publishing this :)

[2016-10-12 06:51] csshugs commented on #159
To summarize this again: [This](https://github.com/inuitcss/inuitcss/issues/159#issue-174768980) proposal does make the Sass code a little bit more complicated (Sass maps instead of lists), but inuitcss users can customize the class names and can also opt-out of certain classes which will not be needed, by overriding the maps.

@inuitcss/core Worth a PR?

[2016-10-12 06:52] #169 closed

[2016-10-12 07:31] kaifaust commented on #3
Question answered, thanks!

[2016-10-12 07:37] nenadjelovac commented on #190
@hayatbiralem would you mind letting us know (maybe on this issue) when you publish so we can use it as a inuitcss plugin :) I agree with @csshugs that your solution eliminates the problems other approaches have, and it's pretty elegant (if code can be such a thing :)). Bravo 👏

[2016-10-12 07:44] nenadjelovac commented on #159
@csshugs I'm ok with this ;) I personally love the "hipster" naming :D

[2016-10-12 10:27] csshugs commented on #156
@nenadjelovac Yeah, you're right. [I modified that](https://github.com/inuitcss/inuitcss/commit/e67e7541ce5837c5dc77b23c15c64da09d22e2f4).

[2016-10-12 11:06] csshugs commented on #152
@nicoqh

Actually, what you described here would rather be a component than an object—it's a concrete piece of your UI, hence `.c-layout` would be more appropriate. Nonetheless, having a component class with the name `.c-layout` and an object with the class name `.o-layout` could be a bit confusing, giving that these two classes have absolutely nothing to do with each other.

So, one suggestion wo

[2016-10-12 11:06] #152 closed

[2016-10-12 11:33] nicoqh commented on #152
Couldn't agree more, but understand that the crux of my argument was the naming of the object regardless of local conflicts (I don't use `o-layout`).

Thanks for taking the time to discuss this, and for the good suggestions :)

[2016-10-12 12:00] hayatbiralem commented on #190
@nenadjelovac I publish the project just now in [here](https://github.com/hayatbiralem/inuit-displays).

If I do something wrong, I'd love to get your feedback.

Thanks :)

[2016-10-12 12:07] csshugs commented on #190
@hayatbiralem Fantastic 🙌

[2016-10-12 15:17] nenadjelovac commented on #190
@hayatbiralem great stuff man!

[2016-10-12 17:25] herzinger commented on #190
Sorry, but I really don't see any good argument as to why it should not be adopted into inuitcss. I was the one that created one issue about responsive show/hide some time ago, and I understood why it wasn't included back then, but this solution here addresses all the right points, by being a full set of display properties instead. It has the potential to become the most used set of utility classe

[2016-10-13 06:01] #163 closed

[2016-10-13 06:02] rowild commented on #186
Thanks for the valuable feedback!

[2016-10-13 06:02] #186 closed

[2016-10-13 06:36] hayatbiralem opened #195 "[_example.components.buttons.scss] ghost buttons' modifiers may not be right."
Hi,

This is an example, I know that but I use ghost buttons in my current project like inuitcss button component example. In my case I need override some properties (color, etc) at the moment and then I noticed that `&.c-btn--primary` usage may not be right:

[code]

Instead it may be more accurate if we use `&--primary`.

In this case we need to use the button component as follows:

[code]

I th

[2016-10-13 07:05] anselmh commented on #195
A ghost button is not a state but a modifier, as is the primary button. No spec/convention says you can’t or shouldn’t have more than one modifier of a module. Therefore I think the current, initial usage is totally correct.

[2016-10-13 07:12] herzinger commented on #195
No, the example is right. `.c-btn` is the core component, `.c-btn--primary` defines the color as the primary one and `.c-btn--ghost` gives the transparent bordered style. That is the right way to do it. You should never have a modifier of a modifier, like your first suggestion, and state classes are for dynamic states, not alternative styling.

[2016-10-13 08:13] hayatbiralem commented on #195
@anselmh and @herzinger thanks. I understand that you are right.
Then I'll get back into the old :)

[2016-10-13 08:13] #195 closed

[2016-10-13 08:31] dudezilla80 commented on #3
Hi, and good job on the framework!

I'm working on a commercial project, and would like to comply 100% with the Inuit license.

Is the compiled CSS required to bear comments related to the additions that I made to the SCSS files? In this case, wouldn't the Apache 2.0 license get in the way of having minimized, optimized CSS that has all comments stripped in the production version?

Thanks, and kee

[2016-10-13 08:53] hayatbiralem opened #196 "What is the right place of `scopes` in the main.scss?"
Hi,

I want to use `scopes/scopes.cms-content.scss` in my current project. What position do you think a more accurate? After `generic` styles or other?

Thanks.

[2016-10-13 08:55] csshugs commented on #196
Can you elaborate, what exactly you want to achieve with that scope? You want to modify a component depending on which scope it is in?

[2016-10-13 10:13] hatzipanis commented on #189
I'm not quite sure I understand the reasoning?

Surely creating an official Slack channel and building a healthy community can only bring good things to Inuit, no? Don't they even go hand in hand with trying to get documentation together and preparing a stable version? Not to mention we currently have no place to discuss ideas, solve design challenges and learn from one another without creating Is

[2016-10-13 10:17] anselmh commented on #189
@hatzipanis you mean the reason behind the prioritization of this? It’s because it adds up to our time we spend on the project. Of course it helps to have moderators like you on the Slack channel but I know it’s required that the core team also watches the discussions and replies to certain questions. We’d also need to have a sort of auto-invitation tool in place to get people on board and all thi

[2016-10-13 10:26] hatzipanis commented on #189
Fair play, I'll leave it there. It sounds like the team is under the pump/under resourced so if you ever need any help with the current priorities I'd be glad to lend an active hand.

[2016-10-13 10:37] hayatbiralem commented on #196
No, I just want to style the simple tags like `ul`, `ol`, etc. from the cms.

[2016-10-13 10:48] csshugs commented on #196
@hayatbiralem
I don't know if I get you right. When you just want to style base elements like `ul` etc. it would go into the elements layer, which would be `elements/_elements.lists.scss` for example. So this file could look like this:

[code]

When you want to style this base element differently, when it's in a specific scope (e.g. when it is in the RTE of a CMS), you would write this variation r

[2016-10-13 11:04] csshugs commented on #190
@herzinger
Ok, you've brought up some good points there.

To be sure not just judging subjectively here, I'd like to know what @inuitcss/core is thinking about this.

(Hint: I'm pretty much torn if we should implement this or not)

[2016-10-13 11:18] anselmh commented on #190
If we would add `display`-classes to inuitcss, do we also need to add classes for:

* `visibility`
* [accessbility-hidden classes](https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119)
* printable / non-printable objects
* and probably many more…

I’m not sure this is what’s intended with a web framework. That’s why I’m personally not convinced that this should be part of th

[2016-10-13 11:57] nenadjelovac commented on #196
@csshugs I believe @hayatbiralem is asking about scope classes from [this article on csswizardry.com](http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#scope-namespaces-s-).

@hayatbiralem Scopes should go after your `components` layer. Check example an [main.scss](https://github.com/csswizardry/discovr/blob/master/css/main.scss).

[2016-10-13 12:00] aaronstezycki commented on #190
I use both utility display & visibility classes, however I prefer using a single class for a specific job, and not so much using several classes to do one thing. i.e. I use `.u-hide-->@bp2` to hide my objects from bp2, not `.u-hide--@bp2 .u-hide--@bp3 .u-hide--@bp4'. It's a lot cleaner from the html, although my css output is larger because I'm creating more classes to do a thing. This is just the

[2016-10-13 12:14] hayatbiralem commented on #190
@anselmh I agree with you. It matters what users want. If you don't add it into the framework, we can always use the related plugins. If you add it into the framework in the future, we don't need related plugins anymore. One way or another good for me.

[2016-10-13 12:46] nenadjelovac commented on #190
@csshugs I'm with @anselmh approach for this:

[2016-10-13 13:34] hayatbiralem commented on #196
@csshugs no, @nenadjelovac touched on the right point but this is my mistake, I should explain in more detail.

That's all I need. I thank both of you.

[2016-10-13 13:34] #196 closed

[2016-10-13 14:49] herzinger commented on #3
@dudezilla80 I would tackle it by inserting a small comment banner up top of the file after minification, with credits and a link to a txt, md or html page with the more detailed information. I already do that for general credits, licence and etc.

[2016-10-13 14:51] herzinger commented on #3
@dudezilla80 I would tackle it by inserting a small comment banner up top of the file after minification, with credits and a link to a txt, md or html page with the more detailed information. I already do that for general credits, licence and etc.

[2016-10-13 14:59] herzinger commented on #189
I can also help, pretty actively.

[2016-10-13 15:06] dudezilla80 commented on #3
@herzinger Even if I do it like this, I think the Apache 2 license is too vague for this use case, and it leaves room for potential lawsuits. I think it would be a hassle for me to convince my management to use Inuit because of this. Wouldn't it be better either to have a clear commercial license, or to go all the way open source with an MIT license?

[2016-10-13 15:19] herzinger commented on #3
@dudezilla80 I don't see in anyway how it is vague, sorry. Also, when building a commercial project on top of open code, we don't really get to choose the licencing of that code. You need to work around whatever licence is in place.

Doing it in the way I suggested you'll only be vague if you don't document your changes and the due credits correctly, and then that would be on you. It's not that ha

[2016-10-13 15:39] herzinger commented on #190
That sounds good, but do you guys have any way of gathering that data?

I'll talk about myself: I have to add something on those lines in almost every project I work on, by hand. And even when I don't NEED it immediately, It's something pretty likely to come up at some point in large, long running projects, the ones inuitcss is specially suited for.

@anselmh you don't HAVE to add all that extra s

[2016-10-13 15:43] dudezilla80 commented on #3
@herzinger I understand your point. But it's still confusing for me how to comply with this (quoting from the top post of this thread, by @csswizardry ):

Assuming I generate CSS from SASS, autoprefix it, minify it and strip comments, the solutions that I see are the following:

- either I prepend to the resulting CSS a huge text that explains where **exactly** I made changes to the original code;

[2016-10-13 16:24] herzinger commented on #189
Issues like #196 are good arguments for a slack channel or some other solution like that. I believe I can answer myself most questions about usage and things like that, and I'm basically online every waking moment (from Brazil, so GMT-3)

[2016-10-13 16:38] herzinger commented on #3
The second option is what I am suggesting, and it's hardly impractical. I think you are most likely misunderstanding exactly what kind of modifications you would need to log.

Let's say you added inuitcss via npm or bower. If you are able to update or delete and install it again without losing anything, you probably don't need to point anything out. Whatever you made, it was built on top of the fr

[2016-10-13 16:43] herzinger commented on #3
The licence's modifications clause applies only to modifications of the framework itself, not to code you write yourself on top of it.

[2016-10-13 17:52] herzinger commented on #190
I made a PR with a simplified version of this. Should be simple enough now.

[2016-10-13 18:43] tymondesigns commented on #190
Great to see this being reconsidered 👍

My 2 cents:
I always add this for the vast majority of my projects.
It's a sensible addition in my mind, that doesn't compromise the integrity and simplicity of the framework.

[2016-10-13 19:50] kaydwithers commented on #190
Hiding things at different breakpoints is something I also use a lot. It seems to be a common feature in most modern frameworks such as Bootstrap and Foundation. There's also a CSS working draft being considered.

https://www.w3.org/TR/css-display-3/#box-suppress

[2016-10-13 19:51] florianbouvot commented on #190
I not sure we need to introduce this kind of module in inuitcss for now: @csswizardry don't want to create a utility library *(if I recall)*.

So a plugin is the good choice for me.

[2016-10-13 19:57] florianbouvot commented on #190
@csshugs I have no opinion about it 😕

[2016-10-13 20:18] herzinger commented on #190
@florianbouvot adding this would hardly make inuitcss into an utility library. If we go by that interpretation as an iron clad rule, we should remove everything excluding widths from that layer and treat it as we do for components. I don't think that is the case.

Also, as you can see, it's pretty much universally useful.

[2016-10-13 20:58] florianbouvot commented on #190
`u-text-center` is common too, should we add a module with every text value and responsive equivalent? And what about `u-float-left` and `u-align-middle` and ... you have a utility library 😆

I don't say it's bad, I use utility classes too in every project but I remember a talk with @csswizardry about adding some utilities like display / text / alignement... He made it clear that it was not the go

[2016-10-14 01:26] herzinger commented on #190
@florianbouvot it's different, and I'll explain: both floating (mildly often) and text align (less so) could be useful on a per project base, but most use cases are covered by  modifiers in the object layers. Display classes would be used mainly to modify specific instances of components, mostly for hide/show shenanigans, in special based on breakpoints. The only big problem with straight forward

[2016-10-14 02:47] kaydwithers commented on #190
I agree with Florian, a utility library might be the plugin that we need. A plugin that includes float, hide/show, text-align and other helpful utilities all in one "Utility Library" plugin.

[2016-10-14 03:38] herzinger commented on #190
@kaydwithers I don't believe that's what he meant. The biggest reason for the hesitation in adding too many utility classes is not because of bloat, ugliness or even scope of the framework, but because we should not encourage developers to rely too much on them. Utility classes should be used only for minute, very specific layout adjustments, least we migrate to atomic design altogether. Each of t

[2016-10-14 06:09] dudezilla80 commented on #3
OK, then. I'll try working around these issues as well as I can. But my suggestion still stands for the authors: it would be much clearer for the users to have an MIT license like the majority of the known CSS frameworks (Bootstrap and Foundation comes to mind). Or, of course, go fully commercial.

P.S.: I'd still like to see an example of a company that implemented Inuit and fully complied with t

[2016-10-14 07:07] hayatbiralem commented on #190
@herzinger are right, I think we can add this feature to the library but let's look from @kaydwithers' perspective. I do not think that there should be a single library for all utilities but the idea of a GitHub organisation for covering all plugins sounds good to me.

For example [Sketch Plugins](https://github.com/sketchplugins). Look at [its directory](https://github.com/sketchplugins/plugin-di

[2016-10-14 07:08] csshugs commented on #190
We (@inuitcss/core) still think, that—for now at least—we should not integrate this module.

* I agree that this is useful for many users
* I agree that this would not be the most complex chunk of Sass code in inuitcss
* I agree that it's debatable if there's a utility module which is less useful than this

**But:** There are [a few unpredictabilities](https://github.com/inuitcss/inuitcss/issues/1

[2016-10-14 07:08] #190 closed

[2016-10-14 07:26] hayatbiralem commented on #190
@csshugs thanks man we're cool :) A nice quote here for eliminating any concern:

If we argue enough, then we can reach the right conclusion.

😄 ✌️

[2016-10-14 13:40] herzinger commented on #190
@csshugs that's okay, you can't win every battle. I still wouldn't call it the right decision, but that my opinion.

About making it a plugin, if it's not part of the framework, @hayatbiralem's version is better, as it's more powerful and flexible. It only needs some minor adjustments, so I'll send a PR his way as soon as I can.

[2016-10-14 17:31] StormersFan commented on #189
Is there perhaps an interim solution for a Slack channel until something official is established? I don't consider myself a developer, but I put together a platform using the latest version of inuitcss and would love to ask questions and exchange ideas with people like @hatzipanis and @herzinger. Given the resource constraints, I don't want to distract the core team and others from the wonderful w

[2016-10-14 18:13] anselmh commented on #189
I think there's no issue with opening a github issue for these kind of things until we have a slack. Maybe just add a prefix such as [community] issue title.

----
Anselm

[2016-10-14 18:40] herzinger commented on #189
GitHub issues are not the place for that. I'll create a slack channel and take care of it myself, just treat it as unofficial.

[2016-10-14 20:50] herzinger commented on #3
The project I'm working on is private, and incomplete yet. So I can't publish the code, but I'll show you some snippets so you can have an idea:

#### style.css
[code]

#### INUITCSS.md
[code]

[2016-10-14 23:14] herzinger commented on #3
Also, this documentation is all by me, so I would like for @csswizardry to confirm if this is the way to go, and I can make any modifications needed. I also documented all changes in it's respective partials, even if it's lost in the build process, so it's visible in the git repository (even if it's private).

[2016-10-15 07:13] rowild commented on #189
@herzinger Thank you!

[2016-10-15 12:22] hayatbiralem opened #198 "Which approach for naming inuitcss plugins?"
Hi,

We discussed about `inuit-displays` on #190 in recent days and have released a [plugin](https://github.com/hayatbiralem/inuit-displays) for it.

`inuit-displays` is an utility so I wonder `inuit-u-displays` is it a better name?

I'm curious about it because of that I'm planning to start an inuitcss component plugin then I noticed that `inuit-displays` and `inuit-carousel` looks like each othe

[2016-10-15 14:38] herzinger commented on #198
The problem is: some plugins - in fact, all of the ones I have in mind right now - use more than one layer. That being said, I wouldn't even use the Inuit prefix, to be honest, since I want them to work fine as standalone pieces of code that can be seamless integrated to inuitcss' structure.

I.e: even if I have to use one of inuitcss' global variables, I would instantiate a version of myself, wit

[2016-10-15 16:33] jahvi commented on #189
Gitter can also be used as an alternative, not as featured packed but it gets the job done.

[2016-10-15 18:06] herzinger commented on #189
@anselmh your invitation bounced. Maybe there was a typo in your email address?

[2016-10-16 11:31] raghunayyar opened #199 "Readme points to non-existent documentation"
More of a query than an issue.
The ReadMe says the documentation is on the website but I have been seeing a coming soon thing since like an year or may be more. Any awesome resource?

[2016-10-16 12:08] hayatbiralem commented on #198
Thanks to you my thoughts on this matter was clarified a bit more. 👍

[2016-10-16 12:08] #198 closed

[2016-10-16 13:55] herzinger commented on #199
Okay, so let's make it in a real issue:

1. The README should not imply there is a "full documentation" until it's true. That's just confusing.
2. It should instead point out how it's well documented in the code itself.

[2016-10-16 13:58] florianbouvot commented on #199
@raghunayyar documentation is one of your priority to get out of beta. Thank you for your patience.

I close this and invite you to follow this existing one #58.

@inuitcss/core should we update the readme ?

[2016-10-16 16:10] herzinger commented on #58
So, I went and did a little bit of [asking around](https://github.com/SassDoc/sassdoc/issues/467), and then went and did [this](https://www.npmjs.com/package/inuit-sassdoc).

I did not have the time to test it out yet, but I think it's worth the try, right?

[2016-10-16 16:21] raghunayyar commented on #199
This is awesome. I would also try helping out if possible. I have been working with Inuit since sometime now and its pretty good I must say.

[2016-10-16 16:23] florianbouvot commented on #199
@raghunayyar you're welcome, thank you for your enthusiasm and your support 😉

[2016-10-16 18:27] nenadjelovac commented on #199
@florianbouvot I've changed the name of the issue, and labels (and reopened the issue), since this is IMO something that is not true at the moment. I agree with @herzinger's comment:

[2016-10-16 20:29] florianbouvot commented on #199
@nenadjelovac no problem, that's why I ask team to know if we need to update it 😉

[2016-10-16 20:39] florianbouvot commented on #199
@nenadjelovac we can temporarily remove the "Full Documentation" section or write something to explain that full documentation will be available soon, thoughts ?

[2016-10-17 07:46] csshugs commented on #199
@florianbouvot
cc @inuitcss/core

Since I agree with @herzinger, too, I think [your commit](https://github.com/inuitcss/inuitcss/commit/b765f4a2f613fd243fe357524bcd159ed93ca042) is worth a PR. It looks pretty embarrassing to point the users to a documentation, which is not existent, IMO.

[2016-10-17 07:49] csshugs commented on #198
@hayatbiralem
I agree with @herzinger. Naming your plugin `inuit-displays` is just fine.

[2016-10-17 08:13] hayatbiralem opened #200 "[utilities.widths] offset utilities fails on responsive when used twice"
Hi,

I found a bug on offset utilities.

If I want to build responsive layout like this:

![image](https://cloud.githubusercontent.com/assets/2085468/19429487/a2c9ccc4-9458-11e6-96a4-eeb4aaafa387.png)

.. I need some code like this:

[code]

.. but it doesn't work. Look at [my pen](http://codepen.io/hayatbiralem/pen/ALPVzm).

Because of this our `left: auto;` and `right: auto;` resets doesn't over

[2016-10-17 08:45] hayatbiralem opened #201 "[objects.layout] Do we need responsive gutter size modifiers?"
Hi,

Actually, I need this at the moment and I want to know your opinion.

If we use huge gutters on any responsive project for above desktop, we must reduce gutters below tablet or phone.

If we need the huge gutters also we need that responsive modifiers too, IMO.

What do you think?

[2016-10-17 10:08] csshugs commented on #200
@hayatbiralem Well spotted!

@inuitcss/core Any concerns with [this one](https://github.com/inuitcss/inuitcss/commit/40dd9eabd1639a2a2fd3d41cd18a21b53ac214c9)? Anything that we overlooked?

[2016-10-17 10:14] csshugs commented on #201
@hayatbiralem
We already had a discussion about this in the now [deprecated layout object repository](https://github.com/inuitcss/objects.layout/issues/9) some time ago.

Although this issue might be a bit old, IMO the points mentioned there are still valid for the layout module, i.e. it would increase the complexity.

It's not that complex to provide modifier classes for that by themselves, thoug

[2016-10-17 10:16] florianbouvot commented on #199
Meged, thanks @raghunayyar.

[2016-10-17 10:16] #199 closed

[2016-10-17 10:20] florianbouvot commented on #200
@csshugs adding `!important` to fix that is ok for me 👍

[2016-10-17 10:32] hayatbiralem commented on #201
I think I don't need it. Complexity is not an issue for me but unnecessary codes is, I guess. I'll continue with a custom object at this time. Thank you 👍

[2016-10-17 10:32] #201 closed

[2016-10-17 22:38] nenadjelovac commented on #200
@csshugs should we add `!important` to `position: relative;` as well? I think it might make sense.

[2016-10-18 06:37] csshugs commented on #200
@nenadjelovac
Since it's an utility anyway, you're probably right.

[2016-10-18 08:26] nenadjelovac commented on #200
@csshugs then it's ready for PR ;)

[2016-10-18 10:07] csshugs commented on #159
#191 is merged

[2016-10-18 10:07] #159 closed

[2016-10-18 10:21] #157 closed

[2016-10-18 10:21] csshugs commented on #156
#193 is merged

[2016-10-18 10:21] #156 closed

[2016-10-18 11:00] #200 closed

[2016-10-18 11:48] csshugs commented on #58
@herzinger
As already discussed in #150 and #164, we will not use SassDoc. It's not only the commenting style, but rather the necessity of using SassDoc at all (even if the commenting style would not be an issue). inuitcss has very little Sass functionality. Too little to justify the usage of SassDoc.

Thanks for your effort of working out a solution, though!

[2016-10-18 11:51] csshugs commented on #58
Since [the current documentation](https://github.com/inuitcss/inuitcss/blob/126bebe2ff2146b7101ef28fb1b2c0c4832261dc/README.md) in the form of a README.md seems to be sufficient for now, I close this.

[2016-10-18 11:51] #58 closed

[2016-10-18 12:06] nicoqh commented on #157
It seems to me that unitless line heights were added because of convention, and that IE<9 support was a side effect. If other parts of inuitcss adds IE<9 support behind a flag that can easily be removed when support is eventually dropped, I'd vote for doing this consistently.

Also, rems result in the intended behavior when nesting font sizes, while line heights do not.

That is my opinion, but I

[2016-10-18 12:25] csshugs commented on #157
@nicoqh

We removed the flag. Currently, every code always provides a fallback for IE<9.

Do you have an example?

[2016-10-18 14:55] herzinger commented on #157
Your phrasing was a little odd, so I maybe I didn't get it right, but I think you are mixim it up. `rem` are relative to the document root's font-size, so it doesn't matter if it's nested or not. You may be thinking of `em`.

[2016-10-18 15:01] anselmh commented on #157
Think of `rem` being a fixed value such as px, based on the root em value (meaning despite any set font-size on the element, a root em is used to calculate the value) and unitless line-height as equivalent to `em` (actually, they work the same), calculating the line-height relatively based on the current element’s font-size.

[2016-10-18 15:04] herzinger commented on #58
I don't agree it's too little, but even when assuming so, inuitcss is a framework, not meant to be used by itself. It's actually meant for large projects, so in the wild it will often be among large codebases that ideally should be documented in an automatized way. When that happens, it'll get in the way of documenting the parts that come from inuitcss, and that are the building blocks of the proj

[2016-10-18 18:44] nicoqh commented on #157
I'm aware, and this behavior was the reason for my suggestion :)

With regards to my suggestion it matters because you can maintain the baseline without calculating unitless line heights for every child's font size.

Illustration: http://codepen.io/anon/pen/GjYGAa

However, you would need `inuit-font-size()` to calculate multiples of 1.6rem, as mentioned in the OP. If you want a font size of 3rems

[2016-10-21 07:06] csshugs opened #204 "[tools.rem] Remove rem-function?"
As mentioned [several times](https://github.com/inuitcss/inuitcss/pull/118#issuecomment-237561813) [before](https://github.com/inuitcss/inuitcss/issues/168#issuecomment-250723522), I'm in favor of removing the `inuit-rem` function and mixin, i.e. the whole partial.

I'm not saying, that this is useless in general. Quite the contrary. But we don't consider inuitcss as a mixin library and will not p

[2016-10-21 08:06] jamielovelace commented on #204
+1 - you could always use a pix to rem gulp plugin to sort the fallbacks out on compile anyway

[2016-10-21 12:25] nightgrey commented on #113
Hi!

I'm also using webpack with inuit.css. I'm using postcss-loader + sass and my main.css (which get's imported by my root React.js component) looks like the example provided. Works fine.  Whats your guys problem with using inuit?

If you want an example, check out my 3dstheme-portal repository, see https://github.com/nightgrey/3dstheme-portal and checkout my webpack config's and src/browser/app

[2016-10-21 13:41] herzinger commented on #113
@nightgrey I don't think the problem occurs from the reason you described, but I did face this when trying to make some js components work independently from my project's main code base, and the same would happen if you use injected stylesheets, like with the style parameter in angular components. The solution you suggest is not a great one by itself, since if you have more than one file with the

[2016-10-21 14:54] herzinger commented on #113
Also, it would be great for documentation, since each piece of code would have it's dependencies declared.

[2016-10-21 21:44] clindsey opened #206 "are normalize and reset being included in the correct order?"
It seems like some styles defined in `normalize.scss` are being removed in `reset.scss`, such as the `border` of `fieldset`.  **Is this the intended behavior?**

`border` for `fieldset` is added here -
https://github.com/inuitcss/inuitcss/blob/develop/generic/_generic.normalize.scss#L323

`border` for `fieldset` is removed here -
https://github.com/inuitcss/inuitcss/blob/develop/generic/_generic.r

[2016-10-21 21:54] clindsey commented on #206
oops, missed the comment at the top https://github.com/inuitcss/inuitcss/blob/develop/generic/_generic.reset.scss#L6
[code]

Can someone clarify the logic behind this `fieldset` `border` thing?

[2016-10-21 21:55] herzinger commented on #206
1. This border removal is pretty new, so I think it's a simple mistake.
2. If you gonna use both, I agree reset should be first. But ordinarily you would go with one or the other, right?

[2016-10-24 07:31] nightgrey commented on #113
@herzinger

You mean that compilation fails (in my given case) because webpack's order of importing JS and SASS/CSS is not guaranteed? It actually is the cause of the problem. Check out these quotes from webpack developers:

**From https://github.com/webpack/webpack/issues/215#issuecomment-38894429**

**From https://webpack.github.io/docs/stylesheets.html**

That's why you're importing, f.e., Reac

[2016-10-24 08:14] nenadjelovac commented on #206
@clindsey it is intentional.

See [this PR](https://github.com/inuitcss/inuitcss/pull/193#issue-182491552):

[2016-10-24 09:40] hayatbiralem opened #207 "Can we open a new repo for the plugin list?"
Hi,

Can we open a new repo under the inuitcss organization for the plugin list like [Sketch Plugin Directory](https://github.com/sketchplugins/plugin-directory). This is a simple `README.md` file actually.

I think `inuitcss/plugin-directory` would be good.

What do you think about this?

[2016-10-24 09:45] hayatbiralem commented on #207
.. or we can create a new file in the main project root with name `PLUGINS.md` like `CONTRIBUTING.md`.

[2016-10-24 09:49] florianbouvot opened #208 "[objects.wrapper] Fix object name in comment"
Update comment : `#WRAPPERS` to `#WRAPPER` to fit object name.

[2016-10-24 09:53] florianbouvot opened #210 "[object.tables] Rename object to singular"
`tables`object is the only one using plural, so I propose to rename it `objects.table` instead of `objects.tables` 😆

Thoughts ?

[2016-10-24 10:40] nenadjelovac commented on #210
@florianbouvot I agree.

[2016-10-24 10:51] csshugs commented on #210
👍

[2016-10-24 11:23] florianbouvot commented on #208
Merged.

[2016-10-24 11:23] #208 closed

[2016-10-24 11:24] florianbouvot commented on #210
Merged.

[2016-10-24 11:24] #210 closed

[2016-10-24 11:28] florianbouvot commented on #204
@csshugs I agree to remove `tools.rem`.

But I'm wondering if it's best to only use `px` value or use both `px` + `rem` in inuitcss (and in my components) 😔

* `px` value exist because of IE8 "support" 😢
* `rem` value have strengths but ([we already talk about it](https://github.com/inuitcss/inuitcss/issues/112))

[2016-10-24 11:37] florianbouvot opened #212 "[tools.hidden] Improve text accessibility"
As you can read in the following articles I think we can update `Inuit-hidden-visually` mixin :

* [Beware smushed off-screen accessible text](https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe#.9hmuq3328)

---

* [Cache-cache CSS](http://www.ffoodd.fr/cache-cache-css/) (in French)
* [CSS Hide-and-Seek](http://hugogiraudel.com/2016/10/13/css-hide-and-seek/) (Engl

[2016-10-24 11:44] herzinger commented on #206
@nenadjelovac no, it's a mistake. It makes no sense to add a border in normalize and remove it in reset. The border rule should be removed from normalize if that's the case.

[2016-10-24 11:50] anselmh commented on #206
I think the issue is a different one.

We seem to advertise a reset.css on top of normalize.css. I’m not sure if that’s intended and indeed this makes only little sense, since this involves a lot of resetting of previously set styles. Instead I think, we should either remove reset.css completely or make it separate from normalize as an alternative to it, not as an addition.

Then it’d make sense t

[2016-10-24 11:51] nenadjelovac commented on #206
@herzinger ah, I see the confusion there. You see, there is no scss version of normalize in the official [normalize.css repo](https://github.com/necolas/normalize.css). That's why copy/paste its code into inuitcss. We **do not** make any changes to normalize.

[2016-10-24 12:09] florianbouvot commented on #207
I prefer a specific repo to something like `PLUGINS.md` in the main repo.

[2016-10-24 13:15] csshugs commented on #212
@florianbouvot

In French ... Seriously?

😄

No seriously. Totally missed those articles. Seems to make sense to update our code.

[2016-10-24 13:20] csshugs commented on #207
...or even better: Providing a collection of all available plugins on the upcoming documentation site.

I would like to wait until inuitcss is out of beta, then announce it officially, advertise the usage/building of inuitcss plugins, see what happens, and **then** list them somewhere.

[2016-10-24 13:23] #212 closed

[2016-10-24 13:29] csshugs commented on #204
As mentioned somewhere else before, `rem`-units make most sense when font-sizes are concerned, which we cover with our `inuit-font-size` mixin. I (IMO) don't see any advantage in using `rem` units for `margin-bottom` etc. so I'm in favor of using just `px` values for that. If someone wants to combine `margin` declarations with `rem` values, there is postCSS to help them achieve that.

[2016-10-24 13:46] csshugs commented on #206
To make one thing clear beforehand: Although the file is named `_generic.reset.scss`, it is not the original [reset.css](http://meyerweb.com/eric/tools/css/reset/) by Eric Meyer. It is a ["very simple reset that sits on top of Normalize.css."](https://github.com/inuitcss/inuitcss/blob/c2474b18235d1af3f5e484fcf711e81811eff2ed/generic/_generic.reset.scss#L6), read: It enhances normalize.css.

@herzi

[2016-10-24 14:29] hayatbiralem commented on #207
I think it is quite reasonable.
Let's wait :)

[2016-10-24 14:29] #207 closed

[2016-10-24 16:16] fuhlig opened #214 "[settings.global] transition timing"
The transition-duration in `$global-transition` (despite being in example files) should not be written as a division as the output will be:
`transition: 0.33333333s;` (depending on precision)

Suggestion: 0.3s or 300ms

The transition should also include a property and timing-function otherwise it uses the default `all` and `linear`

[code]

This might be out of scope for the inuit framework but j

[2016-10-24 16:26] herzinger commented on #214
Seeing as it's only an example file, I don't see any problems here. You can do that in your own project if you want. There's no reason to make the exemple more complex.

[2016-10-24 17:09] herzinger commented on #113
This has nothing to do with `@import` order. If it was the case, it would be impractical to use, since source order is pretty essencial for css (and one of the main points of ITCSS). This happens because you want to load partials directly in your modules, and those modules are loaded without an predefined order. If you were to use a single stylesheet loaded in full only once, it wouldn't be a prob

[2016-10-24 22:51] clindsey commented on #214
@fuhlig I think you have a good point about how the examples should be pragmatic since they're likely going to be used as a reference whether that was the intention or not.

[2016-10-25 03:29] herzinger commented on #214
Look, I agree that the best way to go about something like this is the way @fuhlig pointed out. To be more precise, his "advanced" exemple. Incidentally, it's the way I use it myself. But rather than introducing complexity in a exemple file, I would first consider removing the transition variable from it altogether.

[2016-10-25 06:28] csshugs commented on #214
Just because it's an example file, we still should not promote bad practice, so I'm with @fuhlig here (his simple example).

[2016-10-25 06:49] nenadjelovac commented on #214
Fully agreed with @csshugs and @fuhlig here.

[2016-10-25 06:51] anselmh commented on #214
Okay folks, thanks for the feedback on it, we changed the example now to a better default value. 😊

[2016-10-25 06:51] #214 closed

[2016-10-25 07:43] nightgrey commented on #113
@herzinger I think I could've put it better, but I'm pretty sure we're talking about the exact same thing, we just misunderstood each other. Sorry for the confusion.

To make it clear: I'm not trying to say the import order WITHIN a file is random. The order is as expected if I import file C after file B in file A - no argument here. It would be awkward if this was random, and yes, order is ITCSS

[2016-10-25 09:05] csshugs opened #217 "[utilities.spacing] Provide responsive spacings"
@inuitcss/core
We desperately need responsive spacings!

I've adjusted the `utilities.spacings` partial:

[DEMO](http://www.sassmeister.com/gist/9de73c180a95ddf32c2b7911d385703f)

The idea is:
Having a Sass-map (3 levels deep) in which we/the user can define which variants should be generated. The map in the [Sassmeister demo](http://www.sassmeister.com/gist/9de73c180a95ddf32c2b7911d385703f) conta

[2016-10-25 10:41] herzinger commented on #217
I can take a look into it around the end of the week (I've been working around the clock, so it's a bit hard right now). But why the change of heart? I've seen responsive spacing suggestions get shot down more than once here, if I'm not mistaken.

[2016-10-25 10:54] herzinger commented on #206
b. If someone wants to actually have a border, it would first get set in normalize.css, then reset in reset.scss and then again set in a custom partial by the user.

@csshugs I agree 100℅, and that's more or less what I said in the issue/pr in question.

About normalize, if that's the case, I think it should be installed as a dependency like SassMq. You can import .css files into sass just fine.

[2016-10-25 11:10] csshugs commented on #206
@herzinger

This currently just works with libsass, unfortunately. That's why we cannot install it as a dependency and have to copy/paste it.

So we need a new name for it. Any suggestions?

[2016-10-25 11:15] csshugs commented on #217
@herzinger

It got shot down because it would have been: All responsive spacing variants or none (i.e. one huge block of generated CSS at once).

When my proposed solution works, it would be a perfect opt-in mechanism for the inuitcss users. Just add those spacings you need by add values to the map.

[2016-10-25 11:22] herzinger commented on #217
@csshugs yes, but at the cost of a lot more complexity.

[2016-10-25 11:27] csshugs commented on #217
@herzinger
I'd argue that it's not that much more complexity than [the spacings as we have them now](https://github.com/inuitcss/inuitcss/blob/715402a4608421148f85229e9e884e1e43bad02d/utilities/_utilities.spacing.scss).

But yeah, it's a compromise ultimately. That's why I struggled to implement responsive spacings in the first place.

But IMO, responsive spacings are the only big thing left in in

[2016-10-25 20:37] herzinger commented on #217
IMO a 3 level deep configuration sass map is way too complex for not that much value. Also, I think that kinda cherry-picking fells a bit awkward. But I'll take a look. There are some simpler ways to accomplish this.

[2016-10-26 15:31] herzinger opened #218 "Changelog"
Between version bumps, there is bound to have some breaking chances. Evento minor chances should be documented in my opinion. Since every change to inuitcss is done via pull requests, it should be fairly easy to create a simple changelog. I can create one with the changes from beta-3 to beta-4, and we can add from there at every merge in master, before tagging.

Last time I updated there were some

[2016-10-26 15:35] herzinger commented on #218
Better yet would be to update this changelog at every PR merge in the develop branch.

[2016-10-26 21:22] herzinger opened #219 "normalize as a dependency"
About normalize, we should use it as an npm dependency, as I mentioned in issue #206.

We can just copy the file to where we need it, changing the extension to `.scss` in a simple `postinstall npm script`. Nothing would change for the users. May I make a PR for that?

[2016-10-26 21:27] herzinger commented on #206
@csshugs I'll try and think of a name.

In the meantime, [this](https://github.com/inuitcss/inuitcss/blob/e67e7541ce5837c5dc77b23c15c64da09d22e2f4/generic/_generic.reset.scss#L52) should be removed and this issue closed, if I follow, right?

[2016-10-27 07:11] anselmh commented on #219
@herzinger yes, that’d be a good idea in _my_ opinion.

[2016-10-27 15:47] herzinger commented on #206
To be honest, what our "reset" is is nothing more than a extension of normalize. What we do there wouldn't be out of place as a pull request for the official one. To keep it as it is, as a second partial, we could name it something like "equalize" or "fine-tune", or even embrace that idea and go something like "extend-normalize" or "inuit-normalize" or even name our own "normalize" and import the

[2016-10-28 05:52] csshugs commented on #218
@herzinger

I think this is a great idea!

Would you mind to open a PR for this?

[2016-10-28 06:00] csshugs commented on #219
Personally, I also like this idea. But I like to add that running an extra script is an extra potentially point of failure. Currently the user could (although it's not recommended) just download this repo without needing to run a npm script or something to be ready to start using inuitcss.

On the other hand, when downloading inuitcss manually, Sass-MQ has to be downloaded manually, too.

[2016-10-28 06:36] anselmh commented on #218
I partly agree to this but first want to mention that Git/Github provides tools for this automatically, so I wonder if we really need a manually written changelog.

1. **Commit history:** This should give you a full idea on what’s changed between versions. If commit messages are written clearly, this should ideally be already enough.
2. **[Github releases](https://github.com/inuitcss/inuitcss/rele

[2016-10-28 06:37] anselmh commented on #219
Exactly. I think we can expect users to do this. We need to document the reliance on normalize.css but apart from that, I think it’s the best way to use a direct dependency. Much less effort for us to maintain a custom port of normalize.scss and instant updates for our users if a new normalize.css is published.

[2016-10-31 11:19] hayatbiralem opened #220 "[objects.pack] Default vertical alignment definition is missing"
Hi,

I noticed just now default vertical alignment definition is missing so items aligning to [baseline](http://www.w3schools.com/cssref/pr_pos_vertical-align.asp).

I think we have two choices:

### Choice 1

We can define default alignment to `top`.

[code]

### Choice 2

.. or we can keep default baseline alignment and define new modifier for `top`.

[code]

What do you think about this?

[2016-11-01 18:20] florianbouvot commented on #219
Sorry for commit mistake, I think it work for npm.

[2016-11-01 18:22] anselmh commented on #219
Cool, cool. Bower should work the same way if we add it to the bower.json file as well.

[2016-11-01 18:51] florianbouvot commented on #220
@hayatbiralem thank you, [objects.pack](https://github.com/inuitcss/objects.pack/blob/master/_objects.pack.scss) from alpha version have no default vertical alignement too.

[2016-11-01 20:21] nenadjelovac commented on #220
I prefer solution number 1 (`vertical-align: top;` being the default state).

[2016-11-02 11:10] mmzoo commented on #218
I disagree. When I seek to upgrade inuit, there is no way I can see what is breaking and non-breaking by browsing through hundreds of commits. Additionally, not all commits change behavior.

Yes, the changelog could be added to the releases. But firstly, there is no way for contributors to do that, and secondly, it's not in version control.

If there is a CHANGELOG.md, it's easy to comment on any

[2016-11-02 11:39] mmzoo commented on #3
I might be misunderstanding something, but if the main goal is "pointing back to inuitcss", then MIT is on a par with Apache, isn't it?

How is this a benefit rather than introducing uncertainty and a gray area as @dudezilla80 validly pointed out?

And the fact that everybody here seeks individual confirmation on those gray areas by @csswizardry points into the direction of MIT.

Either way, thank

[2016-11-02 18:04] florianbouvot commented on #201
I read again this issue and I think we can use custom proprieties at project level:

[code]

[2016-11-02 19:21] nenadjelovac commented on #201
@florianbouvot support is [_kinda_ good](http://caniuse.com/#feat=css-variables) IMO :) :D

[2016-11-02 19:58] florianbouvot commented on #217
If we remove some customization and assume a naming like `u-margin-direction-size\@breakpoint` can we reduce complexity?

[2016-11-03 06:59] hayatbiralem commented on #201
@florianbouvot your approach is very nice and cleaner, thanks :)
@nenadjelovac I think we don't need CSS Vars at the moment. For example this is good for me:

[code]

[2016-11-03 07:35] hayatbiralem commented on #217
I think responsive spacings are good for everyone.
I wrote a cleaner code for this in [here](http://www.sassmeister.com/gist/5fe744a2833a2e092cc20fdc91e4c073) with a sass mixin.

Hope this helps ✌️

[2016-11-03 07:37] florianbouvot commented on #217
It looks good, thank you @hayatbiralem

[2016-11-03 15:03] nearkingdom opened #222 "Error - Functions can only contain variable declarations and control directives"
On line 12 of _tools.rem.scss I get the following error:

**Functions can only contain variable declarations and control directives.**

`@error "`#{$value}` needs to be a pixel value.";`

[code]

[2016-11-03 15:31] anselmh commented on #222
Can you please share what code triggered the error, @nearkingdom?

[2016-11-03 17:01] nearkingdom commented on #222
I noticed the the message appears in Live Reload when I using gulp.

[2016-11-03 17:04] anselmh commented on #222
But are you using the mixing anywhere in your code? If so, please share how you use it and with which value. Thanks :)

[2016-11-05 10:11] twittkopf opened #223 "Increase reusability of list-inline object"
To make the [list-inline object](https://github.com/inuitcss/inuitcss/blob/develop/objects/_objects.list-inline.scss) more versatile, the CSS `attr()` function and a data attribute could be used to define the delimiter inside the HTML markup, like so:

[code]

[code]

This conforms to the CSS 2.1 usage of `attr()` which is supported in [basically every browser](http://caniuse.com/#feat=css-gencont

[2016-11-06 07:34] davidbwaters opened #225 "Update readme to install as dependency, not dev dependency?"
Just noticed the readme suggests using NPM/Bower to install inuit as a dev dependency ('--save-dev;).  I would think it should be installed with '--save' to be a regular dependency, reserving dev dependencies for non-essential stuff like unit testing, packaging scripts, documentation generation, etc.

[2016-11-06 09:59] hayatbiralem commented on #223
This is interesting approach, thanks but I think it is not necessary.

Maybe new pseudo content utilities fits your needs and those will be useful for any different possibilities. You can use utilities with other objects and components.

A pen for my opinion [here](http://codepen.io/hayatbiralem/pen/ObPpvv?editors=1100) and related codes are below.

## CSS

[code]

## HTML

[code]

What do you thi

[2016-11-06 16:41] twittkopf commented on #223
I like the idea of using utility classes for this. It suits the intention really well – since the delimiter is actually not part of the content, it seems reasonable to regard it as implementation detail.

On the other hand, theoretically speaking, including the delimiter as part of the framework might be a bit opinionated then, don't you think? If it's okay to have a comma in there, why not re add

[2016-11-06 16:53] florianbouvot commented on #225
Thanks @davidbwaters.

[2016-11-06 17:20] twittkopf commented on #225
This might not be correct, depending on the way you see it.

npm is widely used for non Node projects, the differentiation between `dependencies` and `devDependencies` does not necessarily apply. In many frontend projects, all code served to the browser is compiled, there are no runtime dependencies. This would mean that there are no `dependencies`, only `devDependencies` – all dependencies are in

[2016-11-06 21:24] hayatbiralem commented on #223
I think you are right. IMO the delimited inline list is unnecessary, I never use it before but if I need to delimited list in the future probably I'll going with custom component.

Maybe we must remove delimited modifier from list-inline object. What does @inuitcss/core think about this issue?

[2016-11-06 22:17] florianbouvot commented on #225
@twittkopf thank you, I think you're right 👍

[2016-11-06 23:26] davidbwaters commented on #225
Good call.  While I agree that the semantics argument that both could be considered `devDependencies`, I think the fact that we have the optional distinction indicates a reasonable way to use them.  It makes sense (to me) that the `dependencies` designation would represent the 'minimum viable' code to use and as an indicator of what's nonessential for something to work.

BTW, before bringing this

[2016-11-06 23:44] davidbwaters commented on #124
While it is such a small thing, I noticed trying to be consistent with it was difficult.  I think many choosing Inuit are standards evangelists and could be bothered by this.  ;)

[2016-11-07 09:52] nearkingdom commented on #222
I'm not sure I totally understand the question,

I'm referencing the _tools.rem.scss file in my node_modules folder from my main.scss file which live reload reads:

`@import "../../node_modules/inuitcss/tools/tools.rem";`

I guess the function inuit-rem is being used within _compontent.buttons.scss which is also being used referenced in main.scss.

[2016-11-07 10:43] herzinger commented on #225
As I see it, anything that goes on to become part of the production code is a `dependency`, which makes the issue correct.

[2016-11-07 10:50] herzinger commented on #3
@mmzoo no, it just means we want to hear from the original author, and he's not active here for a long while. To be honest, I see no gray areas and I already have demonstrated a lot.

[2016-11-07 10:59] herzinger commented on #223
I don't think anything should be changed. The current approach is good enough for most implementations, so it's okay for the framework, and both your solutions are fine in a project level if you need it.

[2016-11-07 13:46] dudezilla80 commented on #3
@herzinger There are certainly gray areas. As a matter of fact, the company I'm working for didn't allow me to use InuitCSS because it was too risky for them legally wise (in the event that the author tried to make a "profit" from those gray areas).

[2016-11-07 14:56] herzinger commented on #222
@nearkingdom what @anselmh wants to know is how you are using the function in your own code, to see if you are using it wrong. That being said, I found some issues with similar errors in the `libsass` repository concerning `@else` in one of their beta versions. `gulp-sass` uses `libsass` internally, so could you try and see in your `package.json` what version of `gulp-sass` you are using?

Also, t

[2016-11-07 19:07] twittkopf commented on #219
What do you think about creating a symlink to normalize.css instead of copying the file, wouldn't that be a bit more elegant?

_Disclaimer: I don't know if/how this works on Windows._

[2016-11-07 19:32] twittkopf commented on #223
Not all languages use a comma to separate list items. Even if `$inuit-list-inline-delimiter` can be used to set a different delimiter at build time, this could add quite some complexity to projects where a separate build for each language is created. I think it would be better to deal with that complexity at component level and not at object level.

In my opinion, things like this should be consid

[2016-11-07 19:35] anselmh commented on #219
That’s exactly the reason why we don’t do this. Symlinks work fundamentally different between different operating systems and therefore it’s not a good idea to depend on a symlink via npm script in an open source project, in my opinion.

[2016-11-07 22:47] herzinger commented on #219
That's not even the problem. If we would do that, we could simply link from `node_modules` (or the bower equivalent), but we want to change the extension to be able to `@import` into our sass files.

[2016-11-08 13:54] nearkingdom commented on #222
I guess I'm not using the function at all - I'm just referencing the file - I havn't written any code yet.
@import "../../node_modules/inuitcss/tools/tools.rem";

I made sure I'm on gulp-sass 2.3.2 and I get the same errors.

I have commented out the function while I work on the project.

[2016-11-08 18:56] herzinger commented on #222
@nearkingdom I see. Is the project you are working on up somewhere I can take a look at it? I feel like it has something to do with your setup.

That being said, this is not a vital function. In fact, theres an [open thread](https://github.com/inuitcss/inuitcss/issues/204) about removing it from the framework and I think it would survive until the next version bump. Even so, It would be nice to un

[2016-11-09 12:34] hayatbiralem opened #228 "[utilities.spacing] improve list definitions and let vertical/horizontal directions"
Hi,

## First

I think `$inuit-spacing-directions` and `$inuit-spacing-properties` are nice but their use is faulty.

For example usage of size variable is right:

[code]

But usages of property and direction are wrong:

[code]

`$property-namespace` variable is in the wrong place. It must be this way:

[code]

**I think we should do this improvement.**
First part is done.

## Second

If we use it

[2016-11-09 14:40] herzinger commented on #228
@hayatbiralem You are wrong, and I really can't see why would you think otherwise, really.

The convention, following the usage of `foreach` loops or similar functions in most languages that have it, is `key, value`, which is how it is today. Your version works just the same, but there is no reason to make this change, and the most conventional order is the current one.

The only improvement I see

[2016-11-09 14:54] herzinger commented on #223
@twittkopf the comma is just a placeholder. If you gonna use the object, you'll want to predefine the variable in the settings part of your project.

i.e.: I use it with ` > `, for breadcrumbs

There is one think I like in the `attr()` approach: that way you can have different types of delimiters in the same project from the get go, but them you HAVE to set the data attribute every time you use it

[2016-11-09 15:44] hayatbiralem commented on #228
@herzinger  If am I wrong, is the following code correct?

[code]

Lists can not be a key but namespaces can so namespaces must always be used as key in my opinion. I think this approach is the best practise.

Also css declaration order is the same:

[code]

Direction namespace came first and value came after.

You are right, partly, it can be used in two ways if only string values are used, but i

[2016-11-09 15:56] herzinger commented on #219
I got ill last week and ended up not doing some things I promised. Is this issue done with already?

[2016-11-09 16:14] herzinger commented on #228
@hayatbiralem I see, your way makes it easier to set multiple rules to some directions.
Okay, I maintain that under normal circunstancies, the current order is the best convention, and that you were wrong in saying it was wrong at the start (it's not), but if there's a plausible reason (there is), I see no problem in changing the direction. I stand corrected, LGTM.

Allowing easier special directi